<!doctype html>
<html class="no-js" lang="ru">
    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="page__wrapper">
          {{> header/header }}

          <section class="trening-main">
            <div class="trening-main__content">
              <div class="trening-main__info">
                <div class="breadcrumbs">
                  <ul>
                    <li><a href="#">Главная</a></li>
                    <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                    <li><a href="#">Тренинг</a></li>
                    <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                    <li><a href="#">Тайм Менеджмент</a></li>
                  </ul>
                </div>
                <h2 class="section-title section-title--big">
                  Тренинг <br />"Тайм-менеджмент"
                </h2>
                <p>Хотите все успевать, ничего не упуская и используя время максимально эффективно?  Некоторые обладают этим качеством от рождения, но таких людей очень мало. Большинству же требуется дополнительное обучение и тайм-менеджмент — это как раз то, что нужно. </p>
                <div class="trening-main__button">
                  <button class="submit-button submit-button--signin">Записаться</button>
                </div>
                <img class="trening-main__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
              </div>
              <div class="trening-main__baner">
                <div class="close-events__feature">
                  <div class="trenings__wrapper">
                    <img class="trenings__image" src="%=static=%img/content/trening-main.png" alt="trening main">
                    <div class="trenings__feature">
                      <h4 class="trenings__feature-subtitle">Продолжительность:</h4>
                      <p class="trenings__feature-text">10 месяцев</p>
                      <h4 class="trenings__feature-subtitle trenings__feature-subtitle--price">Стоимость:</h4>
                      <p class="trenings__feature-text">750 грн</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="image-list">
            <div class="image-list__content">
              <div class="our-team__image-box">
                <img src="%=static=%img/content/trening-list.png" alt="Trening">
              </div>
              <div class="image-list__info">
                <h2 class="section-title">
                  Тренинг «Тайм-менеджмент» будет вам полезен, если:
                </h2>
                <div class="marked-list">
                  <ul>
                    <li>У вас очень много дел, задач, встреч и проектов</li>
                    <li>Вы регулярно опаздываете</li>
                    <li>Вам катастрофически не хватает времени для реализации  планов</li>
                  </ul>
                  <ul>
                    <li>Вам сложно распределять дела по приоритету</li>
                    <li>Вы ищите  дополнительную мотивацию</li>
                    <li>Вы хотите упорядочить свою работу так, чтобы ничего не упускать и в то же время не перенапрягаться</li>
                  </ul>
                </div>
                <p class="image-list__text">Мы научим вас оптимально использовать время, многое успевая и не теряя вкус жизни!</p>
              </div>
            </div>
          </section>

          <section class="plan">
            <div class="plan__content">
              <h2 class="section-title">План Тренинга</h2>
              <div class="accordion" id="accordionExample">
                <div class="accordion__item">
                  <div id="headingOne">
                    <button class="btn btn-link vertical-align" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <h3 class="plan__title">1. Целеполагание</h3>
                      <img src="%=static=%img/content/icon-angle-down.svg" alt="angle down">
                    </button>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="plan__img">
                        <img src="%=static=%img/content/trening-plan.png" alt="trening plan">
                      </div>
                      <div class="plan__info">
                        <ul>
                          <li>Зоны ответственности. «Колесо жизни»</li>
                          <li>Осознанное и неосознанное целеполагание</li>
                          <li>Основные ценности личности. Определение своих ведущих ценностей</li>
                        </ul>
                        <ul>
                          <li>Стратегические, тактические, оперативные цели. </li>
                          <li>Как делать работу за 5 этапов</li>
                          <li>Система постановки целей smart </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion__item">
                  <div id="headingTwo">
                    <button class="btn btn-link vertical-align collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h3 class="plan__title">2. Планирование</h3>
                      <img src="%=static=%img/content/icon-angle-down.svg" alt="angle down">
                    </button>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="accordion__item">
                  <div id="headingThree">
                    <button class="btn btn-link vertical-align collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <h3 class="plan__title">3. Самомотивация</h3>
                      <img src="%=static=%img/content/icon-angle-down.svg" alt="angle down">
                    </button>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
              <div class="plan__button">
                <button class="submit-button submit-button--signin">Записаться</button>
              </div>
              <img class="plan__triangle" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="plan__ellipse-top" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
              <img class="plan__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
            </div>
          </section>

          <section class="text-section">
            <div class="text-section__content">
              <h3>Мы предоставляем структурированный и легко усвояемый теоретический материал. Очень много практических упражнений сформируют у вас навык красивой и убедительной речи</h3>
            </div>
          </section>

          <section class="points">
            <div class="points__content">
              <div class="points__info">
                <h2 class="section-title">
                  Наш трениг преодоление конфликтов имеет следующие цели
                </h2>
                <div class="marked-list">
                  <ul>
                    <li>Опробовать на практике навыки, необходимые для выступлнеия перед трудной публикой</li>
                    <li>Развить способности к ораторскому выступлению, навыки общения с реальной аудиторией</li>
                    <li>Срздавать благоприятное впечатление у зрителей и поддеживать контакт с ними</li>
                    <li>Управлять своей речью и удерживать внимание зрителей нужное время</li>
                    <li>Отработать жесты, позы благодаря чему многократно усиливается эффект выступения</li>
                    <li>Познакомиться и начать применять образность, элементы красноречия, техники убеждения и иные приемы влияния, что превратит любое ваше выступление в искусство публичной речи</li>
                    <li>Преодолеть волнение и страх публичного выступления</li>
                  </ul>
                </div>
              </div>
              <div class="points__image">
                <img src="%=static=%img/content/point-image.png" alt="points image">
              </div>
              <img class="points__triangle" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="points__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
            </div>
          </section>

          <section class="we-pro we-pro--text">
            <div class="we-pro__content">
              <div class="we-pro__image-box">
                <img class="we-pro__image" src="%=static=%img/content/we.png" alt="our team">
              </div>
              <div class="we-pro__info">
                <div class="we-pro__title">
                  <h2 class="section-title">Мы все являемся частью своей родовой системы</h2>
                </div>
                <p>Мы все являемся частью своей родовой системы. Взаимодействие происходит  минимум с 7 поколениями, ближайшие 2-3 оказывают наибольшее влияние на нас.  Часто бывает так, что наши проблемы  имеют связь с проблемами в нашем роду. </p>
                <p>Поэтому работа с родом, его очищение – важная задача на пути к счастью, благополучию и реализации, наших и вместе с тем, наших потомков. В идеале род должен давать силу потомкам, подпитывать благостной и чистой энергией. На практике это бывает иначе. </p>
                <p>Ошибки, которые совершали предки, часто вешаются на нас, их ситуации дублируются в нашей жизни. Это происходит при наличии созвучного кармического опыта</p>
                <p>Поэтому работа с родом, его очищение – важная задача на пути к счастью, благополучию и реализации, наших и вместе с тем, наших потомков. В идеале род должен давать силу потомкам, подпитывать благостной и чистой энергией. На практике это бывает иначе. </p>
                <p>Ошибки, которые совершали предки, часто вешаются на нас, их ситуации дублируются в нашей жизни. Это происходит при наличии созвучного кармического опыта</p>
              </div>
            </div>
          </section>

          <section class="italic-text">
            <div class="italic-text__content">
              <h3>Авторский тренинг Александра Харина “Моделирование реальности. Создаем счастье своими руками” направлен на то. чобы помосчь каждому участику оказаться в потоке жизни и в потоке своей реализации</h3>
            </div>
          </section>

          <section class="we-pro we-pro--text we-pro--padded">
            <div class="we-pro__content">
              <div class="we-pro__info">
                <div class="we-pro__title">
                  <h2 class="section-title">Мы все являемся частью своей родовой системы</h2>
                </div>
                <p>Мы все являемся частью своей родовой системы. Взаимодействие происходит  минимум с 7 поколениями, ближайшие 2-3 оказывают наибольшее влияние на нас.  Часто бывает так, что наши проблемы  имеют связь с проблемами в нашем роду. </p>
                <p>Поэтому работа с родом, его очищение – важная задача на пути к счастью, благополучию и реализации, наших и вместе с тем, наших потомков. В идеале род должен давать силу потомкам, подпитывать благостной и чистой энергией. На практике это бывает иначе. </p>
                <p>Ошибки, которые совершали предки, часто вешаются на нас, их ситуации дублируются в нашей жизни. Это происходит при наличии созвучного кармического опыта</p>
                <p>Поэтому работа с родом, его очищение – важная задача на пути к счастью, благополучию и реализации, наших и вместе с тем, наших потомков. В идеале род должен давать силу потомкам, подпитывать благостной и чистой энергией. На практике это бывает иначе. </p>
                <p>Ошибки, которые совершали предки, часто вешаются на нас, их ситуации дублируются в нашей жизни. Это происходит при наличии созвучного кармического опыта</p>
              </div>
              <div class="image-box-bg">
                <img class="we-pro__image" src="%=static=%img/content/consultation.png" alt="consultation">
              </div>
            </div>
          </section>

          <section class="centered-list">
            <div class="centered-list__content">
              <h2 class="section-title">Мы все являемся частью своей родовой системы</h2>
              <div class="plan__info">
                <ul>
                  <li>Преодолеть волнение и страх публичного выступления</li>
                  <li>Развить способности к ораторскому выступлению, навыки общения с реальной аудиторией</li>
                  <li>создавать благоприятное первое впечатление у зрителей и поддерживать контакт с ними</li>
                  <li>управлять своею речью и удерживать внимание зрителей нужное время</li>
                  <li>отработать жесты и позы, благодаря чему многократно усиливается эффект выступления;</li>
                  <li>развить умение говорить внятно, логично, грамотно, и вместе с тем выразительно и эмоционально</li>
                  <li>пробовать на практике навыки, необходимые для выступления перед «трудной» публикой</li>
                  <li>познакомиться и начать применять образность, элементы красноречия, техники убеждения и иные приемы влияния, что превратит любое ваше выступление в искусство публичной речи</li>
                </ul>
              </div>
            </div>
          </section>

          <section class="author">
            <div class="author__content">
              <div class="author__image">
                <img src="%=static=%img/content/natali.png" alt="Author">
              </div>
              <div class="author__text">
                <h3 class="author__title">Наталья Шевцова</h3>
                <h3 class="author__sub-title">Автор и ведущая тренинга “Тайм-менеджмент”</h3>
                <p class="author__text">Тренер образовательных программ,  создатель и ведущая тренинга для женщин,  ведущая «Школы осознанных отношений», специалист по речевым коммуникациям, психолог-практик с опытом проведения индивидуальных психологических консультаций.</p>
              </div>
            </div>
          </section>

          <section class="info-block info-block--blue">
            <div class="info-block__content">
              <div class="info-block__title">
                <h2 class="section-title">В стоимость входит</h2>
              </div>
              <div class="info-block__text">
                <ul>
                  <li>Информационно-консультативное обслуживание на тренинге</li>
                  <li>Обучающее пособие</li>
                  <li>Кофе-брейк</li>
                  <li>Обсуждение докладов и обмен мнениями с лектором</li>
                  <li>По окончании выдается свидетельство о прохождении курса “Активные продажи”</li>
                </ul>
              </div>
            </div>
          </section>

          <section class="info-block">
            <div class="info-block__content">
              <div class="info-block__title">
                <h2 class="section-title">Дополнительная информация</h2>
              </div>
              <div class="info-block__text">
                <ul>
                  <li>Группа проводится в закрытом формате</li>
                  <li>Включиться в работу в середине обучения невозможно</li>
                  <li>Занятия посещать через раз нельзя</li>
                  <li>С компанией, заказавшей тренинг, подписывается договор, участниками занятий заполняются анкеты, по окончании выдается бухгалтерский пакет документов</li>
                </ul>
              </div>
            </div>
          </section>

          <section class="discounts">
            <div class="discounts__content">
              <h2 class="section-title">Постоянные скидки</h2>
              <!-- item -->
              <div class="discounts__item">
                <div class="discounts__image discounts__image--top-rounded">
                  <img src="%=static=%img/content/discount1.png" alt="discount">
                </div>
                <div class="discounts__info">
                  <h2 class="discounts__info-title">Оплачивайте заранее: </h2>
                  <div class="discounts__type">
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-5%</div>
                      <p class="dicounts__text">при полной оплате курса за две недели до тренинга</p>
                    </div>
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-10%</div>
                      <p class="dicounts__text">при оплате всей стоимости курса за месяц до тренинга</p>
                    </div>
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-15%</div>
                      <p class="dicounts__text">при оплате всей стоимости курса за полтора месяца и более</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- item -->
              <div class="discounts__item discounts__item--bg-colored">
                <div class="discounts__image">
                  <img src="%=static=%img/content/discount2.png" alt="discount">
                </div>
                <div class="discounts__info">
                  <h2 class="discounts__info-title">Пригласите друзей: </h2>
                  <div class="discounts__type">
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-7%</div>
                      <p class="dicounts__text">при оплате всей стоимости курса за двоих</p>
                    </div>
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-10%</div>
                      <p class="dicounts__text">при оплате всей стоимости курса за троих</p>
                    </div>
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-15%</div>
                      <p class="dicounts__text">при оплате всей стоимости курса за четверых и более</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- item -->
              <div class="discounts__item">
                <div class="discounts__image discounts__image--bottom-rounded">
                  <img src="%=static=%img/content/discount3.png" alt="discount">
                </div>
                <div class="discounts__info">
                  <h2 class="discounts__info-title">Покупайте несколько образовательных программ: </h2>
                  <div class="discounts__type">
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-17%</div>
                      <p class="dicounts__text">от общей суммы, при покупке сразу двух образовательных программ.</p>
                    </div>
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-30%</div>
                      <p class="dicounts__text">от общей суммы, при покупке сразу трех образовательных программ</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="we-pro we-pro--text we-pro--certificate">
            <div class="we-pro__content">
              <div class="we-pro__info">
                <div class="we-pro__title">
                  <h2 class="section-title">Подарочный сертификат</h2>
                </div>
                <p>Теперь вы сможете подарить своим родным и близким полезный и приятный подарок – сертификат на посещение тренингового центра «Живое Слово». Получатель сертификата сможет сам по желанию выбрать ту или иную тренинговую программу, консультацию или другой вид услуг в нашем центре.</p>
                <p>Вы можете оплатить подарок через систему оплаты или наличными и подъехать за ним к нам в офис.</p>
                <p>Сертификат можно приобрести на сумму: 250, 500, 1000, 1500, 2000 грн</p>
              </div>
              <div class="image-box__simple">
                <img class="we-pro__image" src="%=static=%img/content/certificate.png" alt="certificate">
              </div>
            </div>
          </section>

          <section class="reviews-slider">
            <div class="reviews-slider__content">
              <h2 class="section-title">Отзывы о тренинге Тайм-менеджмент</h2>
              <div class="reviews-slider__slider">
                <div class="reviews-slider__item">
                  <div class="reviews-slider__info">
                    <p class="reviews-slider__text">Немалая заслуга школы и в том, что у меня сейчас любящие и доверительные отношения с близкими людьми. Пришло принятие их такими, какие они есть. Я смог убрать постоянные внутренние претензии к тому, что близкие не...</p>
                    <a class="reviews-slider__more vertical-align" href="https://facebook.com" target="_blank">
                      читать далее
                      <img class="reviews-slider__more-icon" src="%=static=%img/content/icon-facebook.svg" alt="facebook">
                    </a>
                  </div>
                  <div class="reviews-slider__image">
                    <img src="%=static=%img/content/slide-man.png" alt="man">
                  </div>
                </div>
                <div class="reviews-slider__item">
                  <iframe width="423" height="254" src="https://www.youtube.com/embed/q_MSWqODDXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="reviews-slider__item">
                  <div class="reviews-slider__info">
                    <p class="reviews-slider__text">Все занятия проходили в дружеской обстановке и все были интересными, но больше всего запомнилось второе занятие :) Благодаря опытным специалистам , атмосфера была непринужденной</p>
                    <a class="reviews-slider__more vertical-align" href="https://facebook.com" target="_blank">
                      читать далее
                      <img class="reviews-slider__more-icon" src="%=static=%img/content/icon-facebook.svg" alt="facebook">
                    </a>
                  </div>
                  <div class="reviews-slider__image">
                    <img src="%=static=%img/content/slide-girl.png" alt="girl">
                  </div>
                </div>
                <div class="reviews-slider__item">
                  <div class="reviews-slider__info">
                    <p class="reviews-slider__text">Немалая заслуга школы и в том, что у меня сейчас любящие и доверительные отношения с близкими людьми. Пришло принятие их такими, какие они есть. Я смог убрать постоянные внутренние претензии к тому, что близкие не...</p>
                    <a class="reviews-slider__more vertical-align" href="https://facebook.com" target="_blank">
                      читать далее
                      <img class="reviews-slider__more-icon" src="%=static=%img/content/icon-facebook.svg" alt="facebook">
                    </a>
                  </div>
                  <div class="reviews-slider__image">
                    <img src="%=static=%img/content/slide-man.png" alt="man">
                  </div>
                </div>
                <div class="reviews-slider__item">
                  <iframe width="423" height="254" src="https://www.youtube.com/embed/q_MSWqODDXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="reviews-slider__item">
                  <div class="reviews-slider__info">
                    <p class="reviews-slider__text">Все занятия проходили в дружеской обстановке и все были интересными, но больше всего запомнилось второе занятие :) Благодаря опытным специалистам , атмосфера была непринужденной</p>
                    <a class="reviews-slider__more vertical-align" href="https://facebook.com" target="_blank">
                      читать далее
                      <img class="reviews-slider__more-icon" src="%=static=%img/content/icon-facebook.svg" alt="facebook">
                    </a>
                  </div>
                  <div class="reviews-slider__image">
                    <img src="%=static=%img/content/slide-girl.png" alt="girl">
                  </div>
                </div>
              </div>
              <img class="reviews-slider__icon" src="%=static=%img/content/icon-review.svg" alt="icon">
              <img class="reviews-slider__icon-rotated" src="%=static=%img/content/icon-review.svg" alt="icon">
            </div>
          </section>

          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
          {{> footer/footer}}
        </footer>

      <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
      <script>svg4everybody();</script>

      <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
      <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
