<!doctype html>
<html class="no-js" lang="ru">
    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="page__wrapper">
          {{> header/header }}

          <section class="trening-main trening-main--school">
            <div class="trening-main__content">
              <div class="trening-main__info">
                <div class="breadcrumbs">
                  <ul>
                    <li><a href="#">Главная</a></li>
                    <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                    <li><a href="#">Школа</a></li>
                    <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                    <li><a href="#">Духовного развития</a></li>
                  </ul>
                </div>
                <h2 class="section-title section-title--big">
                  Школа духовного развития
                </h2>
                <p>Понимая законы, по которым существует наша Вселенная, осознав свои истинные ценности, очистившись от негатива и научившись чувствовать и слышать свою Душу, вы станете глубже и гармоничнее. Это состояние даст новый, более осмысленный взгляд на жизнь, стойкость в критических ситуациях и тонкое чувствование мира</p>
                <div class="trening-main__button">
                  <button class="submit-button submit-button--signin">Записаться</button>
                </div>
              </div>
              <div class="trening-main__baner">
                <div class="close-events__feature">
                  <div class="trenings__wrapper trenings__wrapper--school">
                    <img class="trenings__image" src="%=static=%img/content/consultation-wide.png" alt="trening main">
                    <div class="trenings__feature">
                      <h4 class="trenings__feature-subtitle">Продолжительность:</h4>
                      <p class="trenings__feature-text">10 месяцев</p>
                      <h4 class="trenings__feature-subtitle trenings__feature-subtitle--price">Время проведения</h4>
                      <p class="trenings__feature-text">пн, пт 18:00</p>
                      <h4 class="trenings__feature-subtitle">Стоимость:</h4>
                      <p class="trenings__feature-text">750 грн</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="image-list">
            <div class="image-list__content">
              <div class="our-team__image-box our-team__image-box--school">
                <img src="%=static=%img/content/trening-list.png" alt="Trening">
              </div>
              <div class="image-list__info">
                <h2 class="section-title">
                  Практические занятия включают в себя:
                </h2>
                <div class="marked-list">
                  <ul>
                    <li>Развитие тонкой (экстрасенсорной) чувствительности себя и мира</li>
                    <li>Диагностика своего здоровья и здоровья других людей</li>
                    <li>Диагностика своего здоровья и здоровья других людей</li>
                    <li>Умение ясно видеть свои ценности и делать осознанный выбор для своего развития</li>
                  </ul>
                  <ul>
                    <li>Диагностика ситуаций и возможностей в настоящем и будущем</li>
                    <li>Поднятие своего психического и энергетического потенциала</li>
                    <li>Практики прощения и освобождения от негатива</li>
                  </ul>
                </div>
              </div>
            </div>
          </section>

          <section class="plan">
            <div class="plan__content plan__content--school">
              <h2 class="section-title">На лекциях расматриваются следующие темы:</h2>
              <div class="accordion" id="accordionExample">
                <div class="accordion__item">
                  <div id="headingOne">
                    <button class="btn btn-link vertical-align" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <h3 class="plan__title">1. Строение тонких тел</h3>
                      <img src="%=static=%img/content/icon-angle-down.svg" alt="angle down">
                    </button>
                  </div>

                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="plan__img">
                        <img src="%=static=%img/content/trening-plan.png" alt="trening plan">
                      </div>
                      <div class="plan__info">
                        <ul>
                          <li>Зоны ответственности. «Колесо жизни»</li>
                          <li>Осознанное и неосознанное целеполагание</li>
                          <li>Основные ценности личности. Определение своих ведущих ценностей</li>
                        </ul>
                        <ul>
                          <li>Стратегические, тактические, оперативные цели. </li>
                          <li>Как делать работу за 5 этапов</li>
                          <li>Система постановки целей smart </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion__item">
                  <div id="headingTwo">
                    <button class="btn btn-link vertical-align collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h3 class="plan__title">2. Энергетика и способы ее пополнения</h3>
                      <img src="%=static=%img/content/icon-angle-down.svg" alt="angle down">
                    </button>
                  </div>
                  <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="plan__img">
                        <img src="%=static=%img/content/tree.png" alt="trening plan">
                      </div>
                      <div class="plan__info">
                        <ul>
                          <li>Духовные законы Вселенной</li>
                          <li>Энергетический раскол, способы его преодоления</li>
                          <li>Причины падения психической энергии</li>
                          <li>Энергетические проблемы при духовном росте</li>
                          <li>Психические проблемы в теле</li>
                          <li>Влияние эмоций на окружающих</li>
                        </ul>
                        <ul>
                          <li>Энергетические вампиры и доноры</li>
                          <li>Правила сохранения энергии</li>
                          <li>Энергетическая защита духовным ростом</li>
                          <li>Виды энергетических защит</li>
                          <li>Сохранение энергии и наращивание энергетического потенциала, необходимого для собственной реализации</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion__item">
                  <div id="headingThree">
                    <button class="btn btn-link vertical-align collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <h3 class="plan__title">3. Ценности человека</h3>
                      <img src="%=static=%img/content/icon-angle-down.svg" alt="angle down">
                    </button>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="accordion__item">
                  <div id="headingFour">
                    <button class="btn btn-link vertical-align collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                      <h3 class="plan__title">4. Человек - как часть рода, человечества и Вселенной</h3>
                      <img src="%=static=%img/content/icon-angle-down.svg" alt="angle down">
                    </button>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="accordion__item">
                  <div id="headingFive">
                    <button class="btn btn-link vertical-align collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      <h3 class="plan__title">5. Проработка проблем личности. Исцеление души</h3>
                      <img src="%=static=%img/content/icon-angle-down.svg" alt="angle down">
                    </button>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="accordion__item">
                  <div id="headingSix">
                    <button class="btn btn-link vertical-align collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      <h3 class="plan__title">6. Гармонизация и развитие</h3>
                      <img src="%=static=%img/content/icon-angle-down.svg" alt="angle down">
                    </button>
                  </div>
                  <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
              <div class="plan__button">
                <button class="submit-button submit-button--signin">Записаться</button>
              </div>
              <img class="plan__triangle" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="plan__ellipse-top" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
            </div>
          </section>

          <section class="author author--school">
            <div class="author__content">
              <div class="author__image">
                <img src="%=static=%img/content/natali.png" alt="Author">
              </div>
              <div class="author__text">
                <h3 class="author__title">Наталья Шевцова</h3>
                <h3 class="author__sub-title">Автор и ведущая тренинга “Тайм-менеджмент”</h3>
                <p class="author__text">Тренер образовательных программ,  создатель и ведущая тренинга для женщин,  ведущая «Школы осознанных отношений», специалист по речевым коммуникациям, психолог-практик с опытом проведения индивидуальных психологических консультаций.</p>
              </div>
              <img class="author__triangle" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="author__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
            </div>
          </section>

          <section class="reviews-slider">
            <div class="reviews-slider__content">
              <h2 class="section-title">Отзывы о тренинге Тайм-менеджмент</h2>
              <div class="reviews-slider__slider">
                <div class="reviews-slider__item">
                  <div class="reviews-slider__info">
                    <p class="reviews-slider__text">Немалая заслуга школы и в том, что у меня сейчас любящие и доверительные отношения с близкими людьми. Пришло принятие их такими, какие они есть. Я смог убрать постоянные внутренние претензии к тому, что близкие не...</p>
                    <a class="reviews-slider__more vertical-align" href="https://facebook.com" target="_blank">
                      читать далее
                      <img class="reviews-slider__more-icon" src="%=static=%img/content/icon-facebook.svg" alt="facebook">
                    </a>
                  </div>
                  <div class="reviews-slider__image">
                    <img src="%=static=%img/content/slide-man.png" alt="man">
                  </div>
                </div>
                <div class="reviews-slider__item">
                  <iframe width="423" height="254" src="https://www.youtube.com/embed/q_MSWqODDXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="reviews-slider__item">
                  <div class="reviews-slider__info">
                    <p class="reviews-slider__text">Все занятия проходили в дружеской обстановке и все были интересными, но больше всего запомнилось второе занятие :) Благодаря опытным специалистам , атмосфера была непринужденной</p>
                    <a class="reviews-slider__more vertical-align" href="https://facebook.com" target="_blank">
                      читать далее
                      <img class="reviews-slider__more-icon" src="%=static=%img/content/icon-facebook.svg" alt="facebook">
                    </a>
                  </div>
                  <div class="reviews-slider__image">
                    <img src="%=static=%img/content/slide-girl.png" alt="girl">
                  </div>
                </div>
                <div class="reviews-slider__item">
                  <div class="reviews-slider__info">
                    <p class="reviews-slider__text">Немалая заслуга школы и в том, что у меня сейчас любящие и доверительные отношения с близкими людьми. Пришло принятие их такими, какие они есть. Я смог убрать постоянные внутренние претензии к тому, что близкие не...</p>
                    <a class="reviews-slider__more vertical-align" href="https://facebook.com" target="_blank">
                      читать далее
                      <img class="reviews-slider__more-icon" src="%=static=%img/content/icon-facebook.svg" alt="facebook">
                    </a>
                  </div>
                  <div class="reviews-slider__image">
                    <img src="%=static=%img/content/slide-man.png" alt="man">
                  </div>
                </div>
                <div class="reviews-slider__item">
                  <iframe width="423" height="254" src="https://www.youtube.com/embed/q_MSWqODDXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="reviews-slider__item">
                  <div class="reviews-slider__info">
                    <p class="reviews-slider__text">Все занятия проходили в дружеской обстановке и все были интересными, но больше всего запомнилось второе занятие :) Благодаря опытным специалистам , атмосфера была непринужденной</p>
                    <a class="reviews-slider__more vertical-align" href="https://facebook.com" target="_blank">
                      читать далее
                      <img class="reviews-slider__more-icon" src="%=static=%img/content/icon-facebook.svg" alt="facebook">
                    </a>
                  </div>
                  <div class="reviews-slider__image">
                    <img src="%=static=%img/content/slide-girl.png" alt="girl">
                  </div>
                </div>
              </div>
              <img class="reviews-slider__icon" src="%=static=%img/content/icon-review.svg" alt="icon">
              <img class="reviews-slider__icon-rotated" src="%=static=%img/content/icon-review.svg" alt="icon">
            </div>
          </section>

          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
          {{> footer/footer}}
        </footer>

      <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
      <script>svg4everybody();</script>

      <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
      <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
