<!doctype html>
<html class="no-js" lang="ru">
    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="page__wrapper">
          {{> header/header }}

          <section class="raspisanie">
            <div class="raspisanie__content">
              <div class="raspisanie__sidebar">
                <div class="filter">
                  <div class="filter__select">
                    <select name="" id="">
                      <option value="">Все даты</option>
                      <option value="">Популярные</option>
                    </select>
                    <img class="filter__icon" src="%=static=%img/content/icon-angle-down.svg" alt="angle down">
                  </div>

                  <p class="filter__text">Событие:</p>
                  <ul>
                    <li class="filter__item">
                      <label class="filter__label vertical-align" for="master-class">
                        <input class="filter__checkbox" id="master-class" type="checkbox">
                        Мастер-классы
                      </label>
                    </li>
                    <li class="filter__item">
                      <label class="filter__label vertical-align" for="trenings">
                        <input class="filter__checkbox" id="trenings" type="checkbox">
                        Тренинги
                      </label>
                    </li>
                    <li class="filter__item">
                      <label class="filter__label vertical-align" for="kurses">
                        <input class="filter__checkbox" id="kurses" type="checkbox">
                        Курсы
                      </label>
                    </li>
                    <li class="filter__item">
                      <label class="filter__label vertical-align" for="psycho">
                        <input class="filter__checkbox" id="psycho" type="checkbox">
                        Психологические посиделки
                      </label>
                    </li>
                    <li class="filter__item">
                      <label class="filter__label vertical-align" for="helinger">
                        <input class="filter__checkbox" id="helinger" type="checkbox">
                        Расстановки по Хеллингеру
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="raspisanie__list">
                <!-- Item -->
                <a href="#" class="card-item">
                  <div class="card-item__image">
                    <img src="%=static=%img/content/raspisanie-img.png" alt="card image">
                  </div>
                  <div class="card-item__info">
                    <h3 class="card-item__title">
                      Ораторское искусство
                    </h3>
                    <div class="card-item__footer">
                      <div class="card-item__place">
                        <p class="vertical-align">
                          <img class="card-item__pin" src="%=static=%img/content/icon-pin.svg" alt="pin">
                          Центр Живое Слово
                        </p>
                        <p class="vertical-align">
                          <img class="card-item__mic


                          " src="%=static=%img/content/icon-mic.png" alt="microphone">
                          Александр Харин
                        </p>
                      </div>
                      <p class="card-item__date">17 октября 17:00, ср</p>
                    </div>
                    <div class="card-item__label">тренинг</div>
                  </div>
                </a>
                <!-- Item -->
                <a href="#" class="card-item">
                  <div class="card-item__image">
                    <img src="%=static=%img/content/raspisanie-img2.png" alt="card image">
                  </div>
                  <div class="card-item__info">
                    <h3 class="card-item__title">
                      Мужчина и Женщина. Два мира
                    </h3>
                    <div class="card-item__footer">
                      <div class="card-item__place">
                        <p class="vertical-align">
                          <img class="card-item__pin" src="%=static=%img/content/icon-pin.svg" alt="pin">
                          Центр Живое Слово
                        </p>
                        <p class="vertical-align">
                          <img class="card-item__mic


                          " src="%=static=%img/content/icon-mic.png" alt="microphone">
                          Наталья Шевцова
                        </p>
                      </div>
                      <p class="card-item__date">17 октября 17:00, ср</p>
                    </div>
                    <div class="card-item__label">творческие вечера</div>
                  </div>
                </a>
                <!-- Item -->
                <a href="#" class="card-item">
                  <div class="card-item__image">
                    <img src="%=static=%img/content/raspisanie-img3.png" alt="card image">
                  </div>
                  <div class="card-item__info">
                    <h3 class="card-item__title">
                      7 правил лучшей жизни
                    </h3>
                    <div class="card-item__footer">
                      <div class="card-item__place">
                        <p class="vertical-align">
                          <img class="card-item__pin" src="%=static=%img/content/icon-pin.svg" alt="pin">
                          Центр Живое Слово
                        </p>
                        <p class="vertical-align">
                          <img class="card-item__mic


                          " src="%=static=%img/content/icon-mic.png" alt="microphone">
                          Александр Харин
                        </p>
                      </div>
                      <p class="card-item__date">26 октября 19:00, пт</p>
                    </div>
                    <div class="card-item__label">мастер-класс</div>
                  </div>
                </a>
                <!-- Item -->
                <a href="#" class="card-item">
                  <div class="card-item__image">
                    <img src="%=static=%img/content/raspisanie-img4.png" alt="card image">
                  </div>
                  <div class="card-item__info">
                    <h3 class="card-item__title">
                      Школа развития личности
                    </h3>
                    <div class="card-item__footer">
                      <div class="card-item__place">
                        <p class="vertical-align">
                          <img class="card-item__pin" src="%=static=%img/content/icon-pin.svg" alt="pin">
                          Центр Живое Слово
                        </p>
                        <p class="vertical-align">
                          <img class="card-item__mic" src="%=static=%img/content/icon-mic.png" alt="microphone">
                          Дмитрий Кущ
                        </p>
                      </div>
                      <p class="card-item__date">17 октября 17:00, ср</p>
                    </div>
                    <div class="card-item__label">курс</div>
                  </div>
                </a>
                <!-- Item -->
                <a href="#" class="card-item">
                  <div class="card-item__image">
                    <img src="%=static=%img/content/raspisanie-img5.png" alt="card image">
                  </div>
                  <div class="card-item__info">
                    <h3 class="card-item__title">
                      Системные расстановки по Хеллингеру
                    </h3>
                    <div class="card-item__footer">
                      <div class="card-item__place">
                        <p class="vertical-align">
                          <img class="card-item__pin" src="%=static=%img/content/icon-pin.svg" alt="pin">
                          Центр Живое Слово
                        </p>
                        <p class="vertical-align">
                          <img class="card-item__mic


                          " src="%=static=%img/content/icon-mic.png" alt="microphone">
                          Александр Харин
                        </p>
                      </div>
                      <p class="card-item__date">17 октября 17:00, ср</p>
                    </div>
                    <div class="card-item__label">расстановки по Хеллингеру</div>
                  </div>
                </a>
                <!-- Item -->
                <a href="#" class="card-item">
                  <div class="card-item__image">
                    <img src="%=static=%img/content/raspisanie-img6.png" alt="card image">
                  </div>
                  <div class="card-item__info">
                    <h3 class="card-item__title">
                      Духовный код личности
                    </h3>
                    <div class="card-item__footer">
                      <div class="card-item__place">
                        <p class="vertical-align">
                          <img class="card-item__pin" src="%=static=%img/content/icon-pin.svg" alt="pin">
                          Центр Живое Слово
                        </p>
                        <p class="vertical-align">
                          <img class="card-item__mic


                          " src="%=static=%img/content/icon-mic.png" alt="microphone">
                          Наталья Шевцова
                        </p>
                      </div>
                      <p class="card-item__date">17 октября 17:00, ср</p>
                    </div>
                    <div class="card-item__label">тренинг</div>
                  </div>
                </a>

                <a href="#" class="more-button">Еще</a>
              </div>
              <img class="raspisanie__top-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
              <img class="raspisanie__circle" src="%=static=%img/content/bg-circle.svg" alt="circle">
              <img class="raspisanie__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
              <img class="raspisanie__bottom-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
              <img class="raspisanie__triangle-right" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="raspisanie__triangle-left" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
            </div>
          </section>
          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>
          {{> footer/footer}}
        </footer>

      <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
      <script>svg4everybody();</script>

      <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
      <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
