<!doctype html>
<html class="no-js" lang="ru">
    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="page__wrapper">
          {{> header/header }}

          <section class="otzivi">
            <div class="otzivi__content">
              <div class="otzivi__wrapper">
                <div class="otzivi__select">
                  <p class="otzivi__filter">По темам:</p>
                  <select name="" id="">
                    <option value="">Все</option>
                    <option value="">Популярные</option>
                    <option value="">Последние</option>
                  </select>
                </div>
                <!-- row -->
                <div class="otzivi__cards otzivi__cards--same">
                  <div class="reviews-slider__item">
                    <iframe width="423" height="254" src="https://www.youtube.com/embed/q_MSWqODDXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="reviews-slider__item">
                    <div class="reviews-slider__info">
                      <p class="reviews-slider__text">Многие вещи о самой себе для меня стали открытием. Когда живешь по одному сценарию 30 лет, сам не всегда можешь увидеть искаженные ценности, по которым живешь каждый день. Впереди еще куча возможностей...</p>
                      <a class="reviews-slider__more vertical-align" href="https://facebook.com" target="_blank">
                        читать далее
                        <img class="reviews-slider__more-icon" src="%=static=%img/content/icon-facebook.svg" alt="facebook">
                      </a>
                    </div>
                    <div class="reviews-slider__image">
                      <img src="%=static=%img/content/otzivi-img1.png" alt="woman">
                    </div>
                  </div>
                  <div class="reviews-slider__item">
                    <iframe width="423" height="254" src="https://www.youtube.com/embed/q_MSWqODDXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
                <!-- row -->
                <div class="otzivi__cards otzivi__cards--different">
                  <div class="reviews-slider__item reviews-slider__item--wide">
                    <iframe width="883" height="545" src="https://www.youtube.com/embed/q_MSWqODDXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="otzivi__cards-wrapper">
                    <div class="reviews-slider__item">
                      <div class="reviews-slider__info">
                        <p class="reviews-slider__text">Как человек с 3 высшими образованиями и множеством пройденных тренингов, семинаров, вебинаров и курсов, уверенно могу сказать: это лучшая программа обучения очень нужному навыку талантливым тренером!</p>
                        <a class="reviews-slider__more vertical-align" href="https://facebook.com" target="_blank">
                          читать далее
                          <img class="reviews-slider__more-icon" src="%=static=%img/content/icon-facebook.svg" alt="facebook">
                        </a>
                      </div>
                      <div class="reviews-slider__image">
                        <img src="%=static=%img/content/otzivi-img2.png" alt="woman">
                      </div>
                    </div>
                    <div class="reviews-slider__item">
                      <div class="reviews-slider__info">
                        <p class="reviews-slider__text">На подобных курсах, а, впрочем, где и чему бы вы не учились, эффективность вашего обучения зависит, в первую очередь, от преподавателя, тренера, учителя. От его профессионализма и его любви к предмету и...</p>
                        <a class="reviews-slider__more vertical-align" href="https://facebook.com" target="_blank">
                          читать далее
                          <img class="reviews-slider__more-icon" src="%=static=%img/content/icon-facebook.svg" alt="facebook">
                        </a>
                      </div>
                      <div class="reviews-slider__image">
                        <img src="%=static=%img/content/otzivi-img3.png" alt="woman">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- row -->
                <div class="otzivi__cards otzivi__cards--same">
                  <div class="reviews-slider__item">
                    <div class="reviews-slider__info">
                      <p class="reviews-slider__text">Немалая заслуга школы и в том, что у меня сейчас любящие и доверительные отношения с близкими людьми. Пришло принятие их такими, какие они есть. Я смог убрать постоянные внутренние претензии к тому, что близкие не...</p>
                      <a class="reviews-slider__more vertical-align" href="https://facebook.com" target="_blank">
                        читать далее
                        <img class="reviews-slider__more-icon" src="%=static=%img/content/icon-facebook.svg" alt="facebook">
                      </a>
                    </div>
                    <div class="reviews-slider__image">
                      <img src="%=static=%img/content/slide-man.png" alt="man">
                    </div>
                  </div>
                  <div class="reviews-slider__item">
                    <iframe width="423" height="254" src="https://www.youtube.com/embed/q_MSWqODDXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="reviews-slider__item">
                    <div class="reviews-slider__info">
                      <p class="reviews-slider__text">Все занятия проходили в дружеской обстановке и все были интересными, но больше всего запомнилось второе занятие :) Благодаря опытным специалистам , атмосфера была непринужденной</p>
                      <a class="reviews-slider__more vertical-align" href="https://facebook.com" target="_blank">
                        читать далее
                        <img class="reviews-slider__more-icon" src="%=static=%img/content/icon-facebook.svg" alt="facebook">
                      </a>
                    </div>
                    <div class="reviews-slider__image">
                      <img src="%=static=%img/content/slide-girl.png" alt="girl">
                    </div>
                  </div>
                </div>
                <!-- row -->
                <div class="otzivi__cards otzivi__cards--different">
                  <div class="otzivi__cards-wrapper">
                    <div class="reviews-slider__item">
                      <div class="reviews-slider__info">
                        <p class="reviews-slider__text">Как человек с 3 высшими образованиями и множеством пройденных тренингов, семинаров, вебинаров и курсов, уверенно могу сказать: это лучшая программа обучения очень нужному навыку талантливым тренером!</p>
                        <a class="reviews-slider__more vertical-align" href="https://facebook.com" target="_blank">
                          читать далее
                          <img class="reviews-slider__more-icon" src="%=static=%img/content/icon-facebook.svg" alt="facebook">
                        </a>
                      </div>
                      <div class="reviews-slider__image">
                        <img src="%=static=%img/content/otzivi-img2.png" alt="woman">
                      </div>
                    </div>
                    <div class="reviews-slider__item">
                      <div class="reviews-slider__info">
                        <p class="reviews-slider__text">На подобных курсах, а, впрочем, где и чему бы вы не учились, эффективность вашего обучения зависит, в первую очередь, от преподавателя, тренера, учителя. От его профессионализма и его любви к предмету и...</p>
                        <a class="reviews-slider__more vertical-align" href="https://facebook.com" target="_blank">
                          читать далее
                          <img class="reviews-slider__more-icon" src="%=static=%img/content/icon-facebook.svg" alt="facebook">
                        </a>
                      </div>
                      <div class="reviews-slider__image">
                        <img src="%=static=%img/content/otzivi-img3.png" alt="woman">
                      </div>
                    </div>
                  </div>
                  <div class="reviews-slider__item reviews-slider__item--wide">
                    <iframe width="883" height="545" src="https://www.youtube.com/embed/q_MSWqODDXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
              </div>

              <a href="#" class="more-button">Еще</a>

              <img class="otzivi__circle" src="%=static=%img/content/bg-circle.svg" alt="circle">
              <img class="otzivi__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
              <img class="otzivi__triangle-right" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="otzivi__triangle-left" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
            </div>
          </section>
          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>
          {{> footer/footer}}
        </footer>

      <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
      <script>svg4everybody();</script>

      <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
      <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
