<!doctype html>
<html class="no-js" lang="ru">
    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="page__wrapper">
          {{> header/header }}

          <section class="trening-main">
            <div class="trening-main__content">
              <div class="trening-main__info">
                <div class="breadcrumbs">
                  <ul>
                    <li><a href="#">Главная</a></li>
                    <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                    <li><a href="#">Консультации</a></li>
                    <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                    <li><a href="#">Психолога</a></li>
                  </ul>
                </div>
                <h2 class="section-title section-title--big">
                  Консультация <br /> Психолога
                </h2>
                <p>К вашим услугам мы предлагаем возможность  выбрать из нескольких специалистов  психолога, отвечающего вашим предпочтениям. Это позволит сделать  работу  максимально комфортной.  Мы гарантируем вам высококвалифицированную помощь, поддержку, а также конфиденциальность</p>
                <div class="trening-main__button">
                  <button class="submit-button submit-button--signin">Записаться</button>
                </div>
              </div>
              <div class="trening-main__baner">
                <div class="close-events__feature">
                  <div class="trenings__wrapper trenings__wrapper--without-bg">
                    <img class="trenings__image" src="%=static=%img/content/consultation-psyholog.png" alt="consultation">
                    <div class="trenings__feature">
                      <h4 class="trenings__feature-subtitle">Продолжительность:</h4>
                      <p class="trenings__feature-text">1-1.2 часа</p>
                      <h4 class="trenings__feature-subtitle trenings__feature-subtitle--price">Стоимость:</h4>
                      <p class="trenings__feature-text">500 грн</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="text-section text-section--bg-dots">
            <div class="text-section__content">
              <h3>В наиболее важных для жизни вопросах стоит, не полагаясь на волю случая, обращаться к профессионалам. Прибегнуть к помощи психолога в таких случаях будет самым правильным решением. </h3>
            </div>
          </section>

          <section class="image-list image-list--checks">
            <div class="image-list__content">
              <div class="our-team__image-box">
                <img src="%=static=%img/content/problems.svg" alt="Trening">
              </div>
              <div class="image-list__info">
                <h2 class="section-title">
                  С какими проблемами чаще всего обращаются к психологу
                </h2>
                <div class="plan__info">
                  <ul>
                    <li>Сложности с работой</li>
                    <li>Трудности в воспитании ребенка</li>
                    <li>Как реализовать себя</li>
                    <li>Как стать счастливым</li>
                    <li>Как наладить отношения в семье</li>
                  </ul>
                  <ul>
                    <li>Депрессия</li>
                    <li>Тревоги и страхи</li>
                    <li>Проблемы в отношениях</li>
                    <li>Неуверенность в себе</li>
                    <li>Низкая самооценка</li>
                  </ul>
                </div>
              </div>
            </div>
          </section>

          <section class="author author--consultation">
            <h2 class="section-title">Психологическую консультацию проводят</h2>
            <div class="author__content">
              <div class="author__image">
                <img src="%=static=%img/content/natali.png" alt="Author">
              </div>
              <div class="author__text">
                <h3 class="author__title">Наталья Шевцова</h3>
                <h3 class="author__sub-title">Автор и ведущая тренинга “Тайм-менеджмент”</h3>
                <p class="author__text">Тренер образовательных программ,  создатель и ведущая тренинга для женщин,  ведущая «Школы осознанных отношений», специалист по речевым коммуникациям, психолог-практик с опытом проведения индивидуальных психологических консультаций.</p>
                <button class="submit-button submit-button--signin">Записаться</button>
              </div>
            </div>

            <div class="author__content author__content--reversed">
              <div class="author__text">
                <h3 class="author__title">Александр Харин</h3>
                <h3 class="author__sub-title">Автор и тренер курса духовного развития</h3>
                <p class="author__text">Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. </p>
                <div class="align-right">
                  <button class="submit-button submit-button--signin submit-button--align-right">Записаться</button>
                </div>
              </div>
              <div class="author__image">
                <img src="%=static=%img/content/alex-circled.png" alt="Author">
              </div>
            </div>
          </section>

          <div class="consultation-advise">
            <div class="consultation-advise__content">
              <div class="consultation-advise__image">
                <img src="%=static=%img/content/consultation-advise.png" alt="Advise">
              </div>
              <div class="consultation-advise__info">
                <h3>Если вы попали в сложную жизненную ситуацию, если нужно найти решение важного вопроса, если хотите сделать шаг вперед и  нужна поддержка, но нет возможности встретиться лично, мы проведем консультацию через  программу Skype</h3>
              </div>
            </div>
          </div>

          <div class="text-submit">
            <div class="text-submit__content">
              <h3>Хороший профессионал поможет вам в решении наиболее волнующих вопросов, в раскрытии потенциала и в обретении гармонии и  жизненного равновесия. </h3>
              <div class="text-submit__button">
                <button class="submit-button submit-button--signin">Записаться</button>
              </div>
            </div>
          </div>

          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
          {{> footer/footer}}
        </footer>

      <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
      <script>svg4everybody();</script>

      <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
      <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
