<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <div id="player"></div>
        <section id="page" class="page__wrapper">
          {{> header/header }}

          <section class="top-banner top-banner--without-bg">
            <div class="top-banner__video">
              <span class="play-btn" id="play-btn">
                <img src="%=static=%img/content/btn-play.svg" alt="play">
              </span>
              <script>
          			// 2. This code loads the IFrame Player API code asynchronously.
          			var tag = document.createElement('script');

          			tag.src = "https://www.youtube.com/iframe_api";
          			var firstScriptTag = document.getElementsByTagName('script')[0];
          			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          			// 3. This function creates an <iframe> (and YouTube player)
          			//    after the API code downloads.
          			var player;
          			var playBtn = document.getElementById('play-btn');
                var page = document.getElementById('page');
                var closeBtn = document.getElementById('close');

          			playBtn.addEventListener('click', function() {
          					function onYouTubeIframeAPIReady() {
          						player = new YT.Player('player', {
          							height: '90%',
          							width: '95%',

          							videoId: 'n1xLxce5zYs',
          							playerVars: {
          								autoplay: 1,
          								loop: 1,
          								rel: 0,
          								controls: 1,
          								showinfo: 1,
          								autohide: 0,
          								modestbranding: 1,
          								vq: 'hd1080'
          							},
          							events: {
          								'onReady': onPlayerReady
          							}
          						});
          					}
          					onYouTubeIframeAPIReady()

                    page.classList.add('lightbox');

          				})
          			// 4. The API will call this function when the video player is ready.
          			function onPlayerReady(event) {
          				event.target.playVideo();
          			}

          			// 5. The API calls this function when the player's state changes.
          			//    The function indicates that when playing a video (state=1),
          			//    the player should play for six seconds and then stop.
          			var done = false;

          			function stopVideo() {
          				player.stopVideo();
                }

                closeBtn.addEventListener('click', function() {
                  player.destroy();
                  page.classList.remove('lightbox');
                })
          		</script>
            </div>
          </section>

          <section class="we-pro we-pro--text we-pro--about">
            <div class="we-pro__content">
              <div class="we-pro__info">
                <div class="we-pro__title">
                  <h2 class="section-title">Мы - профессионалы, любящие свое дело</h2>
                </div>
                <p>Учебно-психологический центр Живое Слово был создан в 2004 г. В своей работе мы исходили и исходим  из того, что для большинства людей в жизни важно достичь успеха, быть понятым и принятым, уметь донести  свою точку зрения до окружающих, привлекать на свою сторону единомышленников, создавать эффективные и гармоничные отношения с окружающими. Наши тренеры квалифицированные специалисты. Это гарантия высокого уровня любого нашего тренинга</p>
              </div>
              <div class="image-box__simple">
                <img class="we-pro__image" src="%=static=%img/content/professionals.png" alt="certificate">
              </div>
              <img class="we-pro__ellipse-top" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
            </div>
          </section>

          <section class="work-from">
            <div class="work-from__content">
              <h2 class="section-title section-title--big">Работаем с 2004 года</h2>
              <p>Такая стабильность и востребованность является показателем высокого качества наших услуг. В своей работе мы исходили и исходим  из того, что для большинства людей в жизни важно достичь успеха, быть понятым и принятым, уметь донести  свою точку зрения до окружающих, привлекать на свою сторону единомышленников, создавать эффективные и гармоничные отношения с окружающими.  Так же немалыми  ценностями  являются взаимоотношения в семье, с близкими и любимыми людьми, развитие своей личности и своей души.</p>
              <img class="work-from__triangle-top" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="work-from__triangle" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="work-from__circle" src="%=static=%img/content/bg-circle.svg" alt="circle">
            </div>
          </section>

          <section class="why-we why-we--without-bg">
            <div class="why-we__content">
              <h2 class="section-title">Почему следует выбрать именно нас:</h2>
              <h3 class="why-we__sub-title">Тренинговый центр Живое Слово позаботился о том, чтобы каждый посетитель получил все необходимые знания и навыки за невысокую оплату. </h3>
              <div class="why-we__list">
                <div class="why-we__item">
                  <div class="why-we__image">
                    <img src="%=static=%img/content/treners.png" alt="treners">
                  </div>
                  <p class="why-we__text">Все тренеры – профессиональные специалисты, психологи + дополнительное образование, подходящее для проведения профессионального тренинга</p>
                </div>
                <div class="why-we__item">
                  <div class="why-we__image">
                    <img src="%=static=%img/content/atmosphere.png" alt="atmosphere">
                  </div>
                  <p class="why-we__text">Дружелюбная атмосфера всегда, на любом из тренингов. Тренер ведет себя на равных со слушателями, ничего не утаивая и не делая интриги из своих знаний</p>
                </div>
                <div class="why-we__item">
                  <div class="why-we__image">
                    <img src="%=static=%img/content/economy.png" alt="economy">
                  </div>
                  <p class="why-we__text">Большая экономия средств. Можно сказать, что в пересчете за час работы наши специалисты берут вознаграждение не выше средней цены в городе</p>
                </div>
              </div>
              <img class="why-we__circle" src="%=static=%img/content/bg-circle.svg" alt="circle">
            </div>
          </section>

          <section class="image-list">
            <div class="image-list__content">
              <div class="our-team__image-box our-team__image-box--without-bg">
                <img src="%=static=%img/content/we-ready.png" alt="Support">
              </div>
              <div class="image-list__info">
                <h2 class="section-title">
                  Мы готовы поддержать каждого, кто
                </h2>
                <div class="marked-list">
                  <ul>
                    <li>Стремится найти свое место в мире</li>
                    <li>Заинтересован в образовании и услугах высокого качества</li>
                    <li>Нацелен на расширение кругозора</li>
                    <li>Стремится улучшить определенные сферы своей жизни </li>
                  </ul>
                  <ul>
                    <li>Хочет гармонизировать личные отношения</li>
                    <li>Развивает свою личность и свою душу</li>
                    <li>Является человеком дела в поиске надежных инструментов для понимания себя и своего окружения</li>
                  </ul>
                </div>
              </div>
            </div>
          </section>

          <section class="our-team">
            <div class="our-team__content">
              <h2 class="section-title section-title--big">Наша команда</h2>
              <div class="our-team__boxes">
                <div class="tab-content" id="author-tabContent">
                  <div class="tab-pane fade show active" id="author-1" role="tabpanel" aria-labelledby="author-tab-1">
                    <div class="our-team__member">
                      <div class="our-team__image-box">
                        <img src="%=static=%img/content/alex-harin.png" alt="Alexander Harin">
                      </div>
                      <div class="our-team__info">
                        <h2 class="section-title">Александр Харин</h2>
                        <ul class="nav mb-3" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Обо мне</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Образование</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Какие тренинги  я веду?</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <p>
                              <span>Создатель, руководитель и идейный вдохновитель учебно-психологического центра «Живое Слово»</span><br/>
                              Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. Считает, что, только двигаясь вместе, мы можем достигнуть высоких целей, больших успехов и весомых результатов.
                            </p>
                          </div>
                          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Об образовании</div>
                          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">О тренингах</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="author-2" role="tabpanel" aria-labelledby="author-tab-2">
                    <div class="our-team__member">
                      <div class="our-team__image-box">
                        <img src="%=static=%img/content/alex-harin.png" alt="Alexander Harin">
                      </div>
                      <div class="our-team__info">
                        <h2 class="section-title">Автор 1</h2>
                        <ul class="nav mb-3" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab-2" data-toggle="pill" href="#pills-home-2" role="tab" aria-controls="pills-home-2" aria-selected="true">Обо мне</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab-2" data-toggle="pill" href="#pills-profile-2" role="tab" aria-controls="pills-profile-2" aria-selected="false">Образование</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab-2" data-toggle="pill" href="#pills-contact-2" role="tab" aria-controls="pills-contact-2" aria-selected="false">Какие тренинги  я веду?</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-home-2" role="tabpanel" aria-labelledby="pills-home-tab-2">
                            <p>
                              <span>Создатель, руководитель и идейный вдохновитель учебно-психологического центра «Живое Слово»</span><br/>
                              Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. Считает, что, только двигаясь вместе, мы можем достигнуть высоких целей, больших успехов и весомых результатов.
                            </p>
                          </div>
                          <div class="tab-pane fade" id="pills-profile-2" role="tabpanel" aria-labelledby="pills-profile-tab-2">Об образовании</div>
                          <div class="tab-pane fade" id="pills-contact-2" role="tabpanel" aria-labelledby="pills-contact-tab-2">О тренингах</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="author-3" role="tabpanel" aria-labelledby="author-tab-3">
                    <div class="our-team__member">
                      <div class="our-team__image-box">
                        <img src="%=static=%img/content/alex-harin.png" alt="Alexander Harin">
                      </div>
                      <div class="our-team__info">
                        <h2 class="section-title">Автор 2</h2>
                        <ul class="nav mb-3" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab-3" data-toggle="pill" href="#pills-home-3" role="tab" aria-controls="pills-home-3" aria-selected="true">Обо мне</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab-3" data-toggle="pill" href="#pills-profile-3" role="tab" aria-controls="pills-profile-3" aria-selected="false">Образование</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab-3" data-toggle="pill" href="#pills-contact-3" role="tab" aria-controls="pills-contact-3" aria-selected="false">Какие тренинги  я веду?</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-home-3" role="tabpanel" aria-labelledby="pills-home-tab-3">
                            <p>
                              <span>Создатель, руководитель и идейный вдохновитель учебно-психологического центра «Живое Слово»</span><br/>
                              Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. Считает, что, только двигаясь вместе, мы можем достигнуть высоких целей, больших успехов и весомых результатов.
                            </p>
                          </div>
                          <div class="tab-pane fade" id="pills-profile-3" role="tabpanel" aria-labelledby="pills-profile-tab-3">Об образовании</div>
                          <div class="tab-pane fade" id="pills-contact-3" role="tabpanel" aria-labelledby="pills-contact-tab-3">О тренингах</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="author-4" role="tabpanel" aria-labelledby="author-tab-4">
                    <div class="our-team__member">
                      <div class="our-team__image-box">
                        <img src="%=static=%img/content/alex-harin.png" alt="Alexander Harin">
                      </div>
                      <div class="our-team__info">
                        <h2 class="section-title">Автор 3</h2>
                        <ul class="nav mb-3" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab-4" data-toggle="pill" href="#pills-home-4" role="tab" aria-controls="pills-home-4" aria-selected="true">Обо мне</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab-4" data-toggle="pill" href="#pills-profile-4" role="tab" aria-controls="pills-profile-4" aria-selected="false">Образование</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab-4" data-toggle="pill" href="#pills-contact-4" role="tab" aria-controls="pills-contact-4" aria-selected="false">Какие тренинги  я веду?</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-home-4" role="tabpanel" aria-labelledby="pills-home-tab-4">
                            <p>
                              <span>Создатель, руководитель и идейный вдохновитель учебно-психологического центра «Живое Слово»</span><br/>
                              Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. Считает, что, только двигаясь вместе, мы можем достигнуть высоких целей, больших успехов и весомых результатов.
                            </p>
                          </div>
                          <div class="tab-pane fade" id="pills-profile-4" role="tabpanel" aria-labelledby="pills-profile-tab-4">Об образовании</div>
                          <div class="tab-pane fade" id="pills-contact-4" role="tabpanel" aria-labelledby="pills-contact-tab-4">О тренингах</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="nav mb-3 our-team__members" id="author-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link our-team__item active" id="author-tab-1" data-toggle="pill" href="#author-1" role="tab" aria-controls="author-1" aria-selected="true">
                      <img src="%=static=%img/content/ava-team1.png" alt="team member">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link our-team__item" id="author-tab-2" data-toggle="pill" href="#author-2" role="tab" aria-controls="author-2" aria-selected="false">
                      <img src="%=static=%img/content/ava-team2.png" alt="team member">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link our-team__item" id="author-tab-3" data-toggle="pill" href="#author-3" role="tab" aria-controls="author-3" aria-selected="false">
                      <img src="%=static=%img/content/ava-team3.png" alt="team member">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link our-team__item" id="author-tab-4" data-toggle="pill" href="#author-4" role="tab" aria-controls="author-4" aria-selected="false">
                      <img src="%=static=%img/content/ava-team4.png" alt="team member">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </section>

          <section class="study-text">
            <div class="study-text__content">
              <div class="study-text__info">
                <h3>Для тех, кто заинтересован в качественном обучении, но по каким-либо причинам не может посещать наши программы лично, нами создано и продолжает создаваться ряд  видео-уроков и видео- и аудио- лекций  различной тематики</h3>
              </div>
              <div class="study-text__image">
                <img src="%=static=%img/content/study.png" alt="study">
              </div>
            </div>
          </section>

          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
            {{> footer/footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
