<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="page__wrapper">
          {{> header/header }}

          <section class="find-us find-us--contacts">
            <h2 class="section-title">Контакты</h2>
            <div class="find-us__map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.6438508470746!2d35.03570841566035!3d48.463362579250735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe2e1391802fb%3A0x9ea8c5023b99a0e0!2z0YPQuy4g0JLQvtGB0LrRgNC10YHQtdC90YHQutCw0Y8sIDI3LCDQlNC90LjQv9GA0L4sINCU0L3QtdC_0YDQvtC_0LXRgtGA0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA0OTAwMA!5e0!3m2!1sru!2sua!4v1577306910296!5m2!1sru!2sua"width="1920" height="779" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="find-us__info">
              <p class="contacts-dropdown__title">Адрес:</p>
              <a class="vertical-align find-us__adress" targe="_blank" href="https://www.google.com/maps/search/%D0%B3.%D0%94%D0%BD%D0%B5%D0%BF%D1%80,+%D1%83%D0%BB.%D0%92%D0%BE%D1%81%D0%BA%D1%80%D0%B5%D1%81%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+(%D1%83%D0%BB.%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0),+27%2F35/@48.4633626,35.0357084,17z/data=!3m1!4b1">
                <img class="contacts-dropdown__image" src="%=static=%img/content/icon-pin.svg" alt="pin">г.Днепр, ул.Воскресенская (ул.Ленина), 27/35
              </a>
              <p class="contacts-dropdown__title">Телефон:</p>
              <a href="tel:+380973344505" class="top-header__phones vertical-align"><img class="top-header__contacts-image top-header__contacts-image--spaced" src="%=static=%img/content/icon-phone.svg" alt="phone">097 33 44 505</a>
              <p class="vertical-align"><img class="top-header__contacts-image" src="%=static=%img/content/icon-viber.svg" alt="viber">066 33 44 509</p>
              <p class="contacts-dropdown__title">Почта:</p>
              <a class="vertical-align find-us__mail-adress" href="mailto:info@zhivoeslovo.com">
                <img class="contacts-dropdown__image" src="%=static=%img/content/icon-mail.svg" alt="mail">info@zhivoeslovo.com
              </a>
              <a class="top-header__social-item no-space" href="https://www.youtube.com/channel/UC4Vf14JEZbaZAQk2J8CQyWA" target="_blank">
                <img src="%=static=%img/content/icon-youtube.svg" alt="youtube" />
              </a>
              <a class="top-header__social-item" href="https://www.facebook.com/profile.php?id=100007331735732" target="_blank">
                <img src="%=static=%img/content/icon-facebook.svg" alt="facebook" />
              </a>
            </div>
          </section>

          <section class="image-list image-list--checks image-list--contacts">
            <div class="image-list__content">
              <div class="image-list__info">
                <h3 class="section-title">
                  Мы открыты для предложений о взаимовыгодном сотрудничестве
                </h3>
                <div class="plan__info">
                  <ul>
                    <li>Проведение тренингов на правах организатора</li>
                    <li>Привлечение клиентов за вознаграэжение</li>
                    <li>Посреднические услуги по продаже наших инфопродуктов</li>
                  </ul>
                </div>
                <p>Готовы обусудить любой другой вариант сотрудничества</p>
                <div class="contact-us-button">
                  <button class="submit-button">Связаться с нами</button>
                </div>
              </div>
              <div class="our-team__image-box our-team__image-box--without-bg">
                <img src="%=static=%img/content/contact-img.png" alt="Contact">
              </div>
            </div>
          </section>

          <section class="requisites">
            <div class="requisites__content">
              <h2 class="section-title">Реквизиты</h2>
              <h3>Вы можете оплатить услуги тренинга через расчетный счет, через терминалы «Приват-24» на следующие реквизиты:</h3>
              <div class="requisites__pay">
                <p class="requsites__spaced">Расчетный счет № 26002060759347</p>
                <p class="requsites__spaced">КБ «Приватбанк», МФО — 305299 </p>
                <p><b>Назначение платежа: </b>оплата за тренинг (либо за консультацию), Ф.И.О., номер телефона, дата тренинга</p>
              </div>
              <p class="requisites__attention">
                Номер мобильного телефона укажите обязательно! <br>
                Схраните квитанцию, чтобы принести её администратору
              </p>
              <p>При оплате через расчетный счет, пожалуйста, <b>пришлите СМС или письмо на электронную почту</b> ваше имя, название выбраной тренинговой программы и даты проведения. </p>
              <p>Оплату можно осуществить также наличными в нашем тренинговом центре «Живое Слово» непосредственно перед тренингом. </p>
              <p><i>Свидетельство № 2596608253 от 06.03.2003 г. <br>
Частный предприниматель Харин А.М.</i></p>
            </div>
          </section>

          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
            {{> footer/footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
