<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="page__wrapper">
          {{> header/header }}

          <section class="blog-control">
            <div class="blog-control__content">
              <div class="blog-control__tabs our-team">
                <ul class="nav mb-3" id="pills-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Все </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Статьи</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Видео</a>
                  </li>
                </ul>
              </div>
              <div class="blog-control__filter otzivi">
                <div class="otzivi__select">
                  <p class="otzivi__filter">По авторам:</p>
                  <select name="" id="">
                    <option value="">Все</option>
                    <option value="">Популярные</option>
                    <option value="">Последние</option>
                  </select>
                </div>
                <div class="otzivi__select">
                  <p class="otzivi__filter">По темам:</p>
                  <select name="" id="">
                    <option value="">Все</option>
                    <option value="">Популярные</option>
                    <option value="">Последние</option>
                  </select>
                </div>
                <div class="otzivi__select">
                  <p class="otzivi__filter">Сортировать:</p>
                  <select name="" id="">
                    <option value="">По популярности</option>
                    <option value="">Последние</option>
                  </select>
                </div>
              </div>
            </div>
          </section>

          <section class="blog-banner" style="background-image: url('%=static=%img/content/bg-blog.jpg')">
            <div class="blog-banner__content">
              <div class="blog-banner__info">
                <h2 class="section-title section-title--big">Блог</h2>
                <div class="blog-banner__tags">
                  <span class="blog-banner__tag">Развитие навыков</span>
                  <span class="blog-banner__tag">Род и родовые связи</span>
                  <span class="blog-banner__tag">Род и родовые связи</span>
                </div>
                <h2 class="section-title">Грехи рода: Наследие, которое несём</h2>
                <div class="blog-author">
                  <span>Александр Харин   |   2 мин назад</span>
                </div>
              </div>
              <div class="blog-banner__author">
                <div class="blog-banner__image-author">
                  <img src="%=static=%img/content/alex-circled.png" alt="Author">
                </div>
                <h3 class="blog-banner__name-author">Александр Харин</h3>
                <p class="blog-banner__speciality-author">Психолог, основатель центра “живое слово”</p>
                <p class="blog-banner__text-author">Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. </p>
                <ul class="blog-banner__social-author">
                  <li>
                    <a href="#"><img src="%=static=%img/content/icon-social-facebook.svg" alt="facebook"></a>
                  </li>
                  <li>
                    <a href="#"><img src="%=static=%img/content/icon-social-twitter.svg" alt="twitter"></a>
                  </li>
                  <li>
                    <a href="#"><img src="%=static=%img/content/icon-social-instagram.svg" alt="instagram"></a>
                  </li>
                </ul>
              </div>
            </div>
          </section>

          <section class="blog-articles">
            <div class="blog-articles__content">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <!-- divider -->
                  <div class="blog-divider">
                    <span class="blog-divider__text">Популярное</span>
                    <span class="blog-divider__line blog-divider__line--right0"></span>
                  </div>
                  <div class="articles">
                    <!-- article -->
                    <div class="article">
                      <div class="article__image">
                        <a href="#">
                          <img src="%=static=%img/content/blog-video.png" alt="article">
                        </a>
                      </div>
                      <div class="article__info">
                        <a href="#" class="article__title">Как воспитать мужчину: «правильно» и «неправильно»</a>
                        <p class="article__text">Теперь, соответственно, нужно понять, что такое ошибка, грех. И что такое ошибка относительно рода...</p>
                        <div class="article__footer">
                          <div class="blog-author">
                            <span>Flora Morris   |   6 mint ago</span>
                          </div>
                          <div class="blog-banner__tags">
                            <span class="blog-banner__tag">Развитие навыков</span>
                            <span class="blog-banner__tag">Род и родовые связи</span>
                        </div>
                        </div>
                      </div>
                    </div>
                    <!-- article -->
                    <div class="article">
                      <div class="article__image">
                        <a href="#">
                          <img src="%=static=%img/content/blog-video3.png" alt="article">
                        </a>
                      </div>
                      <div class="article__info">
                        <a href="#" class="article__title">Как воспитать мужчину: «правильно» и «неправильно»</a>
                        <p class="article__text">Теперь, соответственно, нужно понять, что такое ошибка, грех. И что такое ошибка относительно рода...</p>
                        <div class="article__footer">
                          <div class="blog-author">
                            <span>Flora Morris   |   6 mint ago</span>
                          </div>
                          <div class="blog-banner__tags">
                            <span class="blog-banner__tag">Развитие навыков</span>
                            <span class="blog-banner__tag">Род и родовые связи</span>
                        </div>
                        </div>
                      </div>
                    </div>
                    <!-- article -->
                    <div class="article">
                      <div class="article__image">
                        <a href="#">
                          <img src="%=static=%img/content/blog-video2.png" alt="article">
                        </a>
                      </div>
                      <div class="article__info">
                        <a href="#" class="article__title">Как воспитать мужчину: «правильно» и «неправильно»</a>
                        <p class="article__text">Теперь, соответственно, нужно понять, что такое ошибка, грех. И что такое ошибка относительно рода...</p>
                        <div class="article__footer">
                          <div class="blog-author">
                            <span>Flora Morris   |   6 mint ago</span>
                          </div>
                          <div class="blog-banner__tags">
                            <span class="blog-banner__tag">Развитие навыков</span>
                            <span class="blog-banner__tag">Род и родовые связи</span>
                        </div>
                        </div>
                      </div>
                    </div>
                    <!-- article -->
                    <div class="article article--right-dots">
                      <div class="article__image">
                        <a href="#">
                          <img src="%=static=%img/content/blog-image.png" alt="article">
                        </a>
                      </div>
                      <div class="article__info">
                        <a href="#" class="article__title">Как воспитать мужчину: «правильно» и «неправильно»</a>
                        <p class="article__text">Теперь, соответственно, нужно понять, что такое ошибка, грех. И что такое ошибка относительно рода...</p>
                        <div class="article__footer">
                          <div class="blog-author">
                            <span>Flora Morris   |   6 mint ago</span>
                          </div>
                          <div class="blog-banner__tags">
                            <span class="blog-banner__tag">Развитие навыков</span>
                            <span class="blog-banner__tag">Род и родовые связи</span>
                        </div>
                        </div>
                      </div>
                    </div>
                    <!-- article -->
                    <div class="article article--left-dots">
                      <div class="article__image">
                        <a href="#">
                          <img src="%=static=%img/content/blog-image2.png" alt="article">
                        </a>
                      </div>
                      <div class="article__info">
                        <a href="#" class="article__title">Как воспитать мужчину: «правильно» и «неправильно»</a>
                        <p class="article__text">Теперь, соответственно, нужно понять, что такое ошибка, грех. И что такое ошибка относительно рода...</p>
                        <div class="article__footer">
                          <div class="blog-author">
                            <span>Flora Morris   |   6 mint ago</span>
                          </div>
                          <div class="blog-banner__tags">
                            <span class="blog-banner__tag">Развитие навыков</span>
                            <span class="blog-banner__tag">Род и родовые связи</span>
                        </div>
                        </div>
                      </div>
                    </div>
                    <!-- article -->
                    <div class="article">
                      <div class="article__image">
                        <a href="#">
                          <img src="%=static=%img/content/blog-img3.png" alt="article">
                        </a>
                      </div>
                      <div class="article__info">
                        <a href="#" class="article__title">Как воспитать мужчину: «правильно» и «неправильно»</a>
                        <p class="article__text">Теперь, соответственно, нужно понять, что такое ошибка, грех. И что такое ошибка относительно рода...</p>
                        <div class="article__footer">
                          <div class="blog-author">
                            <span>Flora Morris   |   6 mint ago</span>
                          </div>
                          <div class="blog-banner__tags">
                            <span class="blog-banner__tag">Развитие навыков</span>
                            <span class="blog-banner__tag">Род и родовые связи</span>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- divider -->
                  <div class="blog-divider blog-divider--no-padding">
                    <span class="blog-divider__text">В соцсетях</span>
                    <span class="blog-divider__line"></span>
                    <a href="#" class="blog-divider__text blog-divider__text--green">Все</a>
                  </div>
                  <!-- slider -->
                  <div class="articles-slider">
                    <div class="article">
                      <div class="article__info">
                        <div class="blog-banner__tags">
                          <span class="blog-banner__tag">Fashion</span>
                        </div>
                        <a href="#" class="article__title article__title--smaller">Выход из зоны комфорта: 3 шага навстречу жизни</a>
                        <div class="blog-author">
                          <span>Александр Харин   |   2 мин назад</span>
                        </div>
                      </div>
                      <div class="article__image">
                        <a href="#">
                          <img src="%=static=%img/content/blog-slide1.png" alt="article">
                        </a>
                      </div>
                    </div>
                    <div class="article">
                      <div class="article__info">
                        <div class="blog-banner__tags">
                          <span class="blog-banner__tag">Развитие навыков</span>
                          <span class="blog-banner__tag">Род и родовые связи</span>
                        </div>
                        <a href="#" class="article__title article__title--smaller">Наслаждение любовью или любовь? Что выбрать для счастья</a>
                        <div class="blog-author">
                          <span>Александр Харин   |   2 мин назад</span>
                        </div>
                      </div>
                      <div class="article__image">
                        <a href="#">
                          <img src="%=static=%img/content/blog-slide2.png" alt="article">
                        </a>
                      </div>
                    </div>
                    <div class="article">
                      <div class="article__info">
                        <div class="blog-banner__tags">
                          <span class="blog-banner__tag">Развитие навыков</span>
                          <span class="blog-banner__tag">Род и родовые связи</span>
                        </div>
                        <a href="#" class="article__title article__title--smaller">Нет сил и энергии. В чем причины и где выход?</a>
                        <div class="blog-author">
                          <span>Александр Харин   |   2 мин назад</span>
                        </div>
                      </div>
                      <div class="article__image">
                        <a href="#">
                          <img src="%=static=%img/content/blog-slide3.png" alt="article">
                        </a>
                      </div>
                    </div>
                    <div class="article">
                      <div class="article__info">
                        <div class="blog-banner__tags">
                          <span class="blog-banner__tag">Fashion</span>
                        </div>
                        <a href="#" class="article__title article__title--smaller">Выход из зоны комфорта: 3 шага навстречу жизни</a>
                        <div class="blog-author">
                          <span>Александр Харин   |   2 мин назад</span>
                        </div>
                      </div>
                      <div class="article__image">
                        <a href="#">
                          <img src="%=static=%img/content/blog-slide1.png" alt="article">
                        </a>
                      </div>
                    </div>
                    <div class="article">
                      <div class="article__info">
                        <div class="blog-banner__tags">
                          <span class="blog-banner__tag">Развитие навыков</span>
                          <span class="blog-banner__tag">Род и родовые связи</span>
                        </div>
                        <a href="#" class="article__title article__title--smaller">Наслаждение любовью или любовь? Что выбрать для счастья</a>
                        <div class="blog-author">
                          <span>Александр Харин   |   2 мин назад</span>
                        </div>
                      </div>
                      <div class="article__image">
                        <a href="#">
                          <img src="%=static=%img/content/blog-slide2.png" alt="article">
                        </a>
                      </div>
                    </div>
                    <div class="article">
                      <div class="article__info">
                        <div class="blog-banner__tags">
                          <span class="blog-banner__tag">Развитие навыков</span>
                          <span class="blog-banner__tag">Род и родовые связи</span>
                        </div>
                        <a href="#" class="article__title article__title--smaller">Нет сил и энергии. В чем причины и где выход?</a>
                        <div class="blog-author">
                          <span>Александр Харин   |   2 мин назад</span>
                        </div>
                      </div>
                      <div class="article__image">
                        <a href="#">
                          <img src="%=static=%img/content/blog-slide3.png" alt="article">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Статьи</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Видео</div>
              </div>
            </div>
          </section>

          <a href="#" class="more-button">Еще</a>

          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
            {{> footer/footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
