<!doctype html>
<html class="no-js" lang="ru">
    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="page__wrapper">
          {{> header/header }}

          <section class="discounts discounts--big-title">
            <div class="discounts__content">
              <h2 class="section-title section-title--big">Постоянные скидки</h2>
              <!-- item -->
              <div class="discounts__item">
                <div class="discounts__image discounts__image--top-rounded">
                  <img src="%=static=%img/content/discount1.png" alt="discount">
                </div>
                <div class="discounts__info">
                  <h2 class="discounts__info-title">Оплачивайте заранее: </h2>
                  <div class="discounts__type">
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-5%</div>
                      <p class="dicounts__text">при полной оплате курса за две недели до тренинга</p>
                    </div>
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-10%</div>
                      <p class="dicounts__text">при оплате всей стоимости курса за месяц до тренинга</p>
                    </div>
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-15%</div>
                      <p class="dicounts__text">при оплате всей стоимости курса за полтора месяца и более</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- item -->
              <div class="discounts__item discounts__item--bg-colored">
                <div class="discounts__image">
                  <img src="%=static=%img/content/discount2.png" alt="discount">
                </div>
                <div class="discounts__info">
                  <h2 class="discounts__info-title">Пригласите друзей: </h2>
                  <div class="discounts__type">
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-7%</div>
                      <p class="dicounts__text">при оплате всей стоимости курса за двоих</p>
                    </div>
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-10%</div>
                      <p class="dicounts__text">при оплате всей стоимости курса за троих</p>
                    </div>
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-15%</div>
                      <p class="dicounts__text">при оплате всей стоимости курса за четверых и более</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- item -->
              <div class="discounts__item">
                <div class="discounts__image discounts__image--bottom-rounded">
                  <img src="%=static=%img/content/discount3.png" alt="discount">
                </div>
                <div class="discounts__info">
                  <h2 class="discounts__info-title">Покупайте несколько образовательных программ: </h2>
                  <div class="discounts__type">
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-17%</div>
                      <p class="dicounts__text">от общей суммы, при покупке сразу двух образовательных программ.</p>
                    </div>
                    <div class="discounts__type-item">
                      <div class="discounts__percent">-30%</div>
                      <p class="dicounts__text">от общей суммы, при покупке сразу трех образовательных программ</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="blue-box">
            <div class="blue-box__content">
              <h3 class="requisites__attention">
                Скидки даются на любой тренинг, заявленный в расписании. <br>
                Скидки предоставляются одному человеку, пригласившему друзей. <br>
                Скидки не суммируются.
              </h3>
            </div>
          </section>

          <section class="abonements">
            <div class="abonements__content">
              <div class="abonements__sidebar">
                <h2 class="section-title">Готовые абонементы</h2>
                <p>Специально для тех, кто желает активно развиваться и расти, мы создали возможность купить годичный абонемент</p>
              </div>
              <div class="abonements__info">
                <!-- abonement -->
                <div class="abonement">
                  <div class="abonement__info">
                    <h3 class="abonement__title">Абонемент №1</h3>
                    <div class="plan__info">
                      <ul>
                        <li>Все тренинговые программы</li>
                      </ul>
                    </div>
                  </div>
                  <div class="abonement__footer">
                    <div class="abonement__period-price">
                      <span class="abonement__period">3 мес</span>
                      <span class="abonement__price">5000 <span class="abonement__grn">грн</span></span>
                    </div>
                    <div class="abonement__period-price">
                      <span class="abonement__period">6 мес</span>
                      <span class="abonement__price">6000 <span class="abonement__grn">грн</span></span>
                    </div>
                    <div class="abonement__period-price">
                      <span class="abonement__period">1 год</span>
                      <span class="abonement__price">11 000 <span class="abonement__grn">грн</span></span>
                    </div>
                  </div>
                </div>
                <!-- abonement -->
                <div class="abonement">
                  <div class="abonement__info">
                    <h3 class="abonement__title">Абонемент №2</h3>
                    <div class="plan__info">
                      <ul>
                        <li>Все тренинговые программы</li>
                        <li>Расстановки по Хеллингеру (заявитель) - 1 раз в месяц</li>
                      </ul>
                    </div>
                  </div>
                  <div class="abonement__footer">
                    <div class="abonement__period-price">
                      <span class="abonement__period">3 мес</span>
                      <span class="abonement__price">5000 <span class="abonement__grn">грн</span></span>
                    </div>
                    <div class="abonement__period-price">
                      <span class="abonement__period">6 мес</span>
                      <span class="abonement__price">8000 <span class="abonement__grn">грн</span></span>
                    </div>
                    <div class="abonement__period-price">
                      <span class="abonement__period">1 год</span>
                      <span class="abonement__price">14 500 <span class="abonement__grn">грн</span></span>
                    </div>
                  </div>
                </div>
                <!-- abonement -->
                <div class="abonement">
                  <div class="abonement__info">
                    <h3 class="abonement__title">Абонемент №3</h3>
                    <div class="plan__info">
                      <ul>
                        <li>Все тренинговые программы</li>
                        <li>Расстановки по Хеллингеру (заявитель) - 1 раз в месяц</li>
                        <li>Психологические консультиации - 1 раз в неделю</li>
                      </ul>
                    </div>
                  </div>
                  <div class="abonement__footer">
                    <div class="abonement__period-price">
                      <span class="abonement__period">3 мес</span>
                      <span class="abonement__price">3500 <span class="abonement__grn">грн</span></span>
                    </div>
                    <div class="abonement__period-price">
                      <span class="abonement__period">6 мес</span>
                      <span class="abonement__price">6000 <span class="abonement__grn">грн</span></span>
                    </div>
                    <div class="abonement__period-price">
                      <span class="abonement__period">1 год</span>
                      <span class="abonement__price">11 000 <span class="abonement__grn">грн</span></span>
                    </div>
                  </div>
                </div>
                <!-- abonement -->
                <div class="abonement">
                  <div class="abonement__info">
                    <h3 class="abonement__title">Абонемент №4</h3>
                    <div class="plan__info">
                      <ul>
                        <li>Расстановки по Хеллингеру (заявитель) - 1 раз в месяц</li>
                        <li>Психологические консультиации - 1 раз в неделю</li>
                      </ul>
                    </div>
                  </div>
                  <div class="abonement__footer">
                    <div class="abonement__period-price">
                      <span class="abonement__period">3 мес</span>
                      <span class="abonement__price">4000 <span class="abonement__grn">грн</span></span>
                    </div>
                    <div class="abonement__period-price">
                      <span class="abonement__period">6 мес</span>
                      <span class="abonement__price">7000 <span class="abonement__grn">грн</span></span>
                    </div>
                    <div class="abonement__period-price">
                      <span class="abonement__period">1 год</span>
                      <span class="abonement__price">12 000 <span class="abonement__grn">грн</span></span>
                    </div>
                  </div>
                </div>
                <!-- abonement -->
                <div class="abonement">
                  <div class="abonement__info">
                    <h3 class="abonement__title">Абонемент №5</h3>
                    <div class="plan__info">
                      <ul>
                        <li>Психологические консультиации - 1 раз в неделю</li>
                      </ul>
                    </div>
                  </div>
                  <div class="abonement__footer">
                    <div class="abonement__period-price">
                      <span class="abonement__period">3 мес</span>
                      <span class="abonement__price">3000 <span class="abonement__grn">грн</span></span>
                    </div>
                    <div class="abonement__period-price">
                      <span class="abonement__period">6 мес</span>
                      <span class="abonement__price">5000 <span class="abonement__grn">грн</span></span>
                    </div>
                    <div class="abonement__period-price">
                      <span class="abonement__period">1 год</span>
                      <span class="abonement__price">9 000 <span class="abonement__grn">грн</span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="we-pro we-pro--text we-pro--certificate we-pro--with-bg">
            <div class="we-pro__content">
              <div class="we-pro__info">
                <div class="we-pro__title">
                  <h2 class="section-title">Подарочный сертификат</h2>
                </div>
                <p>Теперь вы сможете подарить своим родным и близким полезный и приятный подарок – сертификат на посещение тренингового центра «Живое Слово». Получатель сертификата сможет сам по желанию выбрать ту или иную тренинговую программу, консультацию или другой вид услуг в нашем центре.</p>
                <p>Вы можете оплатить подарок через систему оплаты или наличными и подъехать за ним к нам в офис.</p>
                <p class="big-text">Сертификат можно приобрести на сумму: <br> <span class="green">250, 500, 1000, 1500, 2000</span> грн</p>
              </div>
              <div class="image-box__simple">
                <img class="we-pro__image" src="%=static=%img/content/certificate.png" alt="certificate">
              </div>
            </div>
          </section>

          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
          {{> footer/footer}}
        </footer>

      <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
      <script>svg4everybody();</script>

      <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
      <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
