<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <div id="player"></div>
        <section id="page" class="page__wrapper">
          {{> header/header }}

          <section class="top-banner">
            <div class="top-banner__video">
              <span class="play-btn" id="play-btn">
                <img src="%=static=%img/content/btn-play.svg" alt="play">
              </span>
              <script>
          			// 2. This code loads the IFrame Player API code asynchronously.
          			var tag = document.createElement('script');

          			tag.src = "https://www.youtube.com/iframe_api";
          			var firstScriptTag = document.getElementsByTagName('script')[0];
          			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          			// 3. This function creates an <iframe> (and YouTube player)
          			//    after the API code downloads.
          			var player;
          			var playBtn = document.getElementById('play-btn');
                var page = document.getElementById('page');
                var closeBtn = document.getElementById('close');

          			playBtn.addEventListener('click', function() {
          					function onYouTubeIframeAPIReady() {
          						player = new YT.Player('player', {
          							height: '90%',
          							width: '95%',

          							videoId: 'n1xLxce5zYs',
          							playerVars: {
          								autoplay: 1,
          								loop: 1,
          								rel: 0,
          								controls: 1,
          								showinfo: 1,
          								autohide: 0,
          								modestbranding: 1,
          								vq: 'hd1080'
          							},
          							events: {
          								'onReady': onPlayerReady
          							}
          						});
          					}
          					onYouTubeIframeAPIReady()

                    page.classList.add('lightbox');

          				})
          			// 4. The API will call this function when the video player is ready.
          			function onPlayerReady(event) {
          				event.target.playVideo();
          			}

          			// 5. The API calls this function when the player's state changes.
          			//    The function indicates that when playing a video (state=1),
          			//    the player should play for six seconds and then stop.
          			var done = false;

          			function stopVideo() {
          				player.stopVideo();
                }

                closeBtn.addEventListener('click', function() {
                  player.destroy();
                  page.classList.remove('lightbox');
                })
          		</script>
            </div>

            <div class="top-banner__content">
              <div class="trening-main__info">
                <div class="breadcrumbs">
                  <ul>
                    <li><a href="#">Главная</a></li>
                    <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                    <li><a href="#">Консультации</a></li>
                  </ul>
                </div>
                <h2 class="section-title section-title--big">
                  Консультации
                </h2>
                <p>Индивидуальная консультация — это работа клиента с психологом один на один. Цель  консультации — помощь клиенту в решении его проблемы и осознании ее истоков.</p>
                <img class="trening-main__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
              </div>
              <div class="trening-main__button">
                <button class="submit-button submit-button--banner" data-toggle="modal" data-target="#exampleModal">Записаться на консультацию</button>
              </div>
            </div>
          </section>

          <section class="consultations-list">
            <div class="consultations-list__content">
              <div class="consultations-list__cards">
                <!-- card -->
                <div class="consultation-card">
                  <div class="consultation-card__image">
                    <a href="#">
                      <img src="%=static=%img/content/cons-image1.png" alt="consultation">
                    </a>
                  </div>
                  <div class="consultation-card__info">
                    <a href="#" class="consultation-card__title">Биоэнерготерапия</a>
                    <p class="consultation-card__text">Биоэнерготерапия — лечение болезней и патологий с помощью биологической энергии. Человеческое тело сохраняет жизнеспособность благодаря энергии, полученной с питания, из воздуха, из окружающих нас излучений, из космоса. </p>
                    <div class="consultation-card__more">
                      <p class="trening-card__text">
                        <img src="%=static=%img/content/icon-clock.svg" alt="clock">1,5 часа
                      </p>
                      <p class="trening-card__price">500 грн</p>
                    </div>
                    <a href="#" class="trening-card__button">Подробнее</a>
                  </div>
                </div>
                <!-- card -->
                <div class="consultation-card">
                  <div class="consultation-card__image">
                    <a href="#">
                      <img src="%=static=%img/content/cons-card2.png" alt="consultation">
                    </a>
                  </div>
                  <div class="consultation-card__info">
                    <a href="#" class="consultation-card__title">Астролог</a>
                    <p class="consultation-card__text">Успех астрологической консультации – в открытости клиента и профессионализме астролога. Чем точнее вы мотивируете свой интерес к определенной теме, тем более ясный ответ вы сможете получить.</p>
                    <div class="consultation-card__more">
                      <p class="trening-card__text">
                        <img src="%=static=%img/content/icon-clock.svg" alt="clock">1 час
                      </p>
                      <p class="trening-card__price">200 грн</p>
                    </div>
                    <a href="#" class="trening-card__button">Подробнее</a>
                  </div>
                </div>
                <!-- card -->
                <div class="consultation-card">
                  <div class="consultation-card__image">
                    <a href="#">
                      <img src="%=static=%img/content/cons-card3.png" alt="consultation">
                    </a>
                  </div>
                  <div class="consultation-card__info">
                    <a href="#" class="consultation-card__title">Психолог</a>
                    <p class="consultation-card__text">Почти всех людей в определенные моменты жизни  что-то в этой жизни не устраивает. Возможно, отношения складываются не так, как хотелось бы, личные переживания не дают покоя, а достижения оставляют желать лучшего. </p>
                    <div class="consultation-card__more">
                      <p class="trening-card__text">
                        <img src="%=static=%img/content/icon-clock.svg" alt="clock">2 часа
                      </p>
                      <p class="trening-card__price">400 грн</p>
                    </div>
                    <a href="#" class="trening-card__button">Подробнее</a>
                  </div>
                </div>
                <!-- card -->
                <div class="consultation-card">
                  <div class="consultation-card__image">
                    <a href="#">
                      <img src="%=static=%img/content/cons-card4.png" alt="consultation">
                    </a>
                  </div>
                  <div class="consultation-card__info">
                    <a href="#" class="consultation-card__title">Дизайн человека</a>
                    <p class="consultation-card__text">Дизайн человека (Human design) является уникальным инструментом, который показывает вам, какой вы есть на самом деле и в чем заключается ваша истинная индивидуальность. Простое понимание себя и своей внутренней природы.</p>
                    <div class="consultation-card__more">
                      <p class="trening-card__text">
                        <img src="%=static=%img/content/icon-clock.svg" alt="clock">1,5 часа
                      </p>
                      <p class="trening-card__price">500 грн</p>
                    </div>
                    <a href="#" class="trening-card__button">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="author author--consultation">
            <h2 class="section-title">Консультации проводят</h2>
            <div class="author__content">
              <div class="author__image">
                <img src="%=static=%img/content/natali.png" alt="Author">
              </div>
              <div class="author__text">
                <h3 class="author__title">Наталья Шевцова</h3>
                <h3 class="author__sub-title">Автор и ведущая тренинга “Тайм-менеджмент”</h3>
                <p class="author__text">Тренер образовательных программ,  создатель и ведущая тренинга для женщин,  ведущая «Школы осознанных отношений», специалист по речевым коммуникациям, психолог-практик с опытом проведения индивидуальных психологических консультаций.</p>
                <button class="submit-button submit-button--signin">Записаться</button>
              </div>
            </div>

            <div class="author__content author__content--reversed">
              <div class="author__text">
                <h3 class="author__title">Александр Харин</h3>
                <h3 class="author__sub-title">Автор и тренер курса духовного развития</h3>
                <p class="author__text">Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. </p>
                <div class="align-right">
                  <button class="submit-button submit-button--signin submit-button--align-right">Записаться</button>
                </div>
              </div>
              <div class="author__image">
                <img src="%=static=%img/content/alex-circled.png" alt="Author">
              </div>
            </div>
          </section>

          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>


          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="popup">
                  <img class="popup__close" src="%=static=%img/content/icon-close.svg" data-dismiss="modal" alt="close">
                  <h2 class="section-title">
                    Спасибо, что заинтересовались нами
                  </h2>
                  <h3 class="popup__subtitle">Оставьте свои контактные данные и мысвяжемся с вами в течении 1 дня </h3>
                  <div class="popup__form">
                    <form action="">
                      <p class="popup__form-label">Имя</p>
                      <input type="text" class="popup__input" placeholder="Введите ваше имя">
                      <p class="popup__form-label">Телефон</p>
                      <input type="text" id="phone" class="popup__input"  data-mask="+380 (00) 000 00 00" placeholder="+380 (___) ___ __ __">
                      <p class="popup__form-label">Меня интересует</p>
                      <select class="popup__select" name="" id="">
                        <option value="">Курс “Духовное развитие”</option>
                        <option value="">Курс “Духовное развитие” 2</option>
                        <option value="">Курс “Духовное развитие” 3</option>
                      </select>
                      <div class="popup__submit">
                        <button class="submit-button">Связаться со мной</button>
                      </div>
                    </form>
                  </div>
                  <p class="popup__footer-text">
                    Или свяжитесь с нами по телефону:  <br> +380 (97) 33-44-505
                  </p>
                  <img class="popup__top-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                  <img class="popup__bottom-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                </div>
              </div>
            </div>
          </div>

          <!-- Modal kurs -->

          <div class="modal fade" id="kursModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="popup">
                  <img class="popup__close" src="%=static=%img/content/icon-close.svg" data-dismiss="modal" alt="close">
                  <h2 class="section-title">
                    Запись на курс “Духовное развитие”
                  </h2>
                  <div class="popup__form">
                    <form action="">
                      <p class="popup__form-label">Фамилия Имя</p>
                      <input type="text" class="popup__input" placeholder="Введите фамилию и имя">
                      <p class="popup__form-label">Адрес электронной почты</p>
                      <input type="text" class="popup__input" placeholder="Введите адрес эл. почты">
                      <p class="popup__form-label">Номер телефона с Viber</p>
                      <input type="text" id="phone" class="popup__input"  data-mask="+380 (00) 000 00 00" placeholder="+380 (___) ___ __ __">
                      <div class="popup__submit">
                        <button class="submit-button">Записаться</button>
                      </div>
                    </form>
                  </div>
                  <img class="popup__top-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                  <img class="popup__bottom-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                </div>
              </div>
            </div>
          </div>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
            {{> footer/footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
