<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <div id="player"></div>
        <section id="page" class="page__wrapper">
          {{> header/header }}

          <section class="top-banner">
            <div class="top-banner__video">
              <span class="play-btn" id="play-btn">
                <img src="%=static=%img/content/btn-play.svg" alt="play">
              </span>
              <script>
          			// 2. This code loads the IFrame Player API code asynchronously.
          			var tag = document.createElement('script');

          			tag.src = "https://www.youtube.com/iframe_api";
          			var firstScriptTag = document.getElementsByTagName('script')[0];
          			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          			// 3. This function creates an <iframe> (and YouTube player)
          			//    after the API code downloads.
          			var player;
          			var playBtn = document.getElementById('play-btn');
                var page = document.getElementById('page');
                var closeBtn = document.getElementById('close');

          			playBtn.addEventListener('click', function() {
          					function onYouTubeIframeAPIReady() {
          						player = new YT.Player('player', {
          							height: '90%',
          							width: '95%',

          							videoId: 'n1xLxce5zYs',
          							playerVars: {
          								autoplay: 1,
          								loop: 1,
          								rel: 0,
          								controls: 1,
          								showinfo: 1,
          								autohide: 0,
          								modestbranding: 1,
          								vq: 'hd1080'
          							},
          							events: {
          								'onReady': onPlayerReady
          							}
          						});
          					}
          					onYouTubeIframeAPIReady()

                    page.classList.add('lightbox');

          				})
          			// 4. The API will call this function when the video player is ready.
          			function onPlayerReady(event) {
          				event.target.playVideo();
          			}

          			// 5. The API calls this function when the player's state changes.
          			//    The function indicates that when playing a video (state=1),
          			//    the player should play for six seconds and then stop.
          			var done = false;

          			function stopVideo() {
          				player.stopVideo();
                }

                closeBtn.addEventListener('click', function() {
                  player.destroy();
                  page.classList.remove('lightbox');
                })
          		</script>
            </div>

            <div class="top-banner__content">
              <div class="trening-main__info">
                <div class="breadcrumbs">
                  <ul>
                    <li><a href="#">Главная</a></li>
                    <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                    <li><a href="#">Школы</a></li>
                  </ul>
                </div>
                <h2 class="section-title section-title--big">
                  Школы
                </h2>
                <p>Наши школы - это способ пройти личностную трансформацию</p>
                <img class="trening-main__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
              </div>
              <div class="trening-main__button">
                <button class="submit-button submit-button--banner" data-toggle="modal" data-target="#exampleModal">Помочь выбрать школу</button>
              </div>
            </div>
          </section>

          <section class="schools-list">
            <div class="schools-list__content">
              <div class="schools-list__cards">
                <!-- card -->
                <div class="school-card">
                  <div class="school-card__image">
                    <a href="#">
                      <img src="%=static=%img/content/school1.png" alt="school">
                    </a>
                  </div>
                  <div class="school-card__info">
                    <div>
                      <a href="#" class="school-card__title">Школа духовного <br />развития</a>
                      <p class="school-card__text">Эта школа для тех, кто ищет в жизни какой-то более глубокий смысл. Для тех, кто саморазвитие и духовный рост считают важными и ценными. Осознайте свои внутренние ценности, очистившись от негатива</p>
                    </div>
                    <div class="school-card__price">
                      <span class="school-card__price-new">900 грн</span>
                      <span class="school-card__price-old">1200 грн</span>
                      <button class="submit-button"  data-toggle="modal" data-target="#kursModal">Записаться</button>
                    </div>
                  </div>
                </div>
                <!-- card -->
                <div class="school-card">
                  <div class="school-card__image">
                    <a href="#">
                      <img src="%=static=%img/content/school2.png" alt="school">
                    </a>
                  </div>
                  <div class="school-card__info">
                    <div>
                      <a href="#" class="school-card__title">Школа развития <br> личности</a>
                      <p class="school-card__text">Эта школа для тех, кто ищет в жизни какой-то более глубокий смысл. Для тех, кто саморазвитие и духовный рост считают важными и ценными. Осознайте свои внутренние ценности, очистившись от негатива</p>
                    </div>
                    <div class="school-card__price">
                      <span class="school-card__price-new">800 грн</span>
                      <span class="school-card__price-old">1000 грн</span>
                      <button class="submit-button"  data-toggle="modal" data-target="#kursModal">Записаться</button>
                    </div>
                  </div>
                </div>
                <!-- card -->
                <div class="school-card">
                  <div class="school-card__image">
                    <a href="#">
                      <img src="%=static=%img/content/school3.png" alt="school">
                    </a>
                  </div>
                  <div class="school-card__info">
                    <div>
                      <a href="#" class="school-card__title">Школа осознанных <br />отношений</a>
                      <p class="school-card__text">Обучение для тех, кто стремится к пониманию себя, к раскрытию и реализации своих способностей и талантов. Познакомьтесь с собой истинным и выработайте стратегический план жизни</p>
                    </div>
                    <div class="school-card__price">
                      <span class="school-card__price-new">800 грн</span>
                      <span class="school-card__price-old">1000 грн</span>
                      <button class="submit-button"  data-toggle="modal" data-target="#kursModal">Записаться</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="close-events">
            <div class="close-events__content">
              <h2 class="section-title">Ближайшие занятия</h2>
              <ul class="close-events__list">
                <li class="close-events__item">
                  <a href="#" class="close-events__title">Школа Духовного Роста</a>
                  <p class="close-events__text">19 сентября 19:00</p>
                </li>
                <li class="close-events__item">
                  <a href="#" class="close-events__title">Школа Развития Личности</a>
                  <p class="close-events__text">17 сентября 17:00</p>
                </li>
                <li class="close-events__item">
                  <a href="#" class="close-events__title">Школа Осознанных отношений</a>
                  <p class="close-events__text">23 октября 18:00</p>
                </li>
              </ul>
              <a class="close-events__all vertical-align" href="#">
                Все события
                <img class="close-events__icon" src="%=static=%img/content/icon-carret-right.svg" alt="all">
              </a>
            </div>
            <div class="close-events__feature">
              <div class="trenings__wrapper">
                <img class="trenings__image" src="%=static=%img/content/trenings-feature.jpg" alt="trenings image">
                <div class="trenings__feature">
                  <h3 class="trenings__feature-title">Школа Развития Личности</h3>
                  <h4 class="trenings__feature-subtitle">Продолжительность</h4>
                  <p class="trenings__feature-text">10 месяцев</p>
                  <h4 class="trenings__feature-subtitle trenings__feature-subtitle--price">Стоимость:</h4>
                  <p class="trenings__feature-text">2500 грн/месяц</p>
                  <div class="trenings__button">
                    <button class="submit-button"  data-toggle="modal" data-target="#kursModal">Записаться</button>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="author author--consultation">
            <h2 class="section-title">Школы проводят</h2>
            <div class="author__content">
              <div class="author__image">
                <img src="%=static=%img/content/natali.png" alt="Author">
              </div>
              <div class="author__text">
                <h3 class="author__title">Наталья Шевцова</h3>
                <h3 class="author__sub-title">Автор и ведущая тренинга “Тайм-менеджмент”</h3>
                <p class="author__text">Тренер образовательных программ,  создатель и ведущая тренинга для женщин,  ведущая «Школы осознанных отношений», специалист по речевым коммуникациям, психолог-практик с опытом проведения индивидуальных психологических консультаций.</p>
                <button class="submit-button submit-button--signin">Записаться</button>
              </div>
            </div>

            <div class="author__content author__content--reversed">
              <div class="author__text">
                <h3 class="author__title">Александр Харин</h3>
                <h3 class="author__sub-title">Автор и тренер курса духовного развития</h3>
                <p class="author__text">Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. </p>
                <div class="align-right">
                  <button class="submit-button submit-button--signin submit-button--align-right">Записаться</button>
                </div>
              </div>
              <div class="author__image">
                <img src="%=static=%img/content/alex-circled.png" alt="Author">
              </div>
            </div>
          </section>

          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>


          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="popup">
                  <img class="popup__close" src="%=static=%img/content/icon-close.svg" data-dismiss="modal" alt="close">
                  <h2 class="section-title">
                    Спасибо, что заинтересовались нами
                  </h2>
                  <h3 class="popup__subtitle">Оставьте свои контактные данные и мысвяжемся с вами в течении 1 дня </h3>
                  <div class="popup__form">
                    <form action="">
                      <p class="popup__form-label">Имя</p>
                      <input type="text" class="popup__input" placeholder="Введите ваше имя">
                      <p class="popup__form-label">Телефон</p>
                      <input type="text" id="phone" class="popup__input"  data-mask="+380 (00) 000 00 00" placeholder="+380 (___) ___ __ __">
                      <p class="popup__form-label">Меня интересует</p>
                      <select class="popup__select" name="" id="">
                        <option value="">Курс “Духовное развитие”</option>
                        <option value="">Курс “Духовное развитие” 2</option>
                        <option value="">Курс “Духовное развитие” 3</option>
                      </select>
                      <div class="popup__submit">
                        <button class="submit-button">Связаться со мной</button>
                      </div>
                    </form>
                  </div>
                  <p class="popup__footer-text">
                    Или свяжитесь с нами по телефону:  <br> +380 (97) 33-44-505
                  </p>
                  <img class="popup__top-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                  <img class="popup__bottom-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                </div>
              </div>
            </div>
          </div>

          <!-- Modal kurs -->

          <div class="modal fade" id="kursModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="popup">
                  <img class="popup__close" src="%=static=%img/content/icon-close.svg" data-dismiss="modal" alt="close">
                  <h2 class="section-title">
                    Запись на курс “Духовное развитие”
                  </h2>
                  <div class="popup__form">
                    <form action="">
                      <p class="popup__form-label">Фамилия Имя</p>
                      <input type="text" class="popup__input" placeholder="Введите фамилию и имя">
                      <p class="popup__form-label">Адрес электронной почты</p>
                      <input type="text" class="popup__input" placeholder="Введите адрес эл. почты">
                      <p class="popup__form-label">Номер телефона с Viber</p>
                      <input type="text" id="phone" class="popup__input"  data-mask="+380 (00) 000 00 00" placeholder="+380 (___) ___ __ __">
                      <div class="popup__submit">
                        <button class="submit-button">Записаться</button>
                      </div>
                    </form>
                  </div>
                  <img class="popup__top-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                  <img class="popup__bottom-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                </div>
              </div>
            </div>
          </div>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
            {{> footer/footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
