<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="page__wrapper">
          {{> header/header }}

          <section class="cabinet">
            <div class="breadcrumbs">
              <ul>
                <li><a href="#">Главная</a></li>
                <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                <li><a href="#">Личный Кабинет</a></li>
              </ul>
            </div>
            <div class="cabinet__content">
              <div class="cabinet__sidebar">
                <div>
                  <div class="cabinet__image">
                    <img src="%=static=%img/content/user.png" alt="user">
                  </div>
                  <h3 class="cabinet__title">Яна Колота</h3>
                  <ul class="cabinet__settings-list">
                    <li><a class="cabinet__nav active" href="#">Мои курсы</a></li>
                    <li><a class="cabinet__nav" href="#">Настройки</a></li>
                  </ul>
                  <a href="#" class="cabinet__mobile-settings show-mobile">
                    <img src="%=static=%img/content/icon-settings.svg" alt="settings">
                  </a>
                </div>
                <p class="cabinet__courses-count">Доступно курсов: 4</p>
              </div>
              <div class="cabinet__info">
                <div class="trenings-list">
                  <div class="otzivi__select">
                    <p class="otzivi__filter">По темам:</p>
                    <select name="" id="">
                      <option value="">Все</option>
                      <option value="">Последние</option>
                    </select>
                  </div>
                  <div class="otzivi__select">
                    <p class="otzivi__filter">Сортировать:</p>
                    <select name="" id="">
                      <option value="">По дате</option>
                      <option value="">Последние</option>
                    </select>
                  </div>
                </div>
                <div class="cabinet__course-list">
                  <!-- card -->
                  <div class="trening-card">
                    <div class="trening-card__image">
                      <a href="#">
                        <img src="%=static=%img/content/cabinet-course.png" alt="trening">
                      </a>
                    </div>
                    <div class="trening-card__content">
                      <div class="trening-card__info">
                        <a href="#" class="trening-card__title">Курс духовного развития</a>
                        <p class="trening-card__text">
                          <img src="%=static=%img/content/icon-clock.svg" alt="clock">8 часов
                        </p>
                        <p class="trening-card__text">
                          <img src="%=static=%img/content/icon-calendar.svg" alt="clock">6 лекций
                        </p>
                      </div>
                      <div class="trening-card__more">
                        <div></div>
                        <a href="#" class="trening-card__button">В курс</a>
                      </div>
                    </div>
                  </div>
                  <!-- card -->
                  <div class="trening-card">
                    <div class="trening-card__image">
                      <a href="#">
                        <img src="%=static=%img/content/cabinet-card2.png" alt="trening">
                      </a>
                    </div>
                    <div class="trening-card__content">
                      <div class="trening-card__info">
                        <a href="#" class="trening-card__title">Курс осознанных отношений</a>
                        <p class="trening-card__text">
                          <img src="%=static=%img/content/icon-clock.svg" alt="clock">8 часов
                        </p>
                        <p class="trening-card__text">
                          <img src="%=static=%img/content/icon-calendar.svg" alt="clock">6 лекций
                        </p>
                      </div>
                      <div class="trening-card__more">
                        <div></div>
                        <a href="#" class="trening-card__button">В курс</a>
                      </div>
                    </div>
                  </div>
                  <!-- card -->
                  <div class="trening-card">
                    <div class="trening-card__image">
                      <a href="#">
                        <img src="%=static=%img/content/cabinet-course.png" alt="trening">
                      </a>
                    </div>
                    <div class="trening-card__content">
                      <div class="trening-card__info">
                        <a href="#" class="trening-card__title">Курс развития личности</a>
                        <p class="trening-card__text">
                          <img src="%=static=%img/content/icon-clock.svg" alt="clock">8 часов
                        </p>
                        <p class="trening-card__text">
                          <img src="%=static=%img/content/icon-calendar.svg" alt="clock">6 лекций
                        </p>
                      </div>
                      <div class="trening-card__more">
                        <div></div>
                        <a href="#" class="trening-card__button">В курс</a>
                      </div>
                    </div>
                  </div>
                  <!-- card -->
                  <div class="trening-card">
                    <div class="trening-card__image">
                      <a href="#">
                        <img src="%=static=%img/content/cabinet-course.png" alt="trening">
                      </a>
                    </div>
                    <div class="trening-card__content">
                      <div class="trening-card__info">
                        <a href="#" class="trening-card__title">Курс духовного развития</a>
                        <p class="trening-card__text">
                          <img src="%=static=%img/content/icon-clock.svg" alt="clock">8 часов
                        </p>
                        <p class="trening-card__text">
                          <img src="%=static=%img/content/icon-calendar.svg" alt="clock">6 лекций
                        </p>
                      </div>
                      <div class="trening-card__more">
                        <div></div>
                        <a href="#" class="trening-card__button">В курс</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
            {{> footer/footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
