<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="page__wrapper">
          {{> header/header }}

          <section class="cabinet cabinet--no-bg">
            <div class="breadcrumbs">
              <ul>
                <li><a href="#">Главная</a></li>
                <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                <li><a href="#">Личный Кабинет</a></li>
                <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                <li><a href="#">Курс Духовного Развития</a></li>
              </ul>
            </div>
            <div class="cabinet__content">
              <div class="cabinet__sidebar cabinet__sidebar--wider">
                <ul>
                  <li><a class="cabinet__nav cabinet__nav--smaller active" href="#">Лекция 1. Строение тонких тел</a></li>
                  <li><a class="cabinet__nav cabinet__nav--smaller" href="#">Лекция 2. Энергетика и способы ее пополнения</a></li>
                  <li><a class="cabinet__nav cabinet__nav--smaller" href="#">Лекция 3. Ценности человека</a></li>
                  <li><a class="cabinet__nav cabinet__nav--smaller" href="#">Лекция 4. Человек - как часть рода, человечества и Вселенной</a></li>
                  <li><a class="cabinet__nav cabinet__nav--smaller" href="#">Лекция 5. Проработка проблем личности. Исцеление души</a></li>
                  <li><a class="cabinet__nav cabinet__nav--smaller" href="#">Лекция 6. Гармонизация и развитие</a></li>
                </ul>
              </div>
              <div class="cabinet__info cabinet__info--text">
                <h2 class="section-title section-title--big">Строение тонких тел</h2>
                <p>Теперь, соответственно, нужно понять, что такое ошибка, грех. И что такое ошибка относительно рода и кармы. Ошибка –  это отклонение от основных космических или кармических законов. Такие вот отклонения и приводят к искажению судьбы одного человека или целого рода, если похожие ошибки повторяются в роду.</p>
                <iframe width="100%" height="378" src="https://www.youtube.com/embed/BIbomZzz_fU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <a href="#" class="more-button more-button--next">Следующая лекция</a>
              </div>
            </div>
          </section>


          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
            {{> footer/footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
