<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="page__wrapper">
          {{> header/header }}

          <section class="cabinet cabinet--no-bg">
            <div class="breadcrumbs">
              <ul>
                <li><a href="#">Главная</a></li>
                <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                <li><a href="#">Личный Кабинет</a></li>
                <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                <li><a href="#">Курс Духовного Развития</a></li>
              </ul>
            </div>
            <div class="cabinet__content">
              <div class="cabinet__sidebar cabinet__sidebar--wider">
                <ul>
                  <li><a class="cabinet__nav cabinet__nav--smaller" href="#">Лекция 1. Строение тонких тел</a></li>
                  <li><a class="cabinet__nav cabinet__nav--smaller active" href="#">Лекция 2. Энергетика и способы ее пополнения</a></li>
                  <li><a class="cabinet__nav cabinet__nav--smaller" href="#">Лекция 3. Ценности человека</a></li>
                  <li><a class="cabinet__nav cabinet__nav--smaller" href="#">Лекция 4. Человек - как часть рода, человечества и Вселенной</a></li>
                  <li><a class="cabinet__nav cabinet__nav--smaller" href="#">Лекция 5. Проработка проблем личности. Исцеление души</a></li>
                  <li><a class="cabinet__nav cabinet__nav--smaller" href="#">Лекция 6. Гармонизация и развитие</a></li>
                </ul>
              </div>
              <div class="cabinet__info cabinet__info--text">
                <h2 class="section-title section-title--big">Энергетика и способы ее пополнения</h2>
                <p><i>Грехи рода. Словосочетание режущее и неприятное. Существует ли на самом деле этот самый родовой грех? И как грехи рода влияют на нашу жизнь?</i></p>
                <p>Чтобы не пугаться всякой там метафизической мудрености, попробуем немного разобраться в формулировках, их сути. Для этого введем некоторые понятия и уж потом поговорим, как справляться со своим родовым наследием.</p>
                <h2 class="section-title">Грехи рода. Разбираемся в понятиях</h2>
                <ul>
                  <li>
                    <p>1) <b>Родовой грех</b> – это родовая программа негативного характера, существующая в родовом поле. </p>
                  </li>
                  <li>
                    <p>2) Сила рода подпитывает любую родовую программу, в том числе и негативную, если ее запустить, активировать. Неактивированная программа не отбирает энергию, не проводит энергию и не привносит негативные последствия. Ведь она не работает.</p>
                  </li>
                  <li>
                    <p>3) Родовой грех, каким бы он тяжелым ни был, не будет на нас влиять, если его не активировать.</p>
                  </li>
                  <li>
                    <p>4) Наша душа, попадает в род, которому она соответствует. Поэтому наши личные кармические программы часто схожи с родовыми.</p>
                  </li>
                  <li>
                    <p>4) Наша душа, попадает в род, которому она соответствует. Поэтому наши личные кармические программы часто схожи с родовыми.</p>
                  </li>
                  <li>
                    <p>6) При нашей внутренней работе над собой меняемся мы сами и параллельно очищается род. Как говорится: <i>«Спасись сам, и вокруг тебя тысячи спасутся».</i></p>
                  </li>
                </ul>

                <p> Обо всём этом говорится в наших более ранних статьях, чтобы ознакомиться с темой подробнее, читайте их. Сейчас же поговорим конкретно о том, что такое родовой грех, как отмолить свой род, да и зачем нам нужно получать прощение грехов рода. </p>

                <h2 class="section-title">Что такое грехи рода или грехи предков?</h2>

                <p class="quote">
                  «ГРЕХ (греч. hamartia — промах, ошибка; в русском языке слово «грех» также изначально соответствовало понятию ошибка» — ср. «погрешность», «огрехи»)»
                </p>

                <p>Теперь, соответственно, нужно понять, что такое ошибка, грех. И что такое ошибка относительно рода и кармы. Ошибка –  это отклонение от основных космических или кармических законов. Такие вот отклонения и приводят к искажению судьбы одного человека или целого рода, если похожие ошибки повторяются в роду.</p>
                <figure>
                  <img src="%=static=%img/content/article-image.png" alt="image">
                </figure>
                <p>В связи с этим понятием, грехи рода – это накопленные ошибки целых поколений в роду. Именно они, как и записанные программы на жестком диске в компьютере, лежат где-нибудь в «родовом поле» и ждут того момента, пока кто-нибудь в роду не нажмёт пресловутую кнопочку «enter» и не запустит программы в действие.</p>
                <p>Когда родовая программа, родовой грех, запущены, остается только их воспроизвести или отработать. </p>
                <p>Поэтому грехи рода вынуждают человека либо повторить их, либо отработать. Это и называется <i>«отмолить грехи рода».</i></p>
                <p>Напомним, что если у человека в его характере или по его карме, нет негативных программ, похожих на грехи рода, он их не запустит ни в своей жизни, ни в роду. </p>

                <div class="cabinet__lections-nav">
                  <a href="#" class="more-button more-button--next more-button--grey">Предыдущая лекция</a>
                  <a href="#" class="more-button more-button--next">Следующая лекция</a>
                </div>
              </div>
            </div>
          </section>


          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
            {{> footer/footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
