<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="page__wrapper">
          {{> header/header }}

          <section class="cabinet cabinet--blue-bg">
            <div class="breadcrumbs">
              <ul>
                <li><a href="#">Главная</a></li>
                <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                <li><a href="#">Личный Кабинет</a></li>
              </ul>
            </div>
            <div class="cabinet__content">
              <h2 class="section-title section-title--settings show-mobile">
                <img src="%=static=%img/content/icon-settings.svg" alt="settings">
                Настройки
              </h2>
              <div class="cabinet__sidebar hide-mobile">
                <div>
                  <div class="cabinet__image">
                    <img src="%=static=%img/content/user.png" alt="user">
                  </div>
                  <h3 class="cabinet__title">Яна Колота</h3>
                  <ul>
                    <li><a class="cabinet__nav" href="#">Мои курсы</a></li>
                    <li><a class="cabinet__nav active" href="#">Настройки</a></li>
                  </ul>
                </div>
                <p class="cabinet__courses-count">Доступно курсов: 4</p>
              </div>
              <div class="cabinet__info cabinet__info--full-width">
                <div class="cabinet__form">
                  <form action="">
                    <p class="cabinet__field-label">Фотография</p>
                    <div class="cabinet__change-photo">
                      <img src="%=static=%img/content/user.png" alt="user">
                      <button class="cabinet__change-button">Изменить</button>
                    </div>
                    <div class="cabinet__name-fields">
                      <div class="cabinet__name-field">
                        <p class="cabinet__field-label">Имя</p>
                        <input class="cabinet__input" type="text" value="Яна">
                      </div>
                      <div class="cabinet__name-field">
                        <p class="cabinet__field-label">Фамилия</p>
                        <input class="cabinet__input" type="text" value="Колота">
                      </div>
                    </div>
                    <p class="cabinet__field-label">Адрес Эл. Почты</p>
                    <input class="cabinet__input" type="email" value="yanakolota@gmail.com">
                    <div class="blue-divider"></div>
                    <div class="cabinet__password">
                      <p class="cabinet__field-label">Изменить пароль</p>
                      <div class="cabinet__change-password">
                        <input class="cabinet__input" type="text" placeholder="Новый пароль">
                      </div>
                      <div class="cabinet__change-password">
                        <input class="cabinet__input" type="text" placeholder="Повторите пароль">
                      </div>
                    </div>
                    <button class="submit-button" type="submit">Сохранить</button>
                  </form>
                </div>
              </div>
            </div>
          </section>

          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
            {{> footer/footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
