<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <div id="player"></div>
        <section id="page" class="page__wrapper">
          {{> header/header }}

          <section class="top-banner">
            <div class="top-banner__video top-banner__video--short" style="background-image: url('%=static=%img/content/bg-for-business.jpg');">
              <span class="play-btn move-right" id="play-btn">
                <img src="%=static=%img/content/btn-play.svg" alt="play">
              </span>
              <script>
                // 2. This code loads the IFrame Player API code asynchronously.
                var tag = document.createElement('script');

                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                // 3. This function creates an <iframe> (and YouTube player)
                //    after the API code downloads.
                var player;
                var playBtn = document.getElementById('play-btn');
                var page = document.getElementById('page');
                var closeBtn = document.getElementById('close');

                playBtn.addEventListener('click', function() {
                    function onYouTubeIframeAPIReady() {
                      player = new YT.Player('player', {
                        height: '90%',
                        width: '95%',

                        videoId: 'n1xLxce5zYs',
                        playerVars: {
                          autoplay: 1,
                          loop: 1,
                          rel: 0,
                          controls: 1,
                          showinfo: 1,
                          autohide: 0,
                          modestbranding: 1,
                          vq: 'hd1080'
                        },
                        events: {
                          'onReady': onPlayerReady
                        }
                      });
                    }
                    onYouTubeIframeAPIReady()

                    page.classList.add('lightbox');

                  })
                // 4. The API will call this function when the video player is ready.
                function onPlayerReady(event) {
                  event.target.playVideo();
                }

                // 5. The API calls this function when the player's state changes.
                //    The function indicates that when playing a video (state=1),
                //    the player should play for six seconds and then stop.
                var done = false;

                function stopVideo() {
                  player.stopVideo();
                }

                closeBtn.addEventListener('click', function() {
                  player.destroy();
                  page.classList.remove('lightbox');
                })
              </script>
            </div>

            <div class="top-banner__content">
              <div class="trening-main__info">
                <div class="breadcrumbs">
                  <ul>
                    <li><a href="#">Главная</a></li>
                    <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                    <li><a href="#">Тренинги для бизнеса</a></li>
                  </ul>
                </div>
                <h2 class="section-title section-title--big">
                  Тренинги ораторского мастерства  для бизнеса
                </h2>
                <p>Наши школы - это способ пройти личностную трансформацию</p>
                <img class="trening-main__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
              </div>
              <div class="trening-main__button">
                <button class="submit-button submit-button--banner" data-toggle="modal" data-target="#exampleModal">Получить коммерческое предложение</button>
              </div>
            </div>
          </section>

          <section class="image-list image-list--without-bg">
            <div class="image-list__content">
              <div class="our-team__image-box our-team__image-box--without-bg">
                <img src="%=static=%img/content/for-business.png" alt="Trening">
              </div>
              <div class="image-list__info">
                <h2 class="section-title">
                  Почему вам необходим корпоративный тренинг по ораторскому искусству
                </h2>
                <div class="marked-list marked-list--full-width">
                  <ul>
                    <li>Вашим лидеры команд, проектов или отделов нуждаются в навыках для еженедельных, ежедневных совещаний</li>
                    <li>Вашим сотрудникам необходимо консультировать клиентов, проводить демонстрации перед ними</li>
                    <li>Ваши сотрудники нуждаются в повышении самооценки и правильном самовыражении</li>
                    <li>Вашим лидерам компании необходимо выступать на значимых для коллектива мероприятиях</li>
                    <li>Ваша компания проводит открытые уроки или курсы</li>
                    <li>Ваша компания устраивает конференции или выступает на них</li>
                    <li>Вам необходимо объединить команду в нерабочее время</li>
                    <li>Вашим сотрудникам необходимо продавать товары или услуги</li>
                  </ul>
                </div>
              </div>
            </div>
          </section>

          <section class="points points--with-bg">
            <div class="points__content">
              <div class="points__info">
                <h2 class="section-title">
                  Что Вы получаете от корпоративного тренинга в Живом Слове
                </h2>
                <div class="marked-list">
                  <ul>
                    <li>Сотрудники с навыками публичного выступления</li>
                    <li>Более высокий уровень проведения конференций, курсов, уроков</li>
                    <li>Повышение компетентности руководителей в глазах подчинённых на выступлениях</li>
                  </ul>
                  <ul>
                    <li>Более сплочённая и знающая друг друга команда</li>
                    <li>Более уверенное поведение сотрудников с клиентами</li>
                    <li>Более уравновешенные и осознанные сотрудники, умеющие выражать свои мысли</li>
                  </ul>
                </div>
              </div>
              <div class="points__image">
                <img src="%=static=%img/content/trening-list.png" alt="points image">
              </div>
              <img class="points__triangle" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="points__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
            </div>
          </section>

          <section class="check-list">
            <div class="check-list__content">
              <h2 class="section-title">Что приобретают ваши сотрудники</h2>
              <div class="plan__info">
                <ul>
                  <li>Освоенные ключевые ораторские техники</li>
                  <li>Умение преодолевать естественное волнение</li>
                  <li>Способность непринуждённо держаться перед аудиторией</li>
                  <li>Умение создавать благоприятное первое впечатление у зрителя</li>
                  <li>Мастерство управления своей речью и удерживания внимания зрителя нужное время</li>
                  <li>Отработка жестов и поз для многократного усиления эффекта выступления</li>
                </ul>
                <ul>
                  <li>Развитие внятности, логичности, грамотности, выразительности и эмоциональности речи</li>
                  <li>Навыки интриголингвистики, элементов красноречия, техник убеждения</li>
                  <li>Отработка навыков выступления перед «трудной» публикой</li>
                  <li>Адаптация знаний и речевых навыков под свой характер с помощью преподавателя на протяжении всего обучения</li>
                  <li>Удовольствие от собственных выступлений</li>
                </ul>
              </div>
              <img class="check-list__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
            </div>
          </section>

          <section class="what-choose">
            <div class="what-choose__content">
              <h2 class="section-title">Какой формат обучения выбрать?</h2>
              <div class="what-choose__blocks">
                <div class="what-choose__item">
                  <h3 class="what-choose__title">Полноценный тренинг</h3>
                  <p class="what-choose__subtitle">12 занятий по 3-3,5 часа</p>
                  <p class="what-choose__text">Идеально для поднятия уровня  конференций, курсов, уроков, повышения компетентности</p>
                </div>
                <div class="what-choose__item">
                  <h3 class="what-choose__title">Интенсив <span>(любая тема программы)</span></h3>
                  <p class="what-choose__subtitle">1 день по 6-7 часов</p>
                  <p class="what-choose__text">Идеально для выступлений представителей компании на значимых мероприятиях</p>
                </div>
                <div class="what-choose__item">
                  <h3 class="what-choose__title">Интенсив на выходных <span>(любая тема программы)</span></h3>
                  <p class="what-choose__subtitle">2 дня по 6-7 часов</p>
                  <p class="what-choose__text">Идеально для повышения самооценки и навыков коммуникации сотрудников </p>
                </div>
                <div class="what-choose__item">
                  <h3 class="what-choose__title">Мастер-класс <span>(любая тема программы)</span></h3>
                  <p class="what-choose__subtitle">3-4 часа</p>
                  <p class="what-choose__text">Идеально для тимбилдингов</p>
                </div>
              </div>
              <button class="submit-button">ПОЛУЧИТЬ КОММЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ</button>
              <img class="what-choose__triangle-top" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="what-choose__triangle" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="what-choose__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
            </div>
          </section>

          <section class="points points--lest-top-space">
            <div class="points__content">
              <div class="points__info">
                <h2 class="section-title">
                  В чем уникальность опыта Живого Слова?
                </h2>
                <div class="marked-list">
                  <ul>
                    <li>Мы на образовательном рынке с 2004 года</li>
                    <li>Мы преподаём людям с любыми исходными данными и возрастом</li>
                    <li>Мы раскрываем людей так, чтобы они становились более оживлёнными через правильное самовыражение и заражались своей эмоциональной силой</li>
                    <li>Основа тренинга - объединение достижений педагогики и риторики, приёмов политиков и методов классической психологии</li>
                    <li>Преподаватель - опытный психолог со стажем успешной работы более 15 лет</li>
                    <li>110+ некорпоративных групп учеников успешно прошли курсы ораторского искусства в наших стенах</li>
                    <li>Мы даём 36-42 образовательных часа на каждом тренинге ораторского искусства</li>
                  </ul>
                </div>
              </div>
              <div class="points__image">
                <img src="%=static=%img/content/point-image.png" alt="points image">
              </div>
            </div>
          </section>

          <section class="customers">
            <div class="customers__content">
              <h2 class="section-title">Тренингам от Живого Слова доверились</h2>
              <div class="customers__slider">
                <div class="customers__item">
                  <div class="customers__top-item">
                    <h3 class="customers__name">ТОВ “ДНЕПРОАГРОСТРОЙ”</h3>
                  </div>
                  <img src="%=static=%img/content/customer1.png" alt="customer">
                </div>
                <div class="customers__item">
                  <div class="customers__top-item">
                    <img src="%=static=%img/content/customer2.png" alt="customer">
                  </div>
                  <img src="%=static=%img/content/customer3.png" alt="customer">
                </div>
                <div class="customers__item">
                  <div class="customers__top-item">
                    <img src="%=static=%img/content/customer4.png" alt="customer">
                  </div>
                  <h3 class="customers__name">ГО “АПБМ” ТА ССРМ “АВОДА”</h3>
                </div>
                <div class="customers__item">
                  <div class="customers__top-item">
                    <h3 class="customers__name">ТОВ “ДНЕПРОАГРОСТРОЙ”</h3>
                  </div>
                  <img src="%=static=%img/content/customer1.png" alt="customer">
                </div>
                <div class="customers__item">
                  <div class="customers__top-item">
                    <img src="%=static=%img/content/customer2.png" alt="customer">
                  </div>
                  <img src="%=static=%img/content/customer3.png" alt="customer">
                </div>
                <div class="customers__item">
                  <div class="customers__top-item">
                    <img src="%=static=%img/content/customer4.png" alt="customer">
                  </div>
                  <h3 class="customers__name">ГО “АПБМ” ТА ССРМ “АВОДА”</h3>
                </div>
              </div>
            </div>
          </section>

          <section class="author-business">
            <div class="author__content author__content--reversed">
              <div class="author__text">
                <h3 class="author__title">Александр Харин</h3>
                <h3 class="author__sub-title">Автор и тренер курса духовного развития</h3>
                <p class="author__text">Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. </p>
                <div class="align-right">
                  <button class="submit-button submit-button--signin submit-button--align-right">ПОЛУЧИТЬ КОММЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ</button>
                </div>
              </div>
              <div class="author__image">
                <img src="%=static=%img/content/alex-circled.png" alt="Author">
              </div>
            </div>
          </section>

          <section class="our-team">
            <div class="our-team__content">
              <h2 class="section-title section-title--big">Тренинги ведут</h2>
              <div class="our-team__boxes">
                <div class="tab-content" id="author-tabContent">
                  <div class="tab-pane fade show active" id="author-1" role="tabpanel" aria-labelledby="author-tab-1">
                    <div class="our-team__member">
                      <div class="our-team__image-box">
                        <img src="%=static=%img/content/alex-harin.png" alt="Alexander Harin">
                      </div>
                      <div class="our-team__info">
                        <h2 class="section-title">Александр Харин</h2>
                        <ul class="nav mb-3" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Обо мне</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Образование</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Какие тренинги  я веду?</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <p>
                              <span>Создатель, руководитель и идейный вдохновитель учебно-психологического центра «Живое Слово»</span><br/>
                              Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. Считает, что, только двигаясь вместе, мы можем достигнуть высоких целей, больших успехов и весомых результатов.
                            </p>
                          </div>
                          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Об образовании</div>
                          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">О тренингах</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="author-2" role="tabpanel" aria-labelledby="author-tab-2">
                    <div class="our-team__member">
                      <div class="our-team__image-box">
                        <img src="%=static=%img/content/alex-harin.png" alt="Alexander Harin">
                      </div>
                      <div class="our-team__info">
                        <h2 class="section-title">Автор 1</h2>
                        <ul class="nav mb-3" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab-2" data-toggle="pill" href="#pills-home-2" role="tab" aria-controls="pills-home-2" aria-selected="true">Обо мне</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab-2" data-toggle="pill" href="#pills-profile-2" role="tab" aria-controls="pills-profile-2" aria-selected="false">Образование</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab-2" data-toggle="pill" href="#pills-contact-2" role="tab" aria-controls="pills-contact-2" aria-selected="false">Какие тренинги  я веду?</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-home-2" role="tabpanel" aria-labelledby="pills-home-tab-2">
                            <p>
                              <span>Создатель, руководитель и идейный вдохновитель учебно-психологического центра «Живое Слово»</span><br/>
                              Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. Считает, что, только двигаясь вместе, мы можем достигнуть высоких целей, больших успехов и весомых результатов.
                            </p>
                          </div>
                          <div class="tab-pane fade" id="pills-profile-2" role="tabpanel" aria-labelledby="pills-profile-tab-2">Об образовании</div>
                          <div class="tab-pane fade" id="pills-contact-2" role="tabpanel" aria-labelledby="pills-contact-tab-2">О тренингах</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="author-3" role="tabpanel" aria-labelledby="author-tab-3">
                    <div class="our-team__member">
                      <div class="our-team__image-box">
                        <img src="%=static=%img/content/alex-harin.png" alt="Alexander Harin">
                      </div>
                      <div class="our-team__info">
                        <h2 class="section-title">Автор 2</h2>
                        <ul class="nav mb-3" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab-3" data-toggle="pill" href="#pills-home-3" role="tab" aria-controls="pills-home-3" aria-selected="true">Обо мне</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab-3" data-toggle="pill" href="#pills-profile-3" role="tab" aria-controls="pills-profile-3" aria-selected="false">Образование</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab-3" data-toggle="pill" href="#pills-contact-3" role="tab" aria-controls="pills-contact-3" aria-selected="false">Какие тренинги  я веду?</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-home-3" role="tabpanel" aria-labelledby="pills-home-tab-3">
                            <p>
                              <span>Создатель, руководитель и идейный вдохновитель учебно-психологического центра «Живое Слово»</span><br/>
                              Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. Считает, что, только двигаясь вместе, мы можем достигнуть высоких целей, больших успехов и весомых результатов.
                            </p>
                          </div>
                          <div class="tab-pane fade" id="pills-profile-3" role="tabpanel" aria-labelledby="pills-profile-tab-3">Об образовании</div>
                          <div class="tab-pane fade" id="pills-contact-3" role="tabpanel" aria-labelledby="pills-contact-tab-3">О тренингах</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="author-4" role="tabpanel" aria-labelledby="author-tab-4">
                    <div class="our-team__member">
                      <div class="our-team__image-box">
                        <img src="%=static=%img/content/alex-harin.png" alt="Alexander Harin">
                      </div>
                      <div class="our-team__info">
                        <h2 class="section-title">Автор 3</h2>
                        <ul class="nav mb-3" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab-4" data-toggle="pill" href="#pills-home-4" role="tab" aria-controls="pills-home-4" aria-selected="true">Обо мне</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab-4" data-toggle="pill" href="#pills-profile-4" role="tab" aria-controls="pills-profile-4" aria-selected="false">Образование</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab-4" data-toggle="pill" href="#pills-contact-4" role="tab" aria-controls="pills-contact-4" aria-selected="false">Какие тренинги  я веду?</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-home-4" role="tabpanel" aria-labelledby="pills-home-tab-4">
                            <p>
                              <span>Создатель, руководитель и идейный вдохновитель учебно-психологического центра «Живое Слово»</span><br/>
                              Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. Считает, что, только двигаясь вместе, мы можем достигнуть высоких целей, больших успехов и весомых результатов.
                            </p>
                          </div>
                          <div class="tab-pane fade" id="pills-profile-4" role="tabpanel" aria-labelledby="pills-profile-tab-4">Об образовании</div>
                          <div class="tab-pane fade" id="pills-contact-4" role="tabpanel" aria-labelledby="pills-contact-tab-4">О тренингах</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="nav mb-3 our-team__members" id="author-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link our-team__item active" id="author-tab-1" data-toggle="pill" href="#author-1" role="tab" aria-controls="author-1" aria-selected="true">
                      <img src="%=static=%img/content/ava-team1.png" alt="team member">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link our-team__item" id="author-tab-2" data-toggle="pill" href="#author-2" role="tab" aria-controls="author-2" aria-selected="false">
                      <img src="%=static=%img/content/ava-team2.png" alt="team member">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link our-team__item" id="author-tab-3" data-toggle="pill" href="#author-3" role="tab" aria-controls="author-3" aria-selected="false">
                      <img src="%=static=%img/content/ava-team3.png" alt="team member">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link our-team__item" id="author-tab-4" data-toggle="pill" href="#author-4" role="tab" aria-controls="author-4" aria-selected="false">
                      <img src="%=static=%img/content/ava-team4.png" alt="team member">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </section>

          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="popup">
                  <img class="popup__close" src="%=static=%img/content/icon-close.svg" data-dismiss="modal" alt="close">
                  <h2 class="section-title">
                    Спасибо, что заинтересовались нами
                  </h2>
                  <h3 class="popup__subtitle">Оставьте свои контактные данные и мысвяжемся с вами в течении 1 дня </h3>
                  <div class="popup__form">
                    <form action="">
                      <p class="popup__form-label">Имя</p>
                      <input type="text" class="popup__input" placeholder="Введите ваше имя">
                      <p class="popup__form-label">Телефон</p>
                      <input type="text" id="phone" class="popup__input"  data-mask="+380 (00) 000 00 00" placeholder="+380 (___) ___ __ __">
                      <p class="popup__form-label">Меня интересует</p>
                      <select class="popup__select" name="" id="">
                        <option value="">Курс “Духовное развитие”</option>
                        <option value="">Курс “Духовное развитие” 2</option>
                        <option value="">Курс “Духовное развитие” 3</option>
                      </select>
                      <div class="popup__submit">
                        <button class="submit-button">Связаться со мной</button>
                      </div>
                    </form>
                  </div>
                  <p class="popup__footer-text">
                    Или свяжитесь с нами по телефону:  <br> +380 (97) 33-44-505
                  </p>
                  <img class="popup__top-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                  <img class="popup__bottom-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                </div>
              </div>
            </div>
          </div>

          <!-- Modal kurs -->

          <div class="modal fade" id="kursModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="popup">
                  <img class="popup__close" src="%=static=%img/content/icon-close.svg" data-dismiss="modal" alt="close">
                  <h2 class="section-title">
                    Запись на курс “Духовное развитие”
                  </h2>
                  <div class="popup__form">
                    <form action="">
                      <p class="popup__form-label">Фамилия Имя</p>
                      <input type="text" class="popup__input" placeholder="Введите фамилию и имя">
                      <p class="popup__form-label">Адрес электронной почты</p>
                      <input type="text" class="popup__input" placeholder="Введите адрес эл. почты">
                      <p class="popup__form-label">Номер телефона с Viber</p>
                      <input type="text" id="phone" class="popup__input"  data-mask="+380 (00) 000 00 00" placeholder="+380 (___) ___ __ __">
                      <div class="popup__submit">
                        <button class="submit-button">Записаться</button>
                      </div>
                    </form>
                  </div>
                  <img class="popup__top-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                  <img class="popup__bottom-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                </div>
              </div>
            </div>
          </div>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
            {{> footer/footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
