<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <div id="player"></div>
        <section id="page" class="page__wrapper">
          {{> header/header }}

          <section class="top-banner">
            <div class="top-banner__video top-banner__video--short" style="background-image: url('%=static=%img/content/bg-for-business.jpg');">
              <span class="play-btn move-right" id="play-btn">
                <img src="%=static=%img/content/btn-play.svg" alt="play">
              </span>
              <script>
          			// 2. This code loads the IFrame Player API code asynchronously.
          			var tag = document.createElement('script');

          			tag.src = "https://www.youtube.com/iframe_api";
          			var firstScriptTag = document.getElementsByTagName('script')[0];
          			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          			// 3. This function creates an <iframe> (and YouTube player)
          			//    after the API code downloads.
          			var player;
          			var playBtn = document.getElementById('play-btn');
                var page = document.getElementById('page');
                var closeBtn = document.getElementById('close');

          			playBtn.addEventListener('click', function() {
          					function onYouTubeIframeAPIReady() {
          						player = new YT.Player('player', {
          							height: '90%',
          							width: '95%',

          							videoId: 'n1xLxce5zYs',
          							playerVars: {
          								autoplay: 1,
          								loop: 1,
          								rel: 0,
          								controls: 1,
          								showinfo: 1,
          								autohide: 0,
          								modestbranding: 1,
          								vq: 'hd1080'
          							},
          							events: {
          								'onReady': onPlayerReady
          							}
          						});
          					}
          					onYouTubeIframeAPIReady()

                    page.classList.add('lightbox');

          				})
          			// 4. The API will call this function when the video player is ready.
          			function onPlayerReady(event) {
          				event.target.playVideo();
          			}

          			// 5. The API calls this function when the player's state changes.
          			//    The function indicates that when playing a video (state=1),
          			//    the player should play for six seconds and then stop.
          			var done = false;

          			function stopVideo() {
          				player.stopVideo();
                }

                closeBtn.addEventListener('click', function() {
                  player.destroy();
                  page.classList.remove('lightbox');
                })
          		</script>
            </div>

            <div class="top-banner__content">
              <div class="trening-main__info">
                <div class="breadcrumbs">
                  <ul>
                    <li><a href="#">Главная</a></li>
                    <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                    <li><a href="#">Тренинги</a></li>
                  </ul>
                </div>
                <h2 class="section-title section-title--big">
                  Для бизнеса
                </h2>
                <p>От того, насколько эффективно налажено взаимодействие с партнёрами, клиентами, коллегами, представителями государственных органов, напрямую зависит достижение поставленных целей в бизнесе.</p>
                <img class="trening-main__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
              </div>
              <div class="trening-main__button">
                <button class="submit-button submit-button--banner" data-toggle="modal" data-target="#exampleModal">Получить коммерческое предложение</button>
              </div>
            </div>
          </section>

          <section class="schools-list">
            <div class="schools-list__content">
              <div class="schools-list__cards">
                <!-- card -->
                <div class="school-card">
                  <div class="school-card__image">
                    <a href="#">
                      <img src="%=static=%img/content/school-business1.png" alt="school">
                    </a>
                  </div>
                  <div class="school-card__info">
                    <div>
                      <a href="#" class="school-card__title">Ораторское искусство</a>
                      <p class="school-card__text">Эта школа для тех, кто ищет в жизни какой-то более глубокий смысл. Для тех, кто саморазвитие и духовный рост считают важными и ценными. Осознайте свои внутренние ценности, очистившись от негатива</p>
                    </div>
                    <div class="school-card__price">
                      <button class="submit-button"  data-toggle="modal" data-target="#kursModal">Записаться</button>
                    </div>
                  </div>
                </div>
                <!-- card -->
                <div class="school-card">
                  <div class="school-card__image">
                    <a href="#">
                      <img src="%=static=%img/content/school-business2.png" alt="school">
                    </a>
                  </div>
                  <div class="school-card__info">
                    <div>
                      <a href="#" class="school-card__title">Бизнес-коммуникации</a>
                      <p class="school-card__text">Обучение для тех, кто стремится к пониманию себя, к раскрытию и реализации своих способностей и талантов. Познакомьтесь с собой истинным и выработайте стратегический план жизни</p>
                    </div>
                    <div class="school-card__price">
                      <button class="submit-button"  data-toggle="modal" data-target="#kursModal">Записаться</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


          <section class="points points--with-bg">
            <div class="points__content">
              <div class="points__info">
                <h2 class="section-title">
                  Что Вы получаете от корпоративного тренинга в Живом Слове
                </h2>
                <div class="marked-list">
                  <ul>
                    <li>Сотрудники с навыками публичного выступления</li>
                    <li>Более высокий уровень проведения конференций, курсов, уроков</li>
                    <li>Повышение компетентности руководителей в глазах подчинённых на выступлениях</li>
                  </ul>
                  <ul>
                    <li>Более сплочённая и знающая друг друга команда</li>
                    <li>Более уверенное поведение сотрудников с клиентами</li>
                    <li>Более уравновешенные и осознанные сотрудники, умеющие выражать свои мысли</li>
                  </ul>
                </div>
              </div>
              <div class="points__image">
                <img src="%=static=%img/content/trening-list.png" alt="points image">
              </div>
              <img class="points__triangle" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="points__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
            </div>
          </section>

          <section class="check-list">
            <div class="check-list__content">
              <h2 class="section-title">Что приобретают ваши сотрудники</h2>
              <div class="plan__info">
                <ul>
                  <li>Освоенные ключевые ораторские техники</li>
                  <li>Умение преодолевать естественное волнение</li>
                  <li>Способность непринуждённо держаться перед аудиторией</li>
                  <li>Умение создавать благоприятное первое впечатление у зрителя</li>
                  <li>Мастерство управления своей речью и удерживания внимания зрителя нужное время</li>
                  <li>Отработка жестов и поз для многократного усиления эффекта выступления</li>
                </ul>
                <ul>
                  <li>Развитие внятности, логичности, грамотности, выразительности и эмоциональности речи</li>
                  <li>Навыки интриголингвистики, элементов красноречия, техник убеждения</li>
                  <li>Отработка навыков выступления перед «трудной» публикой</li>
                  <li>Адаптация знаний и речевых навыков под свой характер с помощью преподавателя на протяжении всего обучения</li>
                  <li>Удовольствие от собственных выступлений</li>
                </ul>
              </div>
              <img class="check-list__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
            </div>
          </section>

          <section class="what-choose">
            <div class="what-choose__content">
              <h2 class="section-title">Какой формат обучения выбрать?</h2>
              <div class="what-choose__blocks">
                <div class="what-choose__item">
                  <h3 class="what-choose__title">Полноценный тренинг</h3>
                  <p class="what-choose__subtitle">12 занятий по 3-3,5 часа</p>
                  <p class="what-choose__text">Идеально для поднятия уровня  конференций, курсов, уроков, повышения компетентности</p>
                </div>
                <div class="what-choose__item">
                  <h3 class="what-choose__title">Интенсив <span>(любая тема программы)</span></h3>
                  <p class="what-choose__subtitle">1 день по 6-7 часов</p>
                  <p class="what-choose__text">Идеально для выступлений представителей компании на значимых мероприятиях</p>
                </div>
                <div class="what-choose__item">
                  <h3 class="what-choose__title">Интенсив на выходных <span>(любая тема программы)</span></h3>
                  <p class="what-choose__subtitle">2 дня по 6-7 часов</p>
                  <p class="what-choose__text">Идеально для повышения самооценки и навыков коммуникации сотрудников </p>
                </div>
                <div class="what-choose__item">
                  <h3 class="what-choose__title">Мастер-класс <span>(любая тема программы)</span></h3>
                  <p class="what-choose__subtitle">3-4 часа</p>
                  <p class="what-choose__text">Идеально для тимбилдингов</p>
                </div>
              </div>
              <button class="submit-button">ПОЛУЧИТЬ КОММЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ</button>
              <img class="what-choose__triangle-top" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="what-choose__triangle" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="what-choose__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
            </div>
          </section>

          <section class="points points--lest-top-space">
            <div class="points__content">
              <div class="points__info">
                <h2 class="section-title">
                  В чем уникальность опыта Живого Слова?
                </h2>
                <div class="marked-list">
                  <ul>
                    <li>Мы на образовательном рынке с 2004 года</li>
                    <li>Мы преподаём людям с любыми исходными данными и возрастом</li>
                    <li>Мы раскрываем людей так, чтобы они становились более оживлёнными через правильное самовыражение и заражались своей эмоциональной силой</li>
                    <li>Основа тренинга - объединение достижений педагогики и риторики, приёмов политиков и методов классической психологии</li>
                    <li>Преподаватель - опытный психолог со стажем успешной работы более 15 лет</li>
                    <li>110+ некорпоративных групп учеников успешно прошли курсы ораторского искусства в наших стенах</li>
                    <li>Мы даём 36-42 образовательных часа на каждом тренинге ораторского искусства</li>
                  </ul>
                </div>
              </div>
              <div class="points__image">
                <img src="%=static=%img/content/point-image.png" alt="points image">
              </div>
            </div>
          </section>

          <section class="customers">
            <div class="customers__content">
              <h2 class="section-title">Тренингам от Живого Слова доверились</h2>
              <div class="customers__slider">
                <div class="customers__item">
                  <div class="customers__top-item">
                    <h3 class="customers__name">ТОВ “ДНЕПРОАГРОСТРОЙ”</h3>
                  </div>
                  <img src="%=static=%img/content/customer1.png" alt="customer">
                </div>
                <div class="customers__item">
                  <div class="customers__top-item">
                    <img src="%=static=%img/content/customer2.png" alt="customer">
                  </div>
                  <img src="%=static=%img/content/customer3.png" alt="customer">
                </div>
                <div class="customers__item">
                  <div class="customers__top-item">
                    <img src="%=static=%img/content/customer4.png" alt="customer">
                  </div>
                  <h3 class="customers__name">ГО “АПБМ” ТА ССРМ “АВОДА”</h3>
                </div>
                <div class="customers__item">
                  <div class="customers__top-item">
                    <h3 class="customers__name">ТОВ “ДНЕПРОАГРОСТРОЙ”</h3>
                  </div>
                  <img src="%=static=%img/content/customer1.png" alt="customer">
                </div>
                <div class="customers__item">
                  <div class="customers__top-item">
                    <img src="%=static=%img/content/customer2.png" alt="customer">
                  </div>
                  <img src="%=static=%img/content/customer3.png" alt="customer">
                </div>
                <div class="customers__item">
                  <div class="customers__top-item">
                    <img src="%=static=%img/content/customer4.png" alt="customer">
                  </div>
                  <h3 class="customers__name">ГО “АПБМ” ТА ССРМ “АВОДА”</h3>
                </div>
              </div>
            </div>
          </section>

          <section class="author-business">
            <div class="author__content author__content--reversed">
              <div class="author__text">
                <h3 class="author__title">Александр Харин</h3>
                <h3 class="author__sub-title">Автор и тренер курса духовного развития</h3>
                <p class="author__text">Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. </p>
                <div class="align-right">
                  <button class="submit-button submit-button--signin submit-button--align-right">ПОЛУЧИТЬ КОММЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ</button>
                </div>
              </div>
              <div class="author__image">
                <img src="%=static=%img/content/alex-circled.png" alt="Author">
              </div>
            </div>
          </section>

          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="popup">
                  <img class="popup__close" src="%=static=%img/content/icon-close.svg" data-dismiss="modal" alt="close">
                  <h2 class="section-title">
                    Спасибо, что заинтересовались нами
                  </h2>
                  <h3 class="popup__subtitle">Оставьте свои контактные данные и мысвяжемся с вами в течении 1 дня </h3>
                  <div class="popup__form">
                    <form action="">
                      <p class="popup__form-label">Имя</p>
                      <input type="text" class="popup__input" placeholder="Введите ваше имя">
                      <p class="popup__form-label">Телефон</p>
                      <input type="text" id="phone" class="popup__input"  data-mask="+380 (00) 000 00 00" placeholder="+380 (___) ___ __ __">
                      <p class="popup__form-label">Меня интересует</p>
                      <select class="popup__select" name="" id="">
                        <option value="">Курс “Духовное развитие”</option>
                        <option value="">Курс “Духовное развитие” 2</option>
                        <option value="">Курс “Духовное развитие” 3</option>
                      </select>
                      <div class="popup__submit">
                        <button class="submit-button">Связаться со мной</button>
                      </div>
                    </form>
                  </div>
                  <p class="popup__footer-text">
                    Или свяжитесь с нами по телефону:  <br> +380 (97) 33-44-505
                  </p>
                  <img class="popup__top-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                  <img class="popup__bottom-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                </div>
              </div>
            </div>
          </div>

          <!-- Modal kurs -->

          <div class="modal fade" id="kursModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="popup">
                  <img class="popup__close" src="%=static=%img/content/icon-close.svg" data-dismiss="modal" alt="close">
                  <h2 class="section-title">
                    Запись на курс “Духовное развитие”
                  </h2>
                  <div class="popup__form">
                    <form action="">
                      <p class="popup__form-label">Фамилия Имя</p>
                      <input type="text" class="popup__input" placeholder="Введите фамилию и имя">
                      <p class="popup__form-label">Адрес электронной почты</p>
                      <input type="text" class="popup__input" placeholder="Введите адрес эл. почты">
                      <p class="popup__form-label">Номер телефона с Viber</p>
                      <input type="text" id="phone" class="popup__input"  data-mask="+380 (00) 000 00 00" placeholder="+380 (___) ___ __ __">
                      <div class="popup__submit">
                        <button class="submit-button">Записаться</button>
                      </div>
                    </form>
                  </div>
                  <img class="popup__top-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                  <img class="popup__bottom-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                </div>
              </div>
            </div>
          </div>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
            {{> footer/footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
