<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="page__wrapper">
          {{> header/header }}

          <section class="cabinet cabinet--no-bg cabinet--article">
            <div class="breadcrumbs">
              <ul>
                <li><a href="#">Главная</a></li>
                <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                <li><a href="#">Блог</a></li>
                <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                <li><a href="#">Энергетика и способы ее пополнения</a></li>
              </ul>
            </div>
            <div class="cabinet__content">
              <div class="cabinet__info cabinet__info--text">
                <h2 class="section-title section-title--big">Энергетика и способы ее пополнения</h2>
                <p><i>Грехи рода. Словосочетание режущее и неприятное. Существует ли на самом деле этот самый родовой грех? И как грехи рода влияют на нашу жизнь?</i></p>
                <p>Чтобы не пугаться всякой там метафизической мудрености, попробуем немного разобраться в формулировках, их сути. Для этого введем некоторые понятия и уж потом поговорим, как справляться со своим родовым наследием.</p>
                <h2 class="section-title">Грехи рода. Разбираемся в понятиях</h2>
                <ul>
                  <li>
                    <p>1) <b>Родовой грех</b> – это родовая программа негативного характера, существующая в родовом поле. </p>
                  </li>
                  <li>
                    <p>2) Сила рода подпитывает любую родовую программу, в том числе и негативную, если ее запустить, активировать. Неактивированная программа не отбирает энергию, не проводит энергию и не привносит негативные последствия. Ведь она не работает.</p>
                  </li>
                  <li>
                    <p>3) Родовой грех, каким бы он тяжелым ни был, не будет на нас влиять, если его не активировать.</p>
                  </li>
                  <li>
                    <p>4) Наша душа, попадает в род, которому она соответствует. Поэтому наши личные кармические программы часто схожи с родовыми.</p>
                  </li>
                  <li>
                    <p>4) Наша душа, попадает в род, которому она соответствует. Поэтому наши личные кармические программы часто схожи с родовыми.</p>
                  </li>
                  <li>
                    <p>6) При нашей внутренней работе над собой меняемся мы сами и параллельно очищается род. Как говорится: <i>«Спасись сам, и вокруг тебя тысячи спасутся».</i></p>
                  </li>
                </ul>

                <p> Обо всём этом говорится в наших более ранних статьях, чтобы ознакомиться с темой подробнее, читайте их. Сейчас же поговорим конкретно о том, что такое родовой грех, как отмолить свой род, да и зачем нам нужно получать прощение грехов рода. </p>

                <h2 class="section-title">Что такое грехи рода или грехи предков?</h2>

                <p class="quote">
                  «ГРЕХ (греч. hamartia — промах, ошибка; в русском языке слово «грех» также изначально соответствовало понятию ошибка» — ср. «погрешность», «огрехи»)»
                </p>

                <p>Теперь, соответственно, нужно понять, что такое ошибка, грех. И что такое ошибка относительно рода и кармы. Ошибка –  это отклонение от основных космических или кармических законов. Такие вот отклонения и приводят к искажению судьбы одного человека или целого рода, если похожие ошибки повторяются в роду.</p>
                <figure>
                  <img src="%=static=%img/content/article-image.png" alt="image">
                </figure>
                <p>В связи с этим понятием, грехи рода – это накопленные ошибки целых поколений в роду. Именно они, как и записанные программы на жестком диске в компьютере, лежат где-нибудь в «родовом поле» и ждут того момента, пока кто-нибудь в роду не нажмёт пресловутую кнопочку «enter» и не запустит программы в действие.</p>
                <p>Когда родовая программа, родовой грех, запущены, остается только их воспроизвести или отработать. </p>
                <p>Поэтому грехи рода вынуждают человека либо повторить их, либо отработать. Это и называется <i>«отмолить грехи рода».</i></p>
                <p>Напомним, что если у человека в его характере или по его карме, нет негативных программ, похожих на грехи рода, он их не запустит ни в своей жизни, ни в роду. </p>


              </div>
              <div class="cabinet__author">
                <div class="blog-banner__author">
                  <div class="blog-banner__image-author">
                    <img src="%=static=%img/content/alex-circled.png" alt="Author">
                  </div>
                  <h3 class="blog-banner__name-author">Александр Харин</h3>
                  <p class="blog-banner__speciality-author">Психолог, основатель центра “живое слово”</p>
                  <p class="blog-banner__text-author">Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. </p>
                  <ul class="blog-banner__social-author">
                    <li>
                      <a href="#"><img src="%=static=%img/content/icon-social-facebook.svg" alt="facebook"></a>
                    </li>
                    <li>
                      <a href="#"><img src="%=static=%img/content/icon-social-twitter.svg" alt="twitter"></a>
                    </li>
                    <li>
                      <a href="#"><img src="%=static=%img/content/icon-social-instagram.svg" alt="instagram"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- divider -->
            <div class="blog-divider">
              <span class="blog-divider__text">Похожие</span>
              <span class="blog-divider__line"></span>
              <a href="#" class="blog-divider__text blog-divider__text--green">Все</a>
            </div>
            <!-- slider -->
            <div class="articles-slider">
              <div class="article">
                <div class="article__info">
                  <div class="blog-banner__tags">
                    <span class="blog-banner__tag">Fashion</span>
                  </div>
                  <a href="#" class="article__title">Выход из зоны комфорта: 3 шага навстречу жизни</a>
                  <div class="blog-author">
                    <span>Александр Харин   |   2 мин назад</span>
                  </div>
                </div>
                <div class="article__image">
                  <a href="#">
                    <img src="%=static=%img/content/blog-slide1.png" alt="article">
                  </a>
                </div>
              </div>
              <div class="article">
                <div class="article__image">
                  <a href="#">
                    <img src="%=static=%img/content/blog-slide2.png" alt="article">
                  </a>
                </div>
                <div class="article__info">
                  <div class="blog-banner__tags">
                    <span class="blog-banner__tag">Развитие навыков</span>
                    <span class="blog-banner__tag">Род и родовые связи</span>
                  </div>
                  <a href="#" class="article__title">Наслаждение любовью или любовь? Что выбрать для счастья</a>
                  <div class="blog-author">
                    <span>Александр Харин   |   2 мин назад</span>
                  </div>
                </div>
              </div>
              <div class="article">
                <div class="article__info">
                  <div class="blog-banner__tags">
                    <span class="blog-banner__tag">Развитие навыков</span>
                    <span class="blog-banner__tag">Род и родовые связи</span>
                  </div>
                  <a href="#" class="article__title">Нет сил и энергии. В чем причины и где выход?</a>
                  <div class="blog-author">
                    <span>Александр Харин   |   2 мин назад</span>
                  </div>
                </div>
                <div class="article__image">
                  <a href="#">
                    <img src="%=static=%img/content/blog-slide3.png" alt="article">
                  </a>
                </div>
              </div>
              <div class="article">
                <div class="article__image">
                  <a href="#">
                    <img src="%=static=%img/content/blog-slide2.png" alt="article">
                  </a>
                </div>
                <div class="article__info">
                  <div class="blog-banner__tags">
                    <span class="blog-banner__tag">Развитие навыков</span>
                    <span class="blog-banner__tag">Род и родовые связи</span>
                  </div>
                  <a href="#" class="article__title">Наслаждение любовью или любовь? Что выбрать для счастья</a>
                  <div class="blog-author">
                    <span>Александр Харин   |   2 мин назад</span>
                  </div>
                </div>
              </div>
            </div>
          </section>


          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
            {{> footer/footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
