<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="page__wrapper">
          {{> header/header }}

          <section class="cabinet cabinet--no-bg cabinet--article">
            <div class="breadcrumbs">
              <ul>
                <li><a href="#">Главная</a></li>
                <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                <li><a href="#">Блок</a></li>
                <li><span><img src="%=static=%img/content/icon-chevron-right.svg" alt="chevron"></span></li>
                <li><a href="#">Название видео</a></li>
              </ul>
            </div>
            <div class="cabinet__content">
              <div class="cabinet__info cabinet__info--text">
                <h2 class="section-title section-title--big">Строение тонких тел</h2>
                <iframe width="100%" height="378" src="https://www.youtube.com/embed/BIbomZzz_fU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Теперь, соответственно, нужно понять, что такое ошибка, грех. И что такое ошибка относительно рода и кармы. Ошибка –  это отклонение от основных космических или кармических законов. Такие вот отклонения и приводят к искажению судьбы одного человека или целого рода, если похожие ошибки повторяются в роду.</p>
              </div>
              <div class="cabinet__author">
                <div class="blog-banner__author">
                  <div class="blog-banner__image-author">
                    <img src="%=static=%img/content/alex-circled.png" alt="Author">
                  </div>
                  <h3 class="blog-banner__name-author">Александр Харин</h3>
                  <p class="blog-banner__speciality-author">Психолог, основатель центра “живое слово”</p>
                  <p class="blog-banner__text-author">Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. </p>
                  <ul class="blog-banner__social-author">
                    <li>
                      <a href="#"><img src="%=static=%img/content/icon-social-facebook.svg" alt="facebook"></a>
                    </li>
                    <li>
                      <a href="#"><img src="%=static=%img/content/icon-social-twitter.svg" alt="twitter"></a>
                    </li>
                    <li>
                      <a href="#"><img src="%=static=%img/content/icon-social-instagram.svg" alt="instagram"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- divider -->
            <div class="blog-divider">
              <span class="blog-divider__text">Похожие</span>
              <span class="blog-divider__line"></span>
              <a href="#" class="blog-divider__text blog-divider__text--green">Все</a>
            </div>
            <!-- slider -->
            <div class="articles-slider">
              <div class="article">
                <div class="article__info">
                  <div class="blog-banner__tags">
                    <span class="blog-banner__tag">Fashion</span>
                  </div>
                  <a href="#" class="article__title">Выход из зоны комфорта: 3 шага навстречу жизни</a>
                  <div class="blog-author">
                    <span>Александр Харин   |   2 мин назад</span>
                  </div>
                </div>
                <div class="article__image">
                  <a href="#">
                    <img src="%=static=%img/content/blog-slide1.png" alt="article">
                  </a>
                </div>
              </div>
              <div class="article">
                <div class="article__image">
                  <a href="#">
                    <img src="%=static=%img/content/blog-slide2.png" alt="article">
                  </a>
                </div>
                <div class="article__info">
                  <div class="blog-banner__tags">
                    <span class="blog-banner__tag">Развитие навыков</span>
                    <span class="blog-banner__tag">Род и родовые связи</span>
                  </div>
                  <a href="#" class="article__title">Наслаждение любовью или любовь? Что выбрать для счастья</a>
                  <div class="blog-author">
                    <span>Александр Харин   |   2 мин назад</span>
                  </div>
                </div>
              </div>
              <div class="article">
                <div class="article__info">
                  <div class="blog-banner__tags">
                    <span class="blog-banner__tag">Развитие навыков</span>
                    <span class="blog-banner__tag">Род и родовые связи</span>
                  </div>
                  <a href="#" class="article__title">Нет сил и энергии. В чем причины и где выход?</a>
                  <div class="blog-author">
                    <span>Александр Харин   |   2 мин назад</span>
                  </div>
                </div>
                <div class="article__image">
                  <a href="#">
                    <img src="%=static=%img/content/blog-slide3.png" alt="article">
                  </a>
                </div>
              </div>
              <div class="article">
                <div class="article__image">
                  <a href="#">
                    <img src="%=static=%img/content/blog-slide2.png" alt="article">
                  </a>
                </div>
                <div class="article__info">
                  <div class="blog-banner__tags">
                    <span class="blog-banner__tag">Развитие навыков</span>
                    <span class="blog-banner__tag">Род и родовые связи</span>
                  </div>
                  <a href="#" class="article__title">Наслаждение любовью или любовь? Что выбрать для счастья</a>
                  <div class="blog-author">
                    <span>Александр Харин   |   2 мин назад</span>
                  </div>
                </div>
              </div>
            </div>
          </section>


          <section class="move-up">
            <div class="move-up__content">
              <a class="move-up__button" href="#">
                <img src="%=static=%img/content/move-up.svg" alt="move up">
              </a>
            </div>
          </section>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
            {{> footer/footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
