<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page home">
        %=symbols=%

        <div id="player"></div>
        <section id="page" class="page__wrapper">
          {{> header/header }}

          <section class="top-banner">
            <div class="top-banner__video">
              <span class="play-btn" id="play-btn">
                <img src="%=static=%img/content/btn-play.svg" alt="play">
              </span>
              <script>
          			// 2. This code loads the IFrame Player API code asynchronously.
          			var tag = document.createElement('script');

          			tag.src = "https://www.youtube.com/iframe_api";
          			var firstScriptTag = document.getElementsByTagName('script')[0];
          			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          			// 3. This function creates an <iframe> (and YouTube player)
          			//    after the API code downloads.
          			var player;
          			var playBtn = document.getElementById('play-btn');
                var page = document.getElementById('page');
                var closeBtn = document.getElementById('close');

          			playBtn.addEventListener('click', function() {
          					function onYouTubeIframeAPIReady() {
          						player = new YT.Player('player', {
          							height: '90%',
          							width: '95%',

          							videoId: 'n1xLxce5zYs',
          							playerVars: {
          								autoplay: 1,
          								loop: 1,
          								rel: 0,
          								controls: 1,
          								showinfo: 1,
          								autohide: 0,
          								modestbranding: 1,
          								vq: 'hd1080'
          							},
          							events: {
          								'onReady': onPlayerReady
          							}
          						});
          					}
          					onYouTubeIframeAPIReady()

                    page.classList.add('lightbox');

          				})
          			// 4. The API will call this function when the video player is ready.
          			function onPlayerReady(event) {
          				event.target.playVideo();
          			}

          			// 5. The API calls this function when the player's state changes.
          			//    The function indicates that when playing a video (state=1),
          			//    the player should play for six seconds and then stop.
          			var done = false;

          			function stopVideo() {
          				player.stopVideo();
                }

                closeBtn.addEventListener('click', function() {
                  player.destroy();
                  page.classList.remove('lightbox');
                })
          		</script>
            </div>

            <div class="top-banner__content">
              <a class="top-banner__logo" href="#">
                <img src="%=static=%img/content/logo-main.svg" alt="Logo">
                <h1 class="top-banner__title">Тренинговый центр Живое слово</h1>
              </a>
              <p class="top-banner__text">Развивайтесь вместе с нами и мы гарантируем, что ваша жизнь изменится к лучшему. Мы - профессионалы, любящие свое дело</p>
              <button class="submit-button submit-button--banner" data-toggle="modal" data-target="#exampleModal">Связаться с нами</button>
            </div>
          </section>

          <section class="close-events">
            <div class="close-events__content">
              <h2 class="section-title">Ближайшие события</h2>
              <ul class="close-events__list">
                <li class="close-events__item">
                  <a href="#" class="close-events__title">Ораторское искусство</a>
                  <p class="close-events__text">17 сентября 17:00</p>
                </li>
                <li class="close-events__item">
                  <a href="#" class="close-events__title">Расстановки по Хеллингеру</a>
                  <p class="close-events__text">19 сентября 19:00</p>
                </li>
                <li class="close-events__item">
                  <a href="#" class="close-events__title">Работа с родом</a>
                  <p class="close-events__text">23 октября 18:00</p>
                </li>
              </ul>
              <a class="close-events__all vertical-align" href="#">
                Все события
                <img class="close-events__icon" src="%=static=%img/content/icon-carret-right.svg" alt="all">
              </a>
              <img class="close-events__triangle" src="%=static=%img/content/bg-triangle.svg" alt="triangle">
            </div>
            <div class="close-events__feature">
              <div class="trenings__wrapper">
                <img class="trenings__image" src="%=static=%img/content/trenings-feature.jpg" alt="trenings image">
                <div class="trenings__feature">
                  <h3 class="trenings__feature-title">Ораторское искусство</h3>
                  <h4 class="trenings__feature-subtitle">Продолжительность:</h4>
                  <p class="trenings__feature-text">10 месяцев</p>
                  <h4 class="trenings__feature-subtitle trenings__feature-subtitle--price">Стоимость:</h4>
                  <p class="trenings__feature-text">2500 грн</p>
                  <div class="trenings__button">
                    <button class="submit-button"  data-toggle="modal" data-target="#kursModal">Записаться</button>
                  </div>
                </div>
              </div>
              <img class="close-events__circle" src="%=static=%img/content/bg-circle.svg" alt="triangle">
            </div>
          </section>

          <section class="signup-course">
            <div class="signup-course__content">
              <h2 class="section-title">Запишись на курс и сэкономь 20%</h2>
              <div class="signup-course__boxes">
                <div class="signup-course__item">
                  <img class="signup-course__image" src="%=static=%img/content/course1.png" alt="course">
                  <div class="signup-course__info">
                    <h3 class="signup-course__title">Школа духовного развития</h3>
                    <p class="signup-course__text">
                      Эта школа для тех, кто ищет в жизни какой-то более глубокий смысл. Для тех, кто саморазвитие и духовный рост считают важными и ценными. Осознайте свои внутренние ценности, очистившись от негатива
                    </p>
                    <p class="signup-course__price">
                      <span class="signup-course__new-price">980 грн</span>
                      <span class="signup-course__old-price">1200 грн</span>
                    </p>
                    <div class="signup-course__button">
                      <button class="submit-button"  data-toggle="modal" data-target="#exampleModal">Записаться</button>
                    </div>
                  </div>
                </div>
                <div class="signup-course__item">
                  <img class="signup-course__image" src="%=static=%img/content/course2.png" alt="course">
                  <div class="signup-course__info">
                    <h3 class="signup-course__title">Школа развития личности</h3>
                    <p class="signup-course__text">
                      Обучение для тех, кто стремится к пониманию себя, к раскрытию и реализации своих способностей и талантов. Познакомьтесь с собой истинным и выработайте стратегический план жизни
                    </p>
                    <p class="signup-course__price">
                      <span class="signup-course__new-price">800 грн</span>
                      <span class="signup-course__old-price">1000 грн</span>
                    </p>
                    <div class="signup-course__button">
                      <button class="submit-button">Записаться</button>
                    </div>
                  </div>
                </div>
              </div>
              <img class="signup-course__triangle-small" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="signup-course__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
              <img class="signup-course__circle-small" src="%=static=%img/content/bg-circle-small.svg" alt="circle small">
            </div>
          </section>

          <section class="we-pro">
            <div class="we-pro__content">
              <div class="we-pro__image-box">
                <img class="we-pro__image" src="%=static=%img/content/we.png" alt="our team">
              </div>
              <div class="we-pro__info">
                <div class="we-pro__title">
                  <h2 class="section-title">Мы - команда профессионалов</h2>
                </div>
                <p class="we-pro__text">Центр Живое Слово был создан в 2004 году.  В своей работе мы исходим  из того, что для большинства людей важно достичь успеха, быть понятым и принятым, уметь донести  свою точку зрения до окружающих, привлекать на свою сторону единомышленников, создавать эффективные и гармоничные отношения с окружающими. Так же немалыми  ценностями  являются взаимоотношения в семье, с близкими и любимыми людьми, развитие своей личности и своей души.</p>
                <div class="we-pro__button">
                  <button class="submit-button">О нас</button>
                </div>
              </div>
              <img class="we-pro__triangle-small" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="we-pro__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
            </div>
          </section>

          <section class="why-we">
            <div class="why-we__content">
              <h2 class="section-title">Почему следует выбрать именно нас:</h2>
              <h3 class="why-we__sub-title">Тренинговый центр Живое Слово позаботился о том, чтобы каждый посетитель получил все необходимые знания и навыки за невысокую оплату. </h3>
              <div class="why-we__list">
                <div class="why-we__item">
                  <div class="why-we__image">
                    <img src="%=static=%img/content/treners.png" alt="treners">
                  </div>
                  <p class="why-we__text">Все тренеры – профессиональные специалисты, психологи + дополнительное образование, подходящее для проведения профессионального тренинга</p>
                </div>
                <div class="why-we__item">
                  <div class="why-we__image">
                    <img src="%=static=%img/content/atmosphere.png" alt="atmosphere">
                  </div>
                  <p class="why-we__text">Дружелюбная атмосфера всегда, на любом из тренингов. Тренер ведет себя на равных со слушателями, ничего не утаивая и не делая интриги из своих знаний</p>
                </div>
                <div class="why-we__item">
                  <div class="why-we__image">
                    <img src="%=static=%img/content/economy.png" alt="economy">
                  </div>
                  <p class="why-we__text">Большая экономия средств. Можно сказать, что в пересчете за час работы наши специалисты берут вознаграждение не выше средней цены в городе</p>
                </div>
              </div>
              <img class="why-we__circle" src="%=static=%img/content/bg-circle.svg" alt="circle">
            </div>
          </section>

          <section class="our-members">
            <div class="our-members__content">
              <div class="our-members__info">
                <div class="our-members__title">
                  <h2 class="section-title">Наши участники получают сертификаты после тренинга</h2>
                </div>
                <p class="our-members__text">Они являются не только свидетельством окончания обуечния в нашей компании, их так же можно использовать как дополнительное образование при трудоучтройстве, движении по карьерной лестнице и т.д.</p>
                <div class="our-members__button">
                  <a href="review.html" class="submit-button">Отзывы о нашей работе</a>
                </div>
              </div>
              <div class="our-members__image">
                <img src="%=static=%img/content/our-members.png" alt="our members">
              </div>
              <img class="our-members__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
              <img class="our-members__triangle-top" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="our-members__triangle-small" src="%=static=%img/content/bg-triangle-small.svg" alt="triangle">
              <img class="our-members__circle-thin" src="%=static=%img/content/bg-circle-thin.svg" alt="circle">
            </div>
          </section>

          <section class="kurs">
            <div class="kurs__content">
              <div class="kurs__slider">
                <div class="kurs__item">
                  <div class="kurs__info">
                    <h2 class="section-title section-title--big">Курс духовного развития</h2>
                    <p>Понимая законы, по которым существует наша Вселенная, осознав свои истинные ценности, очистившись от негатива и научившись чувствовать и слышать свою Душу, вы станете глубже и гармоничнее. Это состояние даст новый, более осмысленный взгляд на жизнь, стойкость в критических ситуациях и тонкое чувствование мира</p>
                    <div class="kurs__bottom">
                      <button class="submit-button">Записаться</button>
                      <a href="#" class="kurs__all">Все курсы</a>
                    </div>
                  </div>
                  <div class="close-events__feature">
                    <div class="trenings__wrapper">
                      <img class="trenings__image" src="%=static=%img/content/trenings-feature.jpg" alt="trenings image">
                      <div class="trenings__feature">
                        <h4 class="trenings__feature-subtitle">Продолжительность:</h4>
                        <p class="trenings__feature-text">10 месяцев</p>
                        <h4 class="trenings__feature-subtitle trenings__feature-subtitle--price">Стоимость:</h4>
                        <p class="trenings__feature-text">750 грн</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="kurs__item">
                  <div class="kurs__info">
                    <h2 class="section-title section-title--big">Курс духовного развития</h2>
                    <p>Понимая законы, по которым существует наша Вселенная, осознав свои истинные ценности, очистившись от негатива и научившись чувствовать и слышать свою Душу, вы станете глубже и гармоничнее. Это состояние даст новый, более осмысленный взгляд на жизнь, стойкость в критических ситуациях и тонкое чувствование мира</p>
                    <div class="kurs__bottom">
                      <button class="submit-button">Записаться</button>
                      <a href="#" class="kurs__all">Все курсы</a>
                    </div>
                  </div>
                  <div class="close-events__feature">
                    <div class="trenings__wrapper">
                      <img class="trenings__image" src="%=static=%img/content/trenings-feature.jpg" alt="trenings image">
                      <div class="trenings__feature">
                        <h4 class="trenings__feature-subtitle">Продолжительность:</h4>
                        <p class="trenings__feature-text">10 месяцев</p>
                        <h4 class="trenings__feature-subtitle trenings__feature-subtitle--price">Стоимость:</h4>
                        <p class="trenings__feature-text">750 грн</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="kurs__item">
                  <div class="kurs__info">
                    <h2 class="section-title section-title--big">Курс духовного развития</h2>
                    <p>Понимая законы, по которым существует наша Вселенная, осознав свои истинные ценности, очистившись от негатива и научившись чувствовать и слышать свою Душу, вы станете глубже и гармоничнее. Это состояние даст новый, более осмысленный взгляд на жизнь, стойкость в критических ситуациях и тонкое чувствование мира</p>
                    <div class="kurs__bottom">
                      <button class="submit-button">Записаться</button>
                      <a href="#" class="kurs__all">Все курсы</a>
                    </div>
                  </div>
                  <div class="close-events__feature">
                    <div class="trenings__wrapper">
                      <img class="trenings__image" src="%=static=%img/content/trenings-feature.jpg" alt="trenings image">
                      <div class="trenings__feature">
                        <h4 class="trenings__feature-subtitle">Продолжительность:</h4>
                        <p class="trenings__feature-text">10 месяцев</p>
                        <h4 class="trenings__feature-subtitle trenings__feature-subtitle--price">Стоимость:</h4>
                        <p class="trenings__feature-text">750 грн</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img class="kurs__ellipse" src="%=static=%img/content/bg-ellipse.svg" alt="ellipse">
            </div>
          </section>

          <section class="signup">
            <div class="signup__content">
              <div class="signup__info">
                <h2 class="section-title">Будь в центре событий</h2>
                <h3 class="signup__subtitle">Подпишись на рассылку прямо сейчас и получай первым  самую свежую информацию о скидках и мероприятиях</h3>
                <div class="signup__form">
                  <form action="">
                    <input class="input-field" type="email" placeholder="Введите адресс электронной почты">
                    <button class="submit-button">Подписаться</button>
                  </form>
                </div>
              </div>
            </div>
          </section>

          <section class="our-team">
            <div class="our-team__content">
              <h2 class="section-title section-title--big">Наша команда</h2>
              <div class="our-team__boxes">
                <div class="tab-content" id="author-tabContent">
                  <div class="tab-pane fade show active" id="author-1" role="tabpanel" aria-labelledby="author-tab-1">
                    <div class="our-team__member">
                      <div class="our-team__image-box">
                        <img src="%=static=%img/content/alex-harin.png" alt="Alexander Harin">
                      </div>
                      <div class="our-team__info">
                        <h2 class="section-title">Александр Харин</h2>
                        <ul class="nav mb-3" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Обо мне</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Образование</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Какие тренинги  я веду?</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <p>
                              <span>Создатель, руководитель и идейный вдохновитель учебно-психологического центра «Живое Слово»</span><br/>
                              Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. Считает, что, только двигаясь вместе, мы можем достигнуть высоких целей, больших успехов и весомых результатов.
                            </p>
                          </div>
                          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Об образовании</div>
                          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">О тренингах</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="author-2" role="tabpanel" aria-labelledby="author-tab-2">
                    <div class="our-team__member">
                      <div class="our-team__image-box">
                        <img src="%=static=%img/content/alex-harin.png" alt="Alexander Harin">
                      </div>
                      <div class="our-team__info">
                        <h2 class="section-title">Автор 1</h2>
                        <ul class="nav mb-3" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab-2" data-toggle="pill" href="#pills-home-2" role="tab" aria-controls="pills-home-2" aria-selected="true">Обо мне</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab-2" data-toggle="pill" href="#pills-profile-2" role="tab" aria-controls="pills-profile-2" aria-selected="false">Образование</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab-2" data-toggle="pill" href="#pills-contact-2" role="tab" aria-controls="pills-contact-2" aria-selected="false">Какие тренинги  я веду?</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-home-2" role="tabpanel" aria-labelledby="pills-home-tab-2">
                            <p>
                              <span>Создатель, руководитель и идейный вдохновитель учебно-психологического центра «Живое Слово»</span><br/>
                              Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. Считает, что, только двигаясь вместе, мы можем достигнуть высоких целей, больших успехов и весомых результатов.
                            </p>
                          </div>
                          <div class="tab-pane fade" id="pills-profile-2" role="tabpanel" aria-labelledby="pills-profile-tab-2">Об образовании</div>
                          <div class="tab-pane fade" id="pills-contact-2" role="tabpanel" aria-labelledby="pills-contact-tab-2">О тренингах</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="author-3" role="tabpanel" aria-labelledby="author-tab-3">
                    <div class="our-team__member">
                      <div class="our-team__image-box">
                        <img src="%=static=%img/content/alex-harin.png" alt="Alexander Harin">
                      </div>
                      <div class="our-team__info">
                        <h2 class="section-title">Автор 2</h2>
                        <ul class="nav mb-3" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab-3" data-toggle="pill" href="#pills-home-3" role="tab" aria-controls="pills-home-3" aria-selected="true">Обо мне</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab-3" data-toggle="pill" href="#pills-profile-3" role="tab" aria-controls="pills-profile-3" aria-selected="false">Образование</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab-3" data-toggle="pill" href="#pills-contact-3" role="tab" aria-controls="pills-contact-3" aria-selected="false">Какие тренинги  я веду?</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-home-3" role="tabpanel" aria-labelledby="pills-home-tab-3">
                            <p>
                              <span>Создатель, руководитель и идейный вдохновитель учебно-психологического центра «Живое Слово»</span><br/>
                              Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. Считает, что, только двигаясь вместе, мы можем достигнуть высоких целей, больших успехов и весомых результатов.
                            </p>
                          </div>
                          <div class="tab-pane fade" id="pills-profile-3" role="tabpanel" aria-labelledby="pills-profile-tab-3">Об образовании</div>
                          <div class="tab-pane fade" id="pills-contact-3" role="tabpanel" aria-labelledby="pills-contact-tab-3">О тренингах</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="author-4" role="tabpanel" aria-labelledby="author-tab-4">
                    <div class="our-team__member">
                      <div class="our-team__image-box">
                        <img src="%=static=%img/content/alex-harin.png" alt="Alexander Harin">
                      </div>
                      <div class="our-team__info">
                        <h2 class="section-title">Автор 3</h2>
                        <ul class="nav mb-3" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab-4" data-toggle="pill" href="#pills-home-4" role="tab" aria-controls="pills-home-4" aria-selected="true">Обо мне</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab-4" data-toggle="pill" href="#pills-profile-4" role="tab" aria-controls="pills-profile-4" aria-selected="false">Образование</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab-4" data-toggle="pill" href="#pills-contact-4" role="tab" aria-controls="pills-contact-4" aria-selected="false">Какие тренинги  я веду?</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-home-4" role="tabpanel" aria-labelledby="pills-home-tab-4">
                            <p>
                              <span>Создатель, руководитель и идейный вдохновитель учебно-психологического центра «Живое Слово»</span><br/>
                              Психолог с большим опытом проведения тренингов, лекций и индивидуальных психологических консультаций. Автор множества тренингов, направленных на  личностное и духовное развитие.  Утверждает, что целью его деятельности является возможность личностного и духовного роста своего и окружающих людей. Считает, что, только двигаясь вместе, мы можем достигнуть высоких целей, больших успехов и весомых результатов.
                            </p>
                          </div>
                          <div class="tab-pane fade" id="pills-profile-4" role="tabpanel" aria-labelledby="pills-profile-tab-4">Об образовании</div>
                          <div class="tab-pane fade" id="pills-contact-4" role="tabpanel" aria-labelledby="pills-contact-tab-4">О тренингах</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="nav mb-3 our-team__members" id="author-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link our-team__item active" id="author-tab-1" data-toggle="pill" href="#author-1" role="tab" aria-controls="author-1" aria-selected="true">
                      <img src="%=static=%img/content/ava-team1.png" alt="team member">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link our-team__item" id="author-tab-2" data-toggle="pill" href="#author-2" role="tab" aria-controls="author-2" aria-selected="false">
                      <img src="%=static=%img/content/ava-team2.png" alt="team member">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link our-team__item" id="author-tab-3" data-toggle="pill" href="#author-3" role="tab" aria-controls="author-3" aria-selected="false">
                      <img src="%=static=%img/content/ava-team3.png" alt="team member">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link our-team__item" id="author-tab-4" data-toggle="pill" href="#author-4" role="tab" aria-controls="author-4" aria-selected="false">
                      <img src="%=static=%img/content/ava-team4.png" alt="team member">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </section>

          <section class="reviews">
            <div class="reviews__content">
              <h2 class="section-title section-title--big">Отзывы наших учеников</h2>
              <div class="reviews__main">
                <iframe width="596" height="332" src="https://www.youtube.com/embed/q_MSWqODDXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="reviews__list">
                <div class="reviews__item">
                  <iframe width="213" height="125" src="https://www.youtube.com/embed/q_MSWqODDXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="reviews__item">
                  <iframe width="213" height="125" src="https://www.youtube.com/embed/q_MSWqODDXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="reviews__item">
                  <iframe width="213" height="125" src="https://www.youtube.com/embed/q_MSWqODDXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="reviews__item">
                  <iframe width="213" height="125" src="https://www.youtube.com/embed/q_MSWqODDXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </section>

          <section class="kurs kurs--mirrored">
            <div class="kurs__content">
              <div class="kurs__slider">
                <div class="kurs__item">
                  <div class="close-events__feature">
                    <div class="trenings__wrapper">
                      <img class="trenings__image" src="%=static=%img/content/consultation.png" alt="trenings image">
                      <div class="trenings__feature">
                        <h4 class="trenings__feature-subtitle">Продолжительность:</h4>
                        <p class="trenings__feature-text">1 час</p>
                        <h4 class="trenings__feature-subtitle trenings__feature-subtitle--price">Стоимость:</h4>
                        <p class="trenings__feature-text">500 грн</p>
                      </div>
                    </div>
                  </div>
                  <div class="kurs__info">
                    <h2 class="section-title section-title--big">Консультация психолога</h2>
                    <p>Хороший профессионал поможет вам в решении наиболее волнующих вопросов, в раскрытии потенциала и в обретении гармонии и  жизненного равновесия.  Консультация психолога поможет сделать вашу жизнь качественнее, даст новое виденье ситуации и инструменты для решения возникающих проблем. </p>
                    <div class="kurs__bottom">
                      <button class="submit-button">Записаться</button>
                    </div>
                  </div>
                </div>
                <div class="kurs__item">
                  <div class="close-events__feature">
                    <div class="trenings__wrapper">
                      <img class="trenings__image" src="%=static=%img/content/consultation.png" alt="trenings image">
                      <div class="trenings__feature">
                        <h4 class="trenings__feature-subtitle">Продолжительность:</h4>
                        <p class="trenings__feature-text">1 час</p>
                        <h4 class="trenings__feature-subtitle trenings__feature-subtitle--price">Стоимость:</h4>
                        <p class="trenings__feature-text">500 грн</p>
                      </div>
                    </div>
                  </div>
                  <div class="kurs__info">
                    <h2 class="section-title section-title--big">Консультация психолога</h2>
                    <p>Хороший профессионал поможет вам в решении наиболее волнующих вопросов, в раскрытии потенциала и в обретении гармонии и  жизненного равновесия.  Консультация психолога поможет сделать вашу жизнь качественнее, даст новое виденье ситуации и инструменты для решения возникающих проблем. </p>
                    <div class="kurs__bottom">
                      <button class="submit-button">Записаться</button>
                    </div>
                  </div>
                </div>
                <div class="kurs__item">
                  <div class="close-events__feature">
                    <div class="trenings__wrapper">
                      <img class="trenings__image" src="%=static=%img/content/consultation.png" alt="trenings image">
                      <div class="trenings__feature">
                        <h4 class="trenings__feature-subtitle">Продолжительность:</h4>
                        <p class="trenings__feature-text">1 час</p>
                        <h4 class="trenings__feature-subtitle trenings__feature-subtitle--price">Стоимость:</h4>
                        <p class="trenings__feature-text">500 грн</p>
                      </div>
                    </div>
                  </div>
                  <div class="kurs__info">
                    <h2 class="section-title section-title--big">Консультация психолога</h2>
                    <p>Хороший профессионал поможет вам в решении наиболее волнующих вопросов, в раскрытии потенциала и в обретении гармонии и  жизненного равновесия.  Консультация психолога поможет сделать вашу жизнь качественнее, даст новое виденье ситуации и инструменты для решения возникающих проблем. </p>
                    <div class="kurs__bottom">
                      <button class="submit-button">Записаться</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="find-us">
            <h2 class="section-title section-title--big">Как нас найти?</h2>
            <div class="find-us__map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.6438508470746!2d35.03570841566035!3d48.463362579250735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe2e1391802fb%3A0x9ea8c5023b99a0e0!2z0YPQuy4g0JLQvtGB0LrRgNC10YHQtdC90YHQutCw0Y8sIDI3LCDQlNC90LjQv9GA0L4sINCU0L3QtdC_0YDQvtC_0LXRgtGA0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA0OTAwMA!5e0!3m2!1sru!2sua!4v1577306910296!5m2!1sru!2sua"width="1920" height="779" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="find-us__info">
              <p class="contacts-dropdown__title">Адрес:</p>
              <a class="vertical-align find-us__adress" targe="_blank" href="https://www.google.com/maps/search/%D0%B3.%D0%94%D0%BD%D0%B5%D0%BF%D1%80,+%D1%83%D0%BB.%D0%92%D0%BE%D1%81%D0%BA%D1%80%D0%B5%D1%81%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+(%D1%83%D0%BB.%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0),+27%2F35/@48.4633626,35.0357084,17z/data=!3m1!4b1">
                <img class="contacts-dropdown__image" src="%=static=%img/content/icon-pin.svg" alt="pin">г.Днепр, ул.Воскресенская (ул.Ленина), 27/35
              </a>
              <p class="contacts-dropdown__title">Телефон:</p>
              <a href="tel:+380973344505" class="top-header__phones vertical-align"><img class="top-header__contacts-image top-header__contacts-image--spaced" src="%=static=%img/content/icon-phone.svg" alt="phone">097 33 44 505</a>
              <p class="vertical-align"><img class="top-header__contacts-image" src="%=static=%img/content/icon-viber.svg" alt="viber">066 33 44 509</p>
              <p class="contacts-dropdown__title">Почта:</p>
              <a class="vertical-align find-us__mail-adress" href="mailto:info@zhivoeslovo.com">
                <img class="contacts-dropdown__image" src="%=static=%img/content/icon-mail.svg" alt="mail">info@zhivoeslovo.com
              </a>
              <a class="top-header__social-item no-space" href="https://www.youtube.com/channel/UC4Vf14JEZbaZAQk2J8CQyWA" target="_blank">
                <img src="%=static=%img/content/icon-youtube.svg" alt="youtube" />
              </a>
              <a class="top-header__social-item" href="https://www.facebook.com/profile.php?id=100007331735732" target="_blank">
                <img src="%=static=%img/content/icon-facebook.svg" alt="facebook" />
              </a>
            </div>
          </section>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="popup">
                  <img class="popup__close" src="%=static=%img/content/icon-close.svg" data-dismiss="modal" alt="close">
                  <h2 class="section-title">
                    Спасибо, что заинтересовались нами
                  </h2>
                  <h3 class="popup__subtitle">Оставьте свои контактные данные и мысвяжемся с вами в течении 1 дня </h3>
                  <div class="popup__form">
                    <form action="">
                      <p class="popup__form-label">Имя</p>
                      <input type="text" class="popup__input" placeholder="Введите ваше имя">
                      <p class="popup__form-label">Телефон</p>
                      <input type="text" id="phone" class="popup__input"  data-mask="+380 (00) 000 00 00" placeholder="+380 (___) ___ __ __">
                      <p class="popup__form-label">Меня интересует</p>
                      <select class="popup__select" name="" id="">
                        <option value="">Курс “Духовное развитие”</option>
                        <option value="">Курс “Духовное развитие” 2</option>
                        <option value="">Курс “Духовное развитие” 3</option>
                      </select>
                      <div class="popup__submit">
                        <button class="submit-button">Связаться со мной</button>
                      </div>
                    </form>
                  </div>
                  <p class="popup__footer-text">
                    Или свяжитесь с нами по телефону:  <br> +380 (97) 33-44-505
                  </p>
                  <img class="popup__top-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                  <img class="popup__bottom-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                </div>
              </div>
            </div>
          </div>

          <!-- Modal kurs -->

          <div class="modal fade" id="kursModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="popup">
                  <img class="popup__close" src="%=static=%img/content/icon-close.svg" data-dismiss="modal" alt="close">
                  <h2 class="section-title">
                    Запись на курс “Духовное развитие”
                  </h2>
                  <div class="popup__form">
                    <form action="">
                      <p class="popup__form-label">Фамилия Имя</p>
                      <input type="text" class="popup__input" placeholder="Введите фамилию и имя">
                      <p class="popup__form-label">Адрес электронной почты</p>
                      <input type="text" class="popup__input" placeholder="Введите адрес эл. почты">
                      <p class="popup__form-label">Номер телефона с Viber</p>
                      <input type="text" id="phone" class="popup__input"  data-mask="+380 (00) 000 00 00" placeholder="+380 (___) ___ __ __">
                      <div class="popup__submit">
                        <button class="submit-button">Записаться</button>
                      </div>
                    </form>
                  </div>
                  <img class="popup__top-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                  <img class="popup__bottom-dots" src="%=static=%img/content/bg-dots-seven.svg" alt="dots">
                </div>
              </div>
            </div>
          </div>

          <div class="page__buffer"></div>
        </section>

        <footer class="page__footer">
            {{> footer/footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
