// Common styles of the project

html, body {
    height: 100%;
    color: $black;
    position: relative;
}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}

h1 {
  font-family: "Open Sans";
  font-size: 52px;
}

h2 {
  font-family: "Open Sans";
  font-size: 40px;
}

h3 {
  font-family: "Exo 2"
}

h4 {
  font-family: "Open Sans";
}

p, span {
  color: #333;
  font: 18px "Open Sans";
}

p {
  line-height: 27px;
}

a {
  color: #333;
  text-decoration: none;
  font-family: "Open Sans";

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.vertical-align {
  display: flex;
  align-items: center;
}

menu {
  padding: 0;
  margin: 0;
}

#player {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: black;
    opacity: .5;
  }
}

.close-btn {
  position: fixed;
  right: 10px;
  top: 20px;
  z-index: 101;
  display: none;
  font-size: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;

  &::before {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: $white;
    transform: rotate(45deg);
    position: relative;
    top: 2px;
  }

  &::after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: $white;
    transform: rotate(-45deg);
  }
}

.lightbox {
  position: fixed;
  width: 100%;
  z-index: 90;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: $darkBlack;
    opacity: .9;
    z-index: 99;
  }

  .close-btn {
    display: block;
  }
}

.player-close {
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  max-width: 1360px;
  margin: 0 auto;
}

.top-banner {
  position: relative;
  z-index: 5;

  &:before {
    content: "";
    display: block;
    background: linear-gradient(87.25deg, #FFFFFF 31.18%, rgba(255, 255, 255, 0) 128.44%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 1920px;
    z-index: 10;
  }
  max-width: 1920px;
  margin: 0 auto;

  &__content {
    max-width: 1305px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 20;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    padding: 38px 0;
  }

  &__logo {
    display: flex;
    max-width: 560px;
  }

  &__text {
    max-width: 610px;
    font: 24px "Exo 2";
    padding: 54px 0 84px;
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    font-family: "Montserrat";
    padding: 5px 0;
    margin-left: -12px;
    line-height: 41px;
  }

  &__video {
    max-width: 1360px;
    margin: 0 auto;
    height: 768px;
    width: 100%;
    background-image: url("%=static=%content/home-top-bg.jpg");

    &--short {
      height: 626px;
    }
  }

  &--without-bg {
    margin-bottom: 60px;

    &::before {
      display: none;
    }
  }
}

.submit-button {
  background: linear-gradient(128.59deg, #11998E -36.95%, #38EF7D 106.48%);
  border-radius: 60px;
  font-weight: 400;
  font-size: 18px;
  font-family: "Open Sans";
  line-height: 25px;
  display: flex;
  align-items: center;
  color: $white;
  padding: 16px 39px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .2s;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }

  &--banner {
    margin-left: 23px;
    padding: 27px 86px;
    font-size: 22px;
    letter-spacing: 1.2px;
  }

  &--signin {
    padding: 26px;
    width: 100%;
    font-size: 22px;
    max-width: 324px;
    text-align: center;
    display: block;
    letter-spacing: 1px;
  }

  &:hover {
    opacity: .8;
    color: $white;
  }
}

.section-title {
  font-weight: 400;
  font-family: "Exo 2";
  margin-bottom: 32px;

  &--big {
    font-size: 54px;
  }
}

.close-events {
  max-width: 1310px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 50px;

  &__content {
    background: url("%=static=%content/bullet-border.svg") 4px 92px no-repeat;
    width: 100%;
    max-width: 487px;
    position: relative;
  }

  &__list {
    padding: 76px 0 0 42px;
    margin-bottom: 36px;
  }

  &__item {
    box-shadow: 0px 4px 30px rgba(179, 194, 198, 0.3);
    border-radius: 5px;
    padding: 17px 27px 19px;
    margin-bottom: 9px;
    transition: .2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 10px 0;
    transition: .2s;

    &:hover {
      color: $green;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 300;
    margin: 8px 0 0 0;
  }

  &__all {
    margin-left: 37px;
  }

  &__icon {
    padding: 2px 0 0 6px;
  }

  &__feature {
    position: relative;
  }

  &__triangle {
    position: absolute;
    bottom: -150px;
    left: 130px;
  }

  &__circle {
    position: absolute;
    bottom: -94px;
    right: -112px;
  }
}

.signup-course {
  background: $greyLight;
  padding: 50px 20px 102px;
  text-align: center;

  &__content {
    max-width: 975px;
    margin: 0 auto;
    position: relative;
  }

  &__boxes {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
  }

  &__item {
    background: $white;
    box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
    border-radius: 0px 75px 0px 46px;
    margin: 0 20px;
    max-width: 422px;
    position: relative;
    z-index: 2;
  }

  &__title {
    font: 30px "Exo 2";
    margin: 10px 10px 15px;
    line-height: 38px;
  }

  &__info {
    padding: 10px 22px;
  }

  &__image {
    border-radius: 0px 65px 0px 101px;
  }

  &__text {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 4px;
  }

  &__price {
    margin: 0 0 23px;
    padding: 0;
  }

  &__new-price {
    font: 40px "Exo 2";
    color: $green;
  }

  &__old-price {
    font: 30px "Exo 2";
    text-decoration: line-through;
    padding-left: 24px;
  }

  &__button {
    width: 222px;
    margin: 0 auto 17px;

    .submit-button {
      width: 100%;
      display: block;
    }
  }

  &__triangle-small {
    position: absolute;
    left: -264px;
    top: 162px;
  }

  &__ellipse {
    position: absolute;
    top: 152px;
    right: -38px;
    z-index: 1;
  }

  &__circle-small {
    bottom: 73px;
    right: -224px;
    position: absolute;
  }
}

.we-pro {
  padding: 40px 0 50px;

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1273px;
    position: relative;
    align-items: flex-start;
  }

  &__image-box {
    margin: 0 30px 0 10px;
    position: relative;

    &:after {
      content: "";
      background: $lightBlue;
      display: block;
      opacity: 0.7;
      border-radius: 0px 40px;
      position: absolute;
      top: 46px;
      left: -63px;
      width: 453px;
      height: 584px;
      z-index: -1;
    }
  }

  &__image-box-simple {
    img {
      border-radius: 0 40px;
    }
  }

  &__info {
    max-width: 688px;
    padding: 92px 0;
  }

  &__title {
    margin-bottom: 46px;
  }

  &__text {
    line-height: 27px;
  }

  &__button {
    padding: 35px 0;

    .submit-button {
      font-size: 22px;
      padding: 26px 88px;
    }
  }

  &__triangle-small {
    position: absolute;
    top: -125px;
    transform: rotate(16deg);
    left: 496px;
  }

  &__ellipse {
    width: 59px;
    position: absolute;
    top: -66px;
    right: 151px;
  }

  &--text {
    .we-pro__info {
      padding: 0;
    }
  }

  &--padded {
    padding-top: 90px;
  }

  &--certificate {
    padding-top: 0;

    .we-pro__content {
      max-width: 1335px;
    }

    .we-pro__info {
      margin-right: 30px;
      max-width: 545px;
    }
  }

  &--with-bg {
    background: $greyLight;
    padding: 50px 0;
  }

  &--about {
    .we-pro__content {
      max-width: 1344px;

      &::before {
        content: '';
        display: block;
        width: 180px;
        height: 180px;
        background: url('%=static=%content/bg-dots-seven.svg');
        position: absolute;
        right: -48px;
        top: -141px;
        z-index: -1;
      }
    }

    .we-pro__ellipse-top {
      position: absolute;
      left: 21%;
      bottom: -148px;
    }

    img {
      border-radius: 0px 40px 0px 0px;
    }
  }
}

.why-we {
  background: $lighterBlue;
  padding: 50px 0 20px;

  &__sub-title {
    padding: 13px 0;
    max-width: 915px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
  }

  &__content {
    max-width: 1344px;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  &__list {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
  }

  &__item {
    margin: 0 10px;
    max-width: 380px
  }

  &__image {
    padding-bottom: 29px;
  }

  &__text {
    line-height: 27px;
  }

  &__circle {
    position: absolute;
    top: 98px;
    left: -130px;
    width: 100px;
  }

  &--without-bg {
    background: none;
  }
}

.our-members {
  padding: 50px 0;

  &__content {
    max-width: 1340px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .section-title {
    margin: 0 0 67px;
    line-height: 50px;
  }

  &__info {
    margin-right: 20px;
    max-width: 580px;
  }

  &__text {
    line-height: 27px;
    max-width: 550px;
    margin-bottom: 66px;
  }

  &__image {
    img {
      border-radius: 0px 60px;
      width: 100%;
    }
  }

  &__button {
    max-width: 490px;

    .submit-button {
      padding: 26px;
      font-size: 22px;
      text-align: center;
      display: block;
    }
  }

  &__ellipse {
    position: absolute;
    top: -52px;
    left: -50px;
    width: 83px;
  }

  &__triangle-top {
    position: absolute;
    top: -132px;
    right: 439px;
    transform: rotate(15deg);

  }

  &__triangle-small {
    position: absolute;
    right: -94px;
    top: 90px;
    transform: rotate(15deg);
  }

  &__circle-thin {
    position: absolute;
    bottom: -62px;
    right: 201px;
    z-index: -1;
  }
}

.kurs {
  padding: 50px 0;

  &__content {
    max-width: 1342px;
    margin: 0 auto;
    position: relative;
  }

  &__info {
    padding: 140px 0 0;
    max-width: 730px;
    margin-right: 20px;
  }

  &__item {
    display: flex!important;
    justify-content: space-between;
  }

  &__ellipse {
    top: -120px;
    right: 18px;
    position: absolute;
    width: 42px;

  }

  &__bottom {
    padding-top: 51px;
    display: flex;
    align-items: center;

    .submit-button {
      padding: 26px 86px;
      font-size: 22px;
      letter-spacing: 1px;
      margin-right: 55px;
    }
  }

  &__all {
    font: 24px "Exo 2";
    border-bottom: 1px dashed $black;
    transition: .2s;

    &:hover {
      border-bottom: 1px dashed $green;
      color: $green;
    }
  }

  .section-title {
    margin-bottom: 0;
    padding-bottom: 57px;
  }

  .trenings__feature {
    left: -100px;
    top: 310px;
    width: 329px;
    padding: 22px 25px;
  }

  .trenings__wrapper:after {
    left: -99px;
    top: 19px;
  }

  &--mirrored {
    padding-top: 50px;

    .kurs__content {
      max-width: 1355px;
    }

    .section-title {
      padding-bottom: 65px;
    }

    .trenings__image {
      border-radius: 40px 0px 0px 0px;
    }

    .trenings__wrapper:after {
      left: 322px;
      top: 3px;
    }

    .trenings__wrapper::before {
      right: auto;
      left: 0;
      top: 0;
      width: 430px;
    }

    .trenings__wrapper {
      padding-left: 30px;
    }

    .trenings__feature {
      left: 165px;
      top: 295px;
      width: 329px;
    }
  }
}

.signup {
  background: url("%=static=%content/bg-blue-wave.png") no-repeat;
  background-size: cover;
  padding: 80px 0;

  &__content {
    max-width: 1335px;
    margin: 0 auto;
    position: relative;

    &:after {
      content: "";
      display: block;
      background: url("%=static=%content/bg-dots-seven.svg") no-repeat;
      width: 272px;
      height: 258px;
      position: absolute;
      left: -90px;
      bottom: -339px;
    }
  }

  &__info {
    max-width: 945px;
    margin: 0 auto;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    margin-top: 0;
    padding: 9px 0 40px;
    max-width: 730px;
  }

  &__form {
    position: relative;

    &:after {
      content: "";
      display: block;
      background: url("%=static=%content/bg-flight.png") no-repeat;
      position: absolute;
      top: -387px;
      right: -164px;
      width: 560px;
      height: 387px;
    }

    form {
      display: flex;
    }

    .input-field {
      margin-right: 34px;
      max-width: 591px;
    }

    .submit-button {
      max-width: 320px;
      width: 100%;
      text-align: center;
      display: block;
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 22px;
    }
  }
}

.input-field {
  border: 1px solid $green;
  box-sizing: border-box;
  border-radius: 120px;
  font-size: 18px;
  padding: 28px 50px;
  font-family: "Open Sans";
  outline: none;
  width: 100%
}

.our-team {
  padding: 50px 0 20px;

  .tab-pane {
    min-height: 220px;
  }

  &__member {
    display: flex;
    margin-bottom: 50px;
  }

  &__content {
    max-width: 1180px;
    margin: 0 auto;
  }

  &__boxes {
    padding-top: 22px;
    padding-bottom: 20px;
  }

  &__image-box {
    margin-right: 72px;
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 318px;
      height: 410px;
      background: $lightBlue;
      position: absolute;
      top: 26px;
      right: -18px;
      z-index: -1;
    }

    img {
      border-radius: 0px 40px;
    }
  }

  &__info {
    max-width: 780px;
  }

  .section-title--big {
    text-align: center;
  }

  .nav {
    padding: 9px 0 30px;
    margin-left: -22px;
  }

  .nav-item {
    padding: 0 22px;
  }

  .nav-link {
    font-size: 22px;
    color: $lightBlack;
    padding: 10px 0 10px;
    border-bottom: 2px solid transparent;

    &.active {
      border-bottom: 2px solid $green;
    }
  }

  span {
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
  }

  &__members {
    display: flex;
    justify-content: center;
  }

  &__item {
    margin: 0 44px;
    position: relative;
    transition: .2s;
    border: none;

    &:before {
      content: "";
      width: 92px;
      height: 92px;
      opacity: .6;
      border: 1px solid $red;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:after {
      content: "";
      width: 92px;
      height: 92px;
      opacity: .6;
      border: 1px solid $green;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }

    &.nav-link {
      border: none;

      &.active {
        border: none;
        transform: scale(1.3);
        transition: .2s;
      }
    }
  }
}

.reviews {
  background: $greyLight;
  text-align: center;
  padding: 50px 0 20px;

  &__content {
    max-width: 1170px;
    margin: 0 auto;
  }

  &__main {
    display: flex;
    justify-content: center;
    padding: 22px 0 52px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    margin: 0 37px 52px;
  }

  iframe {
    border-radius: 20px;
  }
}

.find-us {
  padding: 42px 0 0;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;

  .section-title {
    text-align: center;
    margin-bottom: 81px;
  }

  &__info {
    width: 100%;
    max-width: 580px;
    height: 410px;
    border-left: 8px solid $green;
    position: absolute;
    top: 287px;
    left: 217px;
    background: $white;
    padding: 33px 40px;

  }

  &__adress {
    padding-bottom: 20px;
  }

  &__mail-adress {
    padding-bottom: 20px;
  }

  .top-header__social-item {
    padding: 0 6px;

    &.no-space {
      padding-left: 0;
    }
  }

  .top-header__contacts-image--spaced {
    padding: 0 22px 0 5px;
  }

  .top-header__phones {
    padding-bottom: 18px;
    font-size: 18px;
    display: block;
  }

  &__map {
    iframe {
      width: 100%;
      display: block;
    }
  }

  &--contacts {
    .section-title {
      max-width: 1305px;
      margin: 13px auto 56px;
      text-align: left;
    }
  }
}

// Trening page

.trening-main {
  &__content {
    max-width: 1310px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 70px 0 63px;
  }

  .section-title {
    margin-bottom: 47px;
    line-height: 68px;
  }

  &__info {
    margin-right: 40px;
    max-width: 640px;
    position: relative;
  }

  &__ellipse {
    right: 50px;
    top: 18px;
    position: absolute;
    width: 58px;

  }

  &__button {
    padding: 69px 0;
  }

  .trenings__image {
    max-width: 100%;
  }

  .trenings__wrapper {
    padding-top: 0;
  }

  .trenings__feature {
    top: 413px;
    left: -166px;
    max-width: 328px;
  }

  .trenings__wrapper::before {
    top: -31px;
  }

  .trenings__wrapper--without-bg::before {
    display: none;
  }

  .trenings__wrapper::after {
    display: none;
  }

  .trenings__wrapper--school:before {
    background: url("%=static=%content/bg-dots-seven.svg") no-repeat;
    left: -134px;
  }

  .submit-button {
    padding: 26px;
    width: 100%;
    font-size: 22px;
    max-width: 324px;
    text-align: center;
    display: block;
    letter-spacing: 1px;
  }

  &--school {
    padding-bottom: 72px;
  }
}

.breadcrumbs {
  margin-bottom: 37px;

  ul {
    display: flex;
    padding-left: 15px;
  }

  li {
    padding: 0 6px;
  }

  a {
    font-size: 20px;
    font-weight: 300;
    color: $grey;

    &:hover {
      text-decoration: underline;
    }
  }
}

.image-list {
  background: $greyLight;

  &--without-bg {
    background: none;
  }

  &__content {
    max-width: 1356px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }

  .our-team__image-box img {
    border-radius: 40px 0px;
    position: relative;
    z-index: 5;
  }

  .our-team__image-box:before {
    top: auto;
    right: -39px;
    z-index: 1;
    bottom: -45px;
    width: 100%;
    height: 100%;
  }

  .our-team__image-box--school:before {
    background: $white;
    bottom: -8px;
  }

  &__text {
    font-size: 24px;
    text-align: center;
    max-width: 666px;
    margin: 0 auto;
    font-family: "Exo 2";
    line-height: 29px;
  }

  &--checks {
    background: $white;

    .image-list__content {
      padding-bottom: 0;
    }

    .our-team__image-box {
      margin-top: 55px;

      &::before {
        display: none;
      }

      img {
        border-radius: 0 40px;
      }
    }

    .plan__info {
      padding-left: 46px;

      li:after {
        left: -50px;
      }
    }
  }

  &--contacts {
    padding-bottom: 82px;

    .our-team__image-box {
      margin-top: 0;
      img {
        border-radius: 0 40px 0 0;
      }
    }

    .image-list__info {
      p {
        font-size: 22px;
      }
    }
  }

  .our-team__image-box--without-bg {
    img {
      border-radius: 0px 40px;
    }
    &::before {
      display: none;
    }
  }
}

.marked-list {
  display: flex;
  padding: 59px 0 11px 69px;

  ul {
    margin-right: 21px;
    width: 100%;
    max-width: 350px;
  }

  li {
    font-size: 18px;
    position: relative;
    margin-bottom: 57px;
    z-index: 10;

    &:after {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      background: $green;
      border-radius: 50%;
      position: absolute;
      top: -12px;
      left: -18px;
      z-index: -1;
      opacity: .4;
    }
  }

  &--full-width {
    ul {
      max-width: 100%;
    }

    li {
      margin-bottom: 28px;
    }
  }
}

.plan {
  &__content {
    max-width: 1147px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;

    &--school {
      padding-bottom: 70px;
    }
  }

  .section-title {
    text-align: center;
  }

  .btn-link {
    border-bottom: 1px solid $greyDark;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    color: $black;
    text-decoration: none;
    padding: 28px 0 23px;

    img {
      transform: rotate(180deg);
    };

    &.collapsed {
      img {
        transform: rotate(0);
      };
    }
  }

  &__title {
    font-size: 30px;
  }

  &__info {
    display: flex;
    padding-top: 68px;
    justify-content: space-between;

    ul {
      margin-right: 30px;
      max-width: 511px;
    }

    li {
      position: relative;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 47px;

      &:after {
        content: "";
        width: 32px;
        height: 32px;
        display: block;
        position: absolute;
        left: -31px;
        top: -3px;
        background: url("%=static=%content/icon-check-circle.svg") no-repeat;
      }
    }

    &__school {
      .plan__content {
        padding-bottom: 96px;
      }
    }
  }

  &__img {
    margin-right: 44px;
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 37px;
  }

  &__button {
    display: flex;
    justify-content: center;
    padding-top: 109px;
  }

  &__triangle {
    position: absolute;
    left: 21%;
    top: 38px;
    transform: rotate(43deg);
  }

  &__ellipse-top {
    position: absolute;
    left: -25px;
    top: 113px;
    width: 60px;
  }

  &__ellipse {
    position: absolute;
    left: 52%;
    bottom: 16px;
    width: 60px;
  }
}

.text-section {
  background: $greyLight;
  position: relative;

  &__content {
    margin: 0 auto;
    max-width: 975px;
    padding: 50px 0;

    h3 {
      font-size: 30px;
      text-align: center;
      line-height: 39px;
    }
  }

  &__image {
    img {
      border-radius: 0 40px 0 0;
    }
  }

  &--bg-dots {
    padding: 30px 0;

    .text-section__content {
      &:before {
        content: "";
        width: 217px;
        height: 176px;
        display: block;
        background: url("%=static=%content/bg-dots-seven.svg");
        position: absolute;
        top: -25px;
        left: 72px;
        transform: rotate(90deg);
      }
    }
  }
}

.points {
  &__content {
    max-width: 1394px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__info {
    margin-right: 40px;
    padding-left: 50px;
  }

  &__triangle {
    position: absolute;
    left: 25%;
    top: 326px;
    transform: rotate(44deg);
  }

  &__ellipse {
    position: absolute;
    left: -13px;
    top: 120px;
    width: 60px;
  }

  &--with-bg {
    background: $greyLight;
  }

  .marked-list {
    padding-left: 21px;

    ul {
      max-width: 700px;
    }

    li {
      margin-bottom: 36px;
    }
  }
}

.italic-text {
  background: $lighterBlue;
  padding: 53px 0 41px;

  &__content {
    max-width: 780px;
    margin: 0 auto;

    h3 {
      font-style: italic;
      font-size: 24px;
      line-height: 34px;
    }
  }
}

.image-box-bg {
  position: relative;

  img {
    border-radius: 40px 0 0 0;
    position: relative;
    z-index: 10;
  };

  &:before {
    content: "";
    display: block;
    background: $lighterBlue;
    top: -25px;
    left: -30px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
  }

  &:after {
    content: "";
    display: block;
    width: 232px;
    height: 265px;
    position: absolute;
    top: -46px;
    right: -127px;
    background: url("%=static=%content/points.svg") no-repeat;
    z-index: 6;
  }
}

.centered-list {
  background: $lighterBlue;
  padding: 64px 0 48px;

  &__content {
    max-width: 900px;
    margin: 0 auto;
  }

  .section-title {
    text-align: center;
  }

  .plan__info {
    display: flex;
    justify-content: center;
    padding-top: 34px;

    li {
      margin-bottom: 21px;

      &:after {
        left: -49px;
      }
    }
  }
}

.author {
  padding: 50px 0;

  &--school {
    padding-top: 40px;

    .author__triangle {
      right: -135px;
      top: 50px;
      position: absolute;
      transform: rotate(44deg);
    }

    .author__ellipse {
      right: 15%;
      top: 121px;
      position: absolute;
      width: 59px;
    }
  }

  &__content {
    max-width: 952px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__image {
    margin-right: 48px;
    position: relative;

    &:before {
      content: "";
      display: block;
      border: 1px solid $red;
      opacity: .6;
      width: 236px;
      height: 236px;
      position: absolute;
      border-radius: 50%;
      top: -13px;
      left: 0;
    }

    &:after {
      content: "";
      display: block;
      border: 1px solid $green;
      opacity: .6;
      width: 219px;
      height: 219px;
      position: absolute;
      border-radius: 50%;
      top: -1px;
      left: -10px;
    }

    img {
      border-radius: 50%;
    }
  }

  &__sub-title {
    font-size: 24px;
    color: $grey;
    margin-bottom: 36px;
  }

  &--consultation {
    background: url('%=static=%content/bg-consultation.jpg') no-repeat;
    margin: 20px 0;
    padding: 50px 0 20px;

    .section-title {
      text-align: center;
      margin-bottom: 50px;
    }

    .align-right {
      display: flex;
      justify-content: flex-end;
    }

    .author__content {
      margin-bottom: 50px;
    }
  }
}

.info-block {
  margin-bottom: 40px;

  &__content {
    max-width: 1344px;
    margin: 0 auto;
    display: flex;
    padding: 41px 0 10px;
    background: $greyLight;
  }

  &__title {
    max-width: 600px;
    width: 100%;
    padding: 2px 0 0 92px;
  }

  &__text {
    max-width: 580px;
  }

  li {
    font-size: 18px;
    position: relative;
    margin-bottom: 12px;

    &:after {
      content: "";
      display: block;
      background: $black;
      width: 8px;
      height: 8px;
      top: 9px;
      left: -25px;
      border-radius: 50%;
      position: absolute;
    }
  }

  &--blue {
    .info-block__content {
      background: $lighterBlue;
    }
  }
}

.discounts {
  padding: 50px 0;

  &__content {
    max-width: 1342px;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;

    &--bg-colored {
      background: $greyLight;
    }
  }

  .section-title {
    text-align: center;
    margin-bottom: 58px;
  }

  &__image {
    margin-right: 82px;

    &--top-rounded {
      img {
        border-radius: 40px 40px 0 0;
      }
    }

    &--bottom-rounded {
      img {
        border-radius: 0 0 40px 40px;
      }
    }
  }

  &__info-title {
    font-size: 30px;
    padding: 11px 0 0 22px;
    max-width: 650px;
  }

  &__type {
    display: flex;
  }

  &__type-item {
    margin: 0 21px;
    padding: 41px 3px 16px;
  }

  &__percent {
    font: 800 30px "Exo 2";
    color: $red;
    margin-bottom: 19px;
  }

  &--big-title {
    padding-bottom: 20px;

    .section-title {
      text-align: left;
      margin-bottom: 50px;
    }
  }
}

.reviews-slider {
  background: $greyLight;
  padding: 50px 0 120px;

  &__content {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
  }

  &__item {
    width: 424px;
    display: flex!important;
    outline: none;
    margin: 0 18px;
    background: $white;
  }

  &__info {
    padding: 20px;
    position: relative;
  }

  .section-title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    max-height: 198px;
    overflow: hidden;
  }

  &__more {
    font-size: 12px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    display: flex;
    background: $white;
  }

  &__more-icon {
    margin-left: 5px;
  }

  &__icon {
    position: absolute;
    top: -86px;
    left: 12%;
  }

  &__icon-rotated {
    position: absolute;
    bottom: -124px;
    left: 33%;
    transform: rotate(-58deg);
    width: 70px;
  }
}

.move-up {
  border-bottom: 2px solid #f2f2f2;

  &__content {
    max-width: 1616px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    z-index: 10;
  }

  &__button {
    transition: .2s;
    position: absolute;
    top: 20px;
    top: -130px;

    &:hover {
      opacity: .8;
    }
  }
}

// Raspisanie page

.raspisanie {
  background: url("%=static=%content/bg-raspisanie.jpg") no-repeat;
  padding-bottom: 50px;

  &__content {
    display: flex;
    max-width: 1364px;
    margin: 0 auto;
    padding-top: 118px;
    position: relative;
  }

  &__sidebar {
    margin-right: 24px;
    max-width: 318px;
    width: 100%;
  }

  &__list {
    width: 100%;
    max-width: 774px;
    position: relative;
    z-index: 10;
  }

  &__top-dots {
    position: absolute;
    top: 58px;
    right: 133px;
    z-index: 5;
  }

  &__circle {
    position: absolute;
    top: 477px;
    right: 169px;
  }

  &__ellipse {
    position: absolute;
    top: 921px;
    left: 283px;
  }

  &__bottom-dots {
    position: absolute;
    top: 1184px;
    left: 227px;
  }

  &__triangle-right {
    position: absolute;
    top: 1286px;
    right: 0;
  }

  &__triangle-left {
    position: absolute;
    left: 86px;
    position: absolute;
    top: 1487px;
    transform: rotate(45deg);
    width: 94px;
  }

}

.filter {
  box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
  background: $white;
  padding: 28px 21px;
  min-height: 449px;

  &__item {
    margin-bottom: 13px;
  }

  &__text {
    font-size: 22px;
  }

  &__label {
    font-size: 18px;
    font-weight: 300;
  }

  &__icon {
    margin-left: -28px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__checkbox {
    margin-right: 7px;
  }

  &__select {
    margin-bottom: 25px;
    display: flex;
  }

  .selectric {
    border: none;
    background: none;

    .button {
      background: none;
      &:after {
        border: none;
      }
    }

    .label {
      font-size: 22px;
      margin-left: 0;
    }
  }

  .selectric-wrapper {
    width: 250px;
  }

  .selectric-items {
    box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
    border-radius: 10px;

    li {
      font-size: 18px;
      padding: 10px;
      transition: .2s;
      cursor: pointer;

      &:hover {
        background: none;
      }

      &.selected {
        color: $green;
        background: none;
      }
    }
  }
}

.card-item {
  display: flex;
  background: $white;
  padding: 16px;
  width: 100%;
  box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
  border-radius: 5px;
  position: relative;
  margin-bottom: 24px;
  transition: .2s;

  &:hover {
    transform: scale(1.02);
  }

  &__image {
    margin-right: 36px;
  }

  &__title {
    height: 80px;
    overflow: hidden;
    line-height: 37px;
  }

  &__info {
    width: 100%;
    padding-top: 25px;
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: -11px;
  }

  &__label {
    font-size: 14px;
    font-weight: 300;
    font-family: "Open Sans";
    background: linear-gradient(131.39deg, #ACB6E5 -10.26%, #86FDE8 144.83%);
    opacity: 0.3;
    border-radius: 5px;
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 0 12px 2px;
    color: $darkBlack;
  }

  &__pin {
    margin-right: 10px;
  }

  &__mic {
    margin-right: 14px;
  }
}


.more-button {
  border: 1px solid $green;
  box-sizing: border-box;
  border-radius: 80px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  width: 245px;
  padding: 16px 25px;
  margin: 25px auto;
  color: $green;
  display: block;
  text-align: center;
  transition: .2s;

  &:hover {
    color: $green;
    opacity: .8;
  }

  &--next {
    font-size: 18px;
    width: 286px;
    text-transform: none;
    float: right;
    margin-left: 0;
    margin-right: 0;

    &::after {
      clear: both;
      display: block;
    }
  }

  &--grey {
    color: $grey;
    border: 1px solid $grey;

    &:hover {
      color: $grey;
    }
  }
}

// otzivi

.otzivi {
  padding: 50px 0;
  position: relative;

  &:before {
    content: "";
    display: block;
    background: $greyLight;
    width: 100%;
    height: 1143px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
  }

  &__select {
    display: flex;
    padding-left: 18px;
    margin-bottom: 17px;
  }

  &__filter {
    font-size: 18px;
    padding-top: 5px;
  }

  &__content {
    max-width: 1343px;
    margin: 0 auto;
    position: relative;
  }

  &__wrapper {
    margin: 0 -18px;
    position: relative;
    z-index: 10;
  }

  &__cards {
    display: flex;
  }

  &__cards-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__circle {
    position: absolute;
    right: -81px;
    top: 319px;
    z-index: 5;
  }

  &__ellipse {
    position: absolute;
    left: -86px;
    top: 834px;
    z-index: 5;
  }

  &__triangle-right{
    position: absolute;
    right: -60px;
    top: 1134px;
    z-index: 5;
  }

  &__triangle-left {
    position: absolute;
    left: -58px;
    top: 1455px;
    z-index: 5;
    width: 80px;
  }

  .reviews-slider__item {
    margin: 18px;
    box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
  }

  .reviews-slider__item--wide {
    width: 100%;
    max-width: 883px;
  }

  .selectric {
    border: none;
    background: none;

    .button {
      background: none;
      &:after {
        border: none;
      }
    }

    .label {
      font-size: 18px;
      color: $green;
    }
  }

  .selectric-wrapper {
    width: 250px;
  }

  .selectric-items {
    box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
    border-radius: 10px;

    li {
      font-size: 18px;
      padding: 10px;
      transition: .2s;
      cursor: pointer;

      &:hover {
        background: none;
      }

      &.selected {
        color: $green;
        background: none;
      }
    }
  }
}

.play-btn {
  position: absolute;
  cursor: pointer;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.move-right {
    left: 70%;
  }
}

.consultation-advise {
  background: $greyLight;

  &__content {
    max-width: 1360px;
    margin: 50px auto 0;
    display: flex;
    align-items: center;
  }

  &__image {
    margin-right: 38px;
    margin-top: -61px;
    position: relative;

    img {
      position: relative;
      z-index: 5;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -64px;
      left: -45px;
      background: url('%=static=%content/bg-dots-seven.svg') no-repeat;
      width: 180px;
      height: 140px;
      z-index: 1;
    }

    img {
      border-radius: 0 40px;
    }
  }

  h3 {
    font-size: 24px;
    line-height: 29px;
  }
}

.text-submit {
  padding: 50px 0;

  &__content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }

  h3 {
    font-size: 22px;
    line-height: 29px;
  }

  &__button {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
}

.work-from {
  background: $greyLight;
  padding: 50px 0;
  text-align: center;

  &__content {
    position: relative;
    max-width: 880px;
    margin: 0 auto;
  }

  .section-title {
    margin-bottom: 30px;
  }

  &__triangle-top {
    position: absolute;
    right: -247px;
    top: -62px;
  }

  &__triangle {
    position: absolute;
    left: -145px;
    top: 149px;
    width: 89px;
    transform: rotate(45deg);
  }

  &__circle {
    position: absolute;
    bottom: -43px;
    right: -331px;
  }
}

.study-text {
  background: $greyLight;
  margin: 0 0 50px;

  &__content {
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    align-items: center;
  }

  &__image {
    margin-left: 38px;

    img {
      border-radius: 0 40px;
    }
  }

  h3 {
    font-size: 24px;
    line-height: 29px;
  }
}

.contact-us-button {
  padding: 34px 0 0;

  .submit-button {
    font-size: 22px;
    letter-spacing: .05em;
    padding: 27px 85px;
  }
}

.requisites {
  background: $greyLight;

  &__content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0 50px;
  }

  .section-title {
    text-align: center;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  &__pay {
    background: $white;
    box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
    padding: 44px 60px;
    margin: 30px 0;
  }

  &__spaced {
    padding-left: 95px;
  }

  &__attention {
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background: url('%=static=%content/icon-circle-attention.svg');
      position: absolute;
      left: -48px;
      top: 0px;
    }
  }
}

.blog-author {
  span {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
  }
}

.blog-control {
  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1305px;
    padding: 10px 0;
  }

  &__tabs {
    padding: 0;

    .nav {
      padding-bottom: 0;
      margin-bottom: 0!important;
    }
  }

  &__filter {
    display: flex;
    padding: 0;
    padding: 17px 0 0;

    .selectric-wrapper {
      width: auto;
    }

    .selectric-items {
      width: 225px!important;
    }

    .otzivi__select {
      margin-bottom: 5px;
    }

    &::before {
      display: none
    }
  }
}

.blog-banner {
  width: 100%;
  max-width: 1920px;
  height: 644px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(86.71deg, #FFFFFF 31.18%, rgba(255, 255, 255, 0) 128.44%);
    z-index: 5;
  }

  &__content {
    max-width: 1305px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
  }

  &__info {
    padding-top: 40px;
    max-width: 600px;
  }

  &__author {
    max-width: 314px;
    background: $white;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 57px 40px 35px;
    margin-right: 67px;
  }

  &__image-author {
    width: 92px;
    height: 92px;
    margin-bottom: 17px;

    img {
      width: 100%;
    }
  }

  &__name-author {
    font-size: 24px;
    margin-bottom: 27px;
  }

  &__speciality-author {
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 28px;
  }

  &__text-author {
    font-size: 16px;
    line-height: 22px;
  }

  &__social-author {
    display: flex;

    li {
      padding: 0 8px;
    }
  }

  &__tags {
    display: flex;
    margin-bottom: 14px;
  }

  &__tag {
    font-size: 14px;
    background: #F7F6F6;
    padding: 6px 19px;
    margin-right: 10px;
  }

  .section-title {
    margin-bottom: 14px;
  }

  .section-title--big {
    margin-bottom: 179px;
  }
}

.blog-articles {
  &__content {
    max-width: 1344px;
    margin: 0 auto;
    padding-top: 10px;
  }
}

.articles {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-right: -10px;

  &--dots-right {
    &:after {
      content: '';
      display: block;
      width: 258px;
      height: 217px;
      position: absolute;
      top: -82px;
      right: -85px;
      background: url("%=static=%content/bg-dots-seven.svg");
      z-index: -1;
    }
  }

  &--dots-left {
    &:before {
      content: '';
      display: block;
      width: 258px;
      height: 217px;
      position: absolute;
      bottom: 17px;
      left: -150px;
      background: url("%=static=%content/bg-dots-seven.svg");
      z-index: -1;
    }
  }
}

.article {
  max-width: 665px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;

  &__image {
    max-width: 665px;
    max-height: 315px;
    width: 100%;
    height: 100%;

    a {
      height: 315px;
      display: block;
    }
  }

  &__info {
    padding-top: 27px;
    padding-bottom: 23px;
  }

  &__title {
    font-size: 30px;
    font-family: "Exo 2";
    transition: .2s;
    display: block;
    margin-bottom: 24px;
    line-height: 35px;

    &--smaller {
      font-size: 24px;
      line-height: 29px;
    }

    &:hover {
      color: $green;
    }
  }

  &__video {
    position: relative;
  }

  &__icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--video {
    max-width: 805px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 32px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  &--right-dots {
    &::after {
      content: '';
      display: block;
      right: -94px;
      top: -26px;
      background: url('%=static=%content/bg-dots-seven.svg') no-repeat;
      width: 260px;
      height: 220px;
      position: absolute;
      z-index: -1;
    }
  }

  &--left-dots {
    &::after {
      content: '';
      display: block;
      left: -156px;
      top: 46px;
      background: url('%=static=%content/bg-dots-seven.svg') no-repeat;
      width: 260px;
      height: 220px;
      position: absolute;
      z-index: -1;
    }
  }
}

.blog-divider {
  display: flex;
  align-items: center;
  padding: 25px 0;

  &--no-padding {
    padding: 0;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 21px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #2B2B2B;
    white-space: nowrap;

    &--green {
      color: $green;
    }
  }

  &__line {
    display: block;
    width: 100%;
    height: 1px;
    background: #D8D8D8;
    margin: 0 20px;

    &--right0 {
      margin-right: 0;
    }
  }
}

.articles-slider {
  margin: 0 -18px;
  margin: 15px 0 150px;
  position: relative;

  .article {
    margin: 0 18px;
    max-width: 422px;
    overflow: hidden;
  }

  .slick-arrow {
    background: url('%=static=%content/icon-long-arrow-left.svg');
    width: 106px;
    height: 24px;
  }

  .slick-prev {
    top: auto;
    bottom: -55px;
    left: 50%;
    transform: translate(-110%, 0);
  }
  .slick-next {
    top: auto;
    bottom: -55px;
    right: 50%;
    transform: translate(110%, 0) rotate(180deg);
  }

  &::after {
    content: '';
    display: block;
    right: -81px;
    bottom: -25px;
    background: url('%=static=%content/bg-dots-seven.svg') no-repeat;
    width: 260px;
    height: 220px;
    position: absolute;
    z-index: -1;
  }
}

.blue-box {
  padding: 42px 0 32px;
  background: $lighterBlue;
  max-width: 1342px;
  margin: 0 auto;

  &__content {
    max-width: 800px;
    margin: 0 auto;
  }

  h3 {
    font-style: italic;
    font-size: 24px;
    line-height: 34px;
  }
}

.abonements {
  &__content {
    max-width: 1342px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
  }

  &__sidebar {
    max-width: 338px;
    padding-right: 30px;
    width: 100%;
  }

  &__info {
    display: flex;
    margin-right: -25px;
    flex-wrap: wrap;
  }
}

.abonement {
  background: #FFFFFF;
  box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
  border-radius: 0px 40px 0px 0px;
  max-width: 318px;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 25px;
  margin-bottom: 48px;
  width: 100%;

  .plan__info {
    padding-top: 23px;
    padding-left: 28px;

    li {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 19px;

      &:after {
        left: -34px;
        top: -5px;
        transform: scale(.6);
      }
    }
  }

  &__info {
    padding: 32px 15px 20px 18px;
  }

  &__period-price {
    background: linear-gradient(115.21deg, #2193B0 -55.88%, #6DD5ED 114.88%);
    padding: 14px 28px 11px 28px;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
  }

  &__period {
    font-size: 24px;
    color: $white;
  }

  &__price {
    font-size: 28px;
    color: $white;
    display: flex;
    align-items: center;
  }

  &__grn {
    font-size: 18px;
    color: $white;
    padding-left: 10px;
  }
}

.green {
  color: $green;
  font-size: inherit;
}

.big-text {
  font-size: 22px;
}

.popup {
  width: 100%;
}

.trenings-list {
  &__content {
    max-width: 1344px;
    margin: 0 auto;
  }

  &__cards {
    padding: 18px 0;
  }

  .selectric {
    border: none;
    background: none;

    .button {
      background: none;
      &:after {
        border: none;
      }
    }

    .label {
      font-size: 18px;
      color: $green;
    }
  }

  .selectric-wrapper {
    width: 250px;
  }

  .selectric-items {
    box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
    border-radius: 10px;

    li {
      font-size: 18px;
      padding: 10px;
      transition: .2s;
      cursor: pointer;

      &:hover {
        background: none;
      }

      &.selected {
        color: $green;
        background: none;
      }
    }
  }
}

.trening-card {
  display: flex;
  box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
  height: 240px;
  margin-bottom: 24px;
  transition: .2s;

  &:hover {
    transform: scale(1.02);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 31px 26px 26px 32px;
  }

  &__image {
    img {
      border-radius: 0px 50px 0px 0px;
    }
  }

  &__info {
    margin-right: 30px;
  }

  &__title {
    margin-bottom: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 634px;
    font-size: 30px;
    display: block;
    transition: .2s;

    &:hover {
      color: $green;
    }
  }

  &__more {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__text {
    font: 24px/29px "Exo 2";
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }
  }

  &__sale {
    background: url("%=static=%content/bg-sale.png") no-repeat;
    width: 127px;
    height: 63px;
    text-align: center;
    color: $white;
    font-size: 30px;
    font-family: "Exo 2";
    position: relative;
    top: -10px;
    right: -34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__price {
    font-size: 30px;
    font-family: "Exo 2";
    color: $green;
  }

  &__button {
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 80px;
    color: #828282;
    transition: .2s;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding: 12px 54px;

    &:hover {
      opacity: .8;
    }
  }
}

.consultations-list {
  padding: 50px 0;

  &__content {
    max-width: 1344px;
    margin: 0 auto;
  }

  &__cards {
    margin-right: -24px;
    display: flex;
    flex-wrap: wrap;
  }
}

.consultation-card {
  max-width: 432px;
  height: 702px;
  box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
  border-radius: 0px 50px 0px 0px;
  margin-right: 24px;
  margin-bottom: 24px;
  transition: .2s;

  &:hover {
    transform: scale(1.02);
  }

  &__image {
    img {
      border-radius: 0px 50px;
    }
  }

  &__info {
    padding: 26px 24px;

  }

  &__more {
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
  }

  &__title {
    font-size: 30px;
    margin-bottom: 30px;
    transition: .2s;
    display: block;

    &:hover {
      color: $green;
    }
  }

  &__text {
    height: 162px;
    overflow: hidden;
  }

  .trening-card__button {
    max-width: 210px;
    margin: 0 auto;
    display: block;
  }
}

.schools-list {
  padding: 50px 0;

  &__content {
    max-width: 1393px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  &__cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.school-card {
  max-width: 422px;
  width: 100%;
  height: 680px;
  box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
  border-radius: 0px 75px 0px 46px;
  transition: .2s;
  margin-right: 63px;
  margin-bottom: 63px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transform: scale(1.02);
  }

  &__image {
    img {
      border-radius: 0px 65px 0px 101px;
    }
  }

  &__info {
    padding: 20px 22px 27px 22px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 434px;

    .submit-button {
      margin: 23px auto 0;
      max-width: 193px;
    }
  }

  &__title {
    display: block;
    font-size: 30px;
    font-family: "Exo 2";
    transition: .2s;
    display: block;
    max-height: 90px;
    overflow: hidden;
    line-height: 39px;
    margin-bottom: 14px;

    &:hover {
      color: $green;
    }
  }

  &__text {
    max-height: 165px;
    overflow: hidden;
    margin-bottom: 5px;
  }

  &__price-new {
    font-size: 40px;
    font-family: "Exo 2";
    color: $green;
    padding-right: 30px;
  }

  &__price-old {
    font-size: 30px;
    font-family: "Exo 2";
    text-decoration: line-through;
  }
}

.cabinet {
  background: $greyLight;
  padding: 45px 0;

  iframe {
    margin-bottom: 20px;
  }

  &--article {
    max-width: 1360px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  &--no-bg {
    background: none;
  }

  &--blue-bg {
    background: $lightBlue;
  }

  &__content {
    max-width: 1305px;
    margin: 0 auto;
    display: flex;
    padding-top: 65px;
  }

  &__author {
    margin-left: 30px;
    padding-top: 165px;
  }

  &__sidebar {
    max-width: 318px;
    max-height: 472px;
    width: 100%;
    background: $white;
    margin-right: 42px;
    padding: 29px 32px 24px;
    box-shadow: 4px 4px 20px rgba(202, 202, 202, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--wider {
      max-width: 432px;
      padding: 26px 16px;
    }

    li {
      margin-bottom: 11px;
    }
  }

  &__info {
    margin-bottom: 30px;
    .trenings-list {
      display: flex;
    }

    &--text {
      max-width: 680px;
      margin-left: 100px;
    }

    ul {
      padding-left: 35px;
    }

    &--full-width {
      width: 100%;
      max-width: 1005px;
    }
  }

  &__image {
    width: 153px;
    height: 153px;
    margin: 0 auto 24px;

    img {
      width: 100%;
      border-radius: 0px 50px 0px 0px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 32px;
  }

  &__nav {
    font-size: 20px;
    transition: .2s;

    &:hover {
      opacity: .8;
    }

    &.active {
      color: $green;
    }

    &--smaller {
      font-size: 18px;
    }
  }

  &__courses-count {
    color: #828282;
  }

  &__course-list {
    .trening-card {
      background: $white;
      height: 208px;
    }
  }

  &__form {
    padding-left: 97px;
  }

  &__lections-nav {
    display: flex;
    justify-content: space-between;
  }

  &__field-label {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__change-photo {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 45px;

    img {
      width: 100%;
      margin-right: 36px;
    }
  }

  &__change-button {
    border: 1px solid $grey;
    border-radius: 80px;
    color: $grey;
    font-size: 18px;
    display: block;
    background: none;
    width: 125px;
    height: 32px;
    padding: 5px 21px;
  }

  .breadcrumbs {
    max-width: 1357px;
    margin: 0 auto;
    padding: 0 20px;

    ul {
      padding-left: 0;
    }
  }

  &__name-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
  }

  &__name-field {
    width: 100%;
  }

  &__input {
    border: 1px solid $green;
    border-radius: 40px;
    background: $white;
    font-size: 22px;
    padding: 15px 25px;
    max-width: 417px;
    width: 100%;
    margin-right: 30px;
    outline: none;
  }

  &__password {
    margin-bottom: 80px;
  }

  &__change-password {
    margin-bottom: 34px;
  }

  .submit-button {
    width: 313px;
    height: 78px;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.05em;
    text-align: center;
    display: block;

  }
}

.quote {
  font-size: 15px;
  padding: 45px 41px;
  background: $greyLight;
  font-style: italic;
}

.blue-divider {
  background: #2D9CDB;
  height: 2px;
  width: 100%;
  display: block;
  margin: 50px 0;
}

.check-list {
  padding: 50px 0;

  &__content {
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
  }

  &__ellipse {
    position: absolute;
    bottom: 0;
    left: 55%;
    width: 59px;
    height: 59px;
  }

  .section-title {
    text-align: center;
  }
}

.what-choose {
  background: $lightBlue;
  padding: 50px 0;

  &__content {
    max-width: 1344px;
    margin: 0 auto;
    position: relative;
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -24px;
    margin-bottom: 38px;
  }

  &__item {
    margin: 0 24px 31px 0;
    background: $white;
    box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
    padding: 26px 31px 24px;
    max-width: 660px;
    height: 205px;
    width: 100%;
  }

  &__title {
    font-size: 30px;

    span {
      font-size: 18px;
    }
  }

  &__subtitle {
    font-size: 20px;
    color: $green;
    margin-bottom: 26px;
  }

  &__text {
    font-size: 18px;
  }

  &__triangle-top {
    position: absolute;
    top: 0;
    right: 96px;
    transform: rotate(45deg);
  }

  &__triangle {
    position: absolute;
    bottom: -21px;
    left: -107px;
    transform: rotate(45deg);
    right: 20px;
  }

  &__ellipse {
    position: absolute;
    top: -40px;
    left: -60px;
    width: 59px;
    height: 59px;
  }

  .section-title {
    text-align: center;
    margin-bottom: 50px;
  }

  .submit-button {
    margin: 0 auto;
    padding: 24px 47px;
  }
}

.customers {
  background: $greyLight;
  padding: 50px 0;

  &__content {
    max-width: 1344px;
    margin: 0 auto;
  }

  &__slider {
    display: flex;
  }

  &__item {
    text-align: center;

    img {
      display: inline-block!important;
    }
  }

  &__top-item {
    margin-bottom: 40px;
  }

  .section-title {
    text-align: center;
    margin-bottom: 70px;
  }
}

.author-business {
  padding: 50px 0;

  .submit-button {
    max-width: 490px;
    font-size: 17px;
    margin-top: 92px;
  }
}
.show-mobile {
  display: none;
}

// Responsive
@media (max-width: 1400px) {
  .articles-slider::after,
  .article--right-dots::after {
    right: 0;
  }
  .article {
    max-width: 572px;
  }
  .articles {
    justify-content: center;
  }
  .top-banner:before {
    height: 100%;
  }
  .customers__content {
    max-width: 1000px;
  }
  .check-list__content {
    padding: 0 50px;
  }
  .cabinet__input {
    max-width: 380px;
  }
  .cabinet__form {
    padding-left: 0;
  }
  .cabinet__info--text {
    margin-left: 0;
  }
  .otzivi__filter {
    white-space: nowrap;
  }
  .cabinet__content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .school-card {
    margin-right: 30px;
  }
  .schools-list__content {
    padding: 0 20px;
  }
  .consultations-list__content {
    padding: 0 20px;
  }
  .consultations-list__cards {
    justify-content: center;
  }
  .trening-card__content {
    padding: 31px 15px 26px 20px;
  }
  .trening-card__info {
    margin-right: 20px;
  }
  .trening-card__button {
    padding: 10px 28px;
  }
  .trenings-list__content {
    padding: 0 20px;
  }
  .abonements__content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .blog-banner__content,
  .blog-control {
    padding-left: 20px;
    padding-right: 20px;
  }
  .articles--dots-right:after {
    right: 0;
  }
  .blog-articles {
    padding: 0 20px;
  }
  .requisites {
    padding: 0 20px;
  }
  .find-us {
    padding-left: 20px;
    padding-right: 20px;
  }
  .study-text {
    margin: 50px 20px;
  }
  .otzivi {
    padding: 40px 20px;

    iframe {
      width: 100%;
    }
  }
  .raspisanie {
    padding-left: 20px;
    padding-right: 20px;
  }
  .logo {
    display: none;
  }

  .plan__ellipse {
    left: 16%;
  }

  .reviews-slider__content {
    max-width: 84%;
  }

  .points__content,
  .image-list__content,
  .plan__content,
  .discounts {
    padding: 100px 20px;
  }

  .close-events__content,
  .we-pro__content,
  .why-we__content,
  .our-members__content,
  .kurs__content,
  .signup__content,
  .our-team__content,
  .reviews__content,
  .top-banner__content,
  .trening-main {
    padding: 0 20px;
  }

  .plan__content {
    padding-bottom: 80px;
  }

  .find-us__info {
    left: 40px;
  }

  .kurs--mirrored .kurs__content,
  .kurs__content {
    max-width: 1020px;
  }

  .kurs .trenings__wrapper:after {
    left: 0;
  }

  .kurs .trenings__feature {
    left: -24px;
    width: 285px;
  }

  .kurs--mirrored .trenings__feature {
    left: 5px;
  }

  .reviews__item {
    margin: 0 20px 52px;
  }

  .close-events__circle,
  .signup-course__circle-small,
  .our-members__triangle-small,
  .signup__form:after {
    right: 0
  }

  .our-members__triangle-small {
    display: none;
  }

  .kurs {
    padding-top: 50px;
  }

  .kurs--mirrored .trenings__wrapper::before {
    width: 285px;
  }

  .work-from__circle,
  .work-from__triangle-top,
  .we-pro--about .we-pro__content::before {
    right: 0;
  }
}

@media (max-width: 1200px) {
  .articles-slider::after, .article--right-dots::after {
    display: none;
  }
  .articles {
    margin-right: 0;
  }
  .article__footer {
    flex-direction: column;
  }

  .blog-author {
    margin-bottom: 20px;
  }
  .customers__content {
    max-width: 800px;
    padding: 0 20px;
  }
  .cabinet__input {
    max-width: 295px;
  }
  .school-card {
    margin-right: 15px;
    margin-left: 15px;
  }
  .trening-card__info {
    max-width: 413px;
  }
  .trening-card__text {
    font: 20px/28px "Exo 2";
  }
  .trening-card__title {
    font-size: 22px;
  }
  .articles {
    flex-direction: column;
    align-items: center;
  }
  .blog-articles__content {
    padding-top: 80px;
    max-width: 460px;
  }
  .article {
    margin-bottom: 30px;
  }
  .we-pro--about .we-pro__content::before {
    right: 0;
  }
  .work-from__circle {
    right: 0;
  }
  .work-from__triangle-top {
    right: 0;
  }
  .otzivi__circle,
  .otzivi__triangle-right {
    right: 0
  }
  .otzivi__triangle-left {
    left: 0;
  }
  .our-team__image-box {
    margin-right: 50px;
  }

  .image-box-bg:before {
    max-height: 614px;
  }

  .discounts__image {
    margin-right: 20px;
  }

  .points__info {
    margin-right: 20px;
    padding-left: 0;
  }

  .info-block__content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .image-box__simple {
    max-width: 464px;

    img {
      width: 100%;
    }
  }

  .we-pro--text .we-pro__info {
    margin-right: 50px;
  }
  .marked-list {
    padding: 59px 0 11px 20px;
  }

  .our-members__image {
    max-width: 540px;

    img {
      width: 100%;
    }
  }

  .close-events {
    padding: 50px 20px;
  }

  .kurs--mirrored .kurs__content, .kurs__content {
    max-width: 890px;
  }

  .reviews__item {
    margin: 0 15px 52px;
  }
}

@media (max-width: 1025px) {
  .our-team__member {
    flex-direction: column;
    align-items: center;

    .section-title {
      text-align: center;
    }

  }

  .our-team__item {
    margin: 0 20px;
  }

  .cabinet {
    &--article {
      .slick-next {
        right: 25% !important;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      .slick-prev {
        -webkit-transform: none;
        transform: none;
        left: 25% !important;
      }

      .cabinet__author {
        margin-left: 30px;
        padding-top: 0;
      }
    }
  }

  .what-choose__item {
    height: auto;
  }
  .what-choose__content {
    padding: 0 20px;
  }
  .section-title--settings {
    display: block;
    font-size: 22px!important;
    display: flex;

    img {
      margin-right: 5px;
      margin-bottom: 4px;
    }
  }
  .cabinet__sidebar {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .cabinet__content {
    flex-direction: column;
    align-items: center;
  }
  .consultations-list {
    padding: 50px 0;
  }
  .card__title {
    margin-bottom: 20px;
  }
  .trening-card__sale {
    width: 72px;
    height: 31px;
    top: -54px;
    right: -21px;
    background-size: contain;
  }
  .trening-card__sale {
    font-size: 16px;
  }
  .trening-card__button {
    padding: 4px 18px;
    font-size: 12px;
  }
  .trening-card__content {
    position: relative;
    padding-top: 15px;
  }
  .trening-card__more {
    position: absolute;
    right: 12px;
    top: 46px;
  }
  .trening-card__price {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .trening-card__more {
    position: absolute;
    right: 12px;
    padding-top: 5px;
  }
  .trening-card {
    height: 166px;
  }
  .trening-card__text {
    font: 16px/19px "Exo 2";
  }
  .trening-card__image {
    img {
      width: 250px;
    }
  }
  .blue-box__content {
    padding: 0 20px;
  }
  .abonements__info {
    justify-content: center;
  }
  .abonements__content {
    flex-direction: column;
    align-items: center;
  }

  .abonements__sidebar {
    max-width: 100%;
    padding-right: 0;
    width: 100%;
  }
  .otzivi {
    padding: 30px 0px;
  }
  .blog-control__content {
    flex-direction: column;
  }
  .article__image, .article__video {
    img {
      width: 100%;
    }
  }
  .article {
    margin-right: 0;
  }
  .blog-banner__author {
    margin-right: 0;
  }
  .blog-articles {
    .slick-next {
      right: 25%!important;
      transform: rotate(180deg);
    }

    .slick-prev {
      transform: none;
      left: 25%!important;
    }
  }
  .articles--dots-left:before {
    display: none;
  }
  .image-list--contacts {
    .image-list__content {
      flex-direction: column-reverse;
    }
  }
  .study-text {
    margin: 50px 0px;
    padding: 0 20px;
  }
  .study-text__image {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .study-text__content {
    flex-direction: column-reverse;
  }
  .our-team__image-box {
    margin-right: 30px;
    margin-bottom: 60px;
  }
  .consultation-advise__image {
    margin-bottom: 20px;
  }
  .consultation-advise__content {
    align-items: center;
    flex-direction: column;
    padding: 0 20px 40px;
  }
  .image-list--checks .image-list__content {
    padding-bottom: 0;
    padding-top: 20px;
  }
  .raspisanie__content {
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }

  .raspisanie__sidebar {
    z-index: 10;
    margin-right: 0;
  }

  .filter {
    margin-bottom: 30px;
  }
  .reviews-slider__item {
    margin: 0 18px 20px;
  }
  .reviews-slider__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-popup {
    right: -118px;
  }
  .reviews-slider .slick-next {
    right: -35px !important;
  }

  .reviews-slider .slick-prev {
    left: -35px !important;
  }
  .image-box__simple {
    margin-bottom: 30px;
  }
  .we-pro--certificate .we-pro__content {
    flex-direction: column-reverse;
  }
  .discounts__image {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .discounts__item {
    flex-direction: column;
    align-items: center;
  }
  .info-block__title {
    max-width: 600px;
    width: 100%;
    padding: 2px 0 0 0;
  }
  .text-section__content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .author__content {
    padding: 0 20px;
  }
  .italic-text__content {
    padding: 0 30px;
  }
  .we-pro--padded {
    padding-top: 80px;
  }
  .we-pro--text {
    padding-bottom: 80px;
  }
  .points__content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .we-pro__image-box {
    margin-bottom: 60px;
  }

  .points__image {
    margin-bottom: 30px;
  }
  .plan__img {
    margin-right: 0;
  }
  .text-section__content h3 {
    font-size: 22px;
    line-height: 30px;
  }
  .plan .card-body {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  .image-list__content {
    flex-direction: column;
    align-items: center
  }
  .section-title--big {
    font-size: 40px;
    line-height: 50px!important;
  }

  .breadcrumbs a {
    font-size: 16px;
  }

  .logo {
    display: block;
  }

  .top-banner__logo {
    margin: 0 auto;
  }

  .top-banner__text {
    margin: 0 auto;
    text-align: center;
  }

  .submit-button--banner {
    margin-left: 23px;
    padding: 18px 51px;
    font-size: 18px;
    letter-spacing: 1.2px;
    margin: 0 auto;
  }

  .top-banner__text {
    padding: 300px 30px 84px;
  }

  .close-events {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
      margin-bottom: 40px;
    }
  }

  .signup-course__boxes {
    justify-content: center;
    flex-wrap: wrap;
  }

  .signup-course__item {
    margin-bottom: 20px;
  }

  .we-pro__content {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .we-pro__button .submit-button {
    font-size: 18px;
    padding: 18px 70px;
    margin: 0 auto;
  }

  .we-pro__info {
    padding-bottom: 0;
  }

  .why-we__list {
    justify-content: center;
    flex-wrap: wrap;
  }

  .why-we__item {
    margin: 0 10px 20px;
  }

  .our-members__content {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }

  .our-members__image {
    margin-bottom: 20px;
  }

  .our-members__info {
    margin-right: 0;
  }

  .our-members__button {
    margin: 0 auto;

    .submit-button {
      font-size: 18px;
      padding: 20px;
    }
  }

  .kurs__item {
    display: flex!important;
    flex-direction: column-reverse;

    .close-events__feature {
        max-width: 400px;
        margin: 0 auto;
    }
  }

  .kurs--mirrored {
    .kurs__item {
      flex-direction: column;
    }
  }

  .kurs__info {
    padding: 70px 0 0;
  }

  .our-members {
    padding: 50px 0;
  }

  .our-members .section-title {
    margin: 0 0 30px;
    line-height: 50px;
  }

  .slick-next {
    right: 0!important;
  }

  .slick-prev {
    left: 0!important;
  }

  .footer {
    padding: 30px 20px;
  }

  .home .logo {
    display: block;
    position: absolute;
    top: 75px;
    width: 100%;
    max-width: 300px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .top-banner__logo {
    display: none;
  }

  .play-btn {
    top: 28%;
  }

  .signup-course__ellipse {
    right: 0;
  }

  .we-pro--padded .we-pro__content {
    flex-direction: column-reverse;
  }

  .centered-list {
    padding-left: 20px;
    padding-right: 20px;
  }

  .we-pro--text .we-pro__info {
    margin-right: 0;
  }
  .image-box-bg {
    margin-bottom: 30px;
  }
  .trening-main .trenings__wrapper--school:before {
    z-index: -1;
  }

  .author--school .author__triangle {
    right: 0;
  }

  .plan__title {
    font-size: 24px;
  }

}

@media (max-width: 768px) {
  .move-up__button {
    top: 20px;
  }
  .requisites__pay {
    padding: 30px 20px;
  }
  .check-list__content {
    padding: 0 20px 0 50px;
  }
  .image-list .our-team__image-box--without-bg img {
    width: 100%;
  }
  .cabinet__input {
    max-width: 90%;
  }
  .cabinet__name-field {
    margin-bottom: 30px;
  }
  .cabinet__name-fields {
    flex-direction: column;
    margin-bottom: 0;
  }
  figure img {
    width: 100%;
  }
  .cabinet__info {
    width: 100%;

    .more-button {
      font-size: 16px;
      padding: 8px 20px;
      margin: 20px 10px;
      font-size: 12px;
    }
  }
  .cabinet__info .trenings-list {
    display: flex;
    flex-direction: column;
  }
  .consultation-card__image img {
    width: 100%;
  }
  .trening-card__image img {
    object-fit: cover;
    height: 100%;
  }
  .trening-card__title {
    max-height: 50px;
    white-space: normal;
  }
  .trening-card__text {
    font: 12px/14px "Exo 2";
    margin-bottom: 5px;
  }
  .trening-card__info {
    max-width: 240px;
  }
  .trening-card__title {
    font-size: 16px;
  }
  .trening-card__image img {
    width: 135px;
  }

  .blog-banner__author {
    display: none;
  }
  .otzivi__select {
    padding-left: 0;
  }
  .blog-control__filter {
    flex-direction: column;
  }
  .contact-us-button .submit-button {
    font-size: 16px;
    padding: 11px 67px;
    margin: 0 auto;
  }
  .study-text h3 {
    font-size: 18px;
  }
  .study-text__image {
    img {
      width: 100%;
    }
  }
  .work-from,
  .why-we.why-we--without-bg {
    padding: 50px 20px;
  }
  .our-team__image-box {
    margin-right: 0;
  }
  .otzivi__filter {
    white-space: nowrap;
  }
  .otzivi .reviews-slider__item {
    margin: 18px 0;
  }
  .otzivi__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .otzivi__cards {
    flex-direction: column;
    align-items: center;
    max-width: 424px;
  }
  .more-button {
    font-size: 16px;
    padding: 8px 20px;
  }
  .raspisanie {
    padding-bottom: 0;
  }
  .card-item__footer {
    p {
      font-size: 10px;
      margin-bottom: 5px;
    }

    img {
      width: 18px;
    }
  }
  .card-item__image {
    width: 250px;
    margin-right: 20px;

    img {
      width: 100%;
    }
  }

  .card-item__title {
    height: 44px;
    overflow: hidden;
    line-height: 22px;
    font-size: 16px;
  }
  .image-list .our-team__image-box:before {
    right: 0;
  }
  .image-box-bg:after {
    right: 0;
  }
  .move-up__button {
    width: 70px;

    img {
      width: 100%;
    }
  }
  .discounts__type {
    flex-direction: column;
  }
  .info-block__content {
    flex-direction: column;
  }

  .info-block__content {
    padding: 30px 50px;
  }
  .info-block__title {
    padding: 0;
  }
  .author {
    padding: 80px 0;

    &__content {
      flex-direction: column;
      align-items: center;
    }
  }
  .author__image {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .points__image {
    img {
      width: 100%;
    }
  }
  .trening-main .submit-button {
    margin: 0 auto;
  }
  .trening-main__baner {
    margin-bottom: 20px;
  }
  .trening-main__content {
    flex-direction: column-reverse;
  }
  .breadcrumbs {
    display: none;
  }
  .hide-mobile {
    display: none;
  }

  .find-us__info {
    height: auto;
  }

  .top-banner__title {
    font-size: 22px;
  }

  .top-banner__logo {
    img {
      max-width: 150px;
    }
  }

  .kurs__all {
    display: none;
  }

  .signup__form form {
    flex-direction: column;
    position: relative;
    z-index: 2;
  }

  .signup__form .input-field {
    margin-bottom: 35px;
    height: 41px;
    margin-right: 0;
  }

  .signup__form .submit-button {
    font-size: 16px;
    margin: 0 auto;
  }

  .signup__form:after {
    top: -162px;
    width: 100%;
    background-position: center center;
    background-size: contain;
    z-index: 1;
  }

  .our-team__boxes {
    flex-direction: column;
    align-items: center;
  }

  .our-team__image-box {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .section-title {
    text-align: center;
  }

  .our-team__item {
    margin: 0 20px 30px;
    position: relative;
  }

  .our-team__members {
    flex-wrap: wrap;
  }

  .reviews__list {
    flex-wrap: nowrap;
    overflow: scroll;
  }

  .find-us__info {
    position: static;
  }

  .we-pro__triangle-small {
    display: none;
  }

  .signup-course__ellipse {
    right: 0;
  }

  .author__content--reversed {
    flex-direction: column-reverse;
  }
  .text-submit {
    padding: 49px 20px 47px;
  }
}

@media (max-width: 480px) {
  .blog-banner__tag {
    font-size: 12px;
  }

  .points--lest-top-space .points__content,
  .points--with-bg .points__content,
  .check-list {
    padding-top: 50px;
  }
  .what-choose .submit-button {
    padding: 13px 39px;
    font-size: 14px;
  }
  .customers .section-title {
    margin-bottom: 50px;
  }
  .what-choose__title {
    font-size: 24px;
  }
  .author-business .submit-button {
    font-size: 14px;
  }

  .cabinet .submit-button {
    height: 54px;
    width: 199px;
    font-size: 16px;
    font-weight: 400;
  }
  .cabinet__input {
    font-size: 14px;
  }
  .cabinet__field-label {
    font-weight: 400;
    font-size: 18px;
    text-transform: none;
  }
  .section-title--big {
    line-height: 35px !important;
  }
  .cabinet__info .more-button {
    margin: 0;
  }
  .cabinet__info .more-button--grey {
    background: url('%=static=%content/icon-prev-arrow.svg') center center no-repeat;
    text-indent: -9999px;
    margin-right: 10px;
    width: 165px;
  }
  .cabinet__nav--smaller {
    font-size: 14px;
  }
  .cabinet__sidebar {
    min-height: 100%;
  }
  .otzivi__select {
    margin-bottom: 0;
  }
  .cabinet__mobile-settings {
    position: absolute;
    right: 0;
  }
  .show-mobile {
    display: block;
  }
  .cabinet__courses-count {
    margin-top: 40px;
    margin-bottom: 0;
  }
  .cabinet__sidebar > div {
    display: flex;
    align-items: center;
    position: relative;
  }
  .cabinet__title {
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 15px;
    padding-right: 30px;
  }
  .cabinet__image {
    width: 65px;
    height: 65px;
    margin: 0;

    img {
      border-radius: 50%;
    }
  }
  .cabinet__sidebar {
    margin-right: 0;
    margin-bottom: 30px;
    padding: 0;
    box-shadow: none;
    height: auto;
  }
  .cabinet__settings-list {
    display: none;
  }
  .cabinet {
    background: $white;
  }
  .cabinet__content {
    padding-top: 0;
  }
  .schools-list {
    padding: 50px 0px;
  }
  .submit-button--banner {
    margin-top: 50px;
  }
  .trenings__feature-title {
    font-size: 26px;
  }
  .school-card__title {
    font-size: 26px;
  }
  .school-card__price-new {
    font-size: 26px;
  }
  .school-card__price-old {
    font-size: 20px;
  }
  .school-card {
    margin-right: 0;
    margin-left: 0;
  }
  .school-card__image img {
    border-radius: 0px 65px 0px 101px;
    width: 100%;
  }
  .consultation-card {
    height: 100%;
  }
  .consultation-card__title {
    font-size: 26px;
    overflow: hidden;
    max-width: 231px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .trening-card__sale {
    top: 74px;
  }

  .trening-card__more {
    padding-top: 17px;
  }
  .trening-card__sale {
    position: absolute;
  }
  .trening-card__image img {
    width: 104px;
  }
  .trening-card__button {
    display: none;
  }
  .blue-box h3 {
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
  }
  .abonements__content {
    padding-top: 50px;
  }
  .raspisanie__bottom-dots,
  .raspisanie__top-dots {
    right: 0;
    left: auto;
  }

  .raspisanie__ellipse {
    left: 0;
  }
  .card-item__label {
    opacity: 1;
    top: 0;
    right: 0;
  }
  .card-item {
    flex-direction: column;
    align-items: center;
  }
  .card-item__image {
    margin-right: 0;
  }
  .trening-main .submit-button {
    font-size: 16px;
    padding: 16px;
  }
  .plan__info ul {
    margin-right: 0;
    max-width: 511px;
  }
  .plan__title {
    font-size: 20px;
  }
  .reviews-slider__content {
    margin: 0;
    max-width: 100%;
  }
  .reviews-slider__item {
    margin: 0 0px 20px;
  }
  .reviews-slider__item {
    width: 100%;
    overflow: hidden;
    justify-content: center;
  }
  .image-list .our-team__image-box:before {
    right: 0;
  }
  .reviews-slider .slick-next {
    right: 0px !important;
  }
  .reviews-slider .slick-prev {
    left: 0px !important;
  }
  .reviews-slider {
    background: #F4F8FB;
    padding: 120px 0 135px;
  }
  .points__content, .image-list__content, .plan__content, .discounts {
    padding: 50px 20px;
  }
  .discounts__image {
    img {
      width: 100%;
    }
  }
  .plan__info {
    flex-direction: column;
  }
  .plan__img {
    img {
      width: 100%;
    }
  }
  .marked-list {
    flex-direction: column;
  }
  .why-we {
    padding: 50px 0;
  }

  .why-we__list {
    padding: 0;
  }

  .top-banner__text {
    font-size: 16px;
  }

  .submit-button {
    font-size: 16px;
    padding: 14px 23px;
  }

  .section-title {
    font-size: 30px;
    line-height: 35px;
  }

  .top-banner::before,
  .top-banner__video {
    height: 600px;
  }

  .play-btn {
    top: 40%;
  }

  .close-events__list {
    padding: 0;
  }

  .signup-course__title {
    font-size: 22px;
    line-height: 27px;
  }

  .signup-course__text {
    font-size: 16px;
  }

  .signup-course__new-price {
    font-size: 22px;
    font-weight: bold;
  }

  .signup-course__old-price {
    font-size: 16px;
  }

  .signup-course__image {
    width: 100%;
  }

  .we-pro__info {
    padding: 50px 0;
  }

  .we-pro {
    padding: 50px 0;
  }

  .why-we__sub-title {
    font-size: 16px;
    line-height: 22px;
  }

  .why-we__text {
    font-size: 16px;
  }

  .our-members .section-title {
    line-height: 35px;
  }

  p {
    font-size: 16px;
  }

  .kurs__bottom .submit-button {
    font-size: 16px;
    padding: 14px 55px;
  }

  .slick-next {
    right: 50px !important;
    bottom: -125px;
    top: auto!important;
    width: 57px!important;
    height: 12px!important;
    background: url('%=static=%content/icon-long-green-arrow.svg')!important;
    transform: rotate(180deg)!important;
  }

  .slick-prev {
    left: 50px !important;
    bottom: -131px;
    top: auto!important;
    width: 57px!important;
    height: 12px!important;
    background: url('%=static=%content/icon-long-green-arrow.svg')!important;
  }

  .signup {
    padding: 80px 0;
  }

  .signup__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .input-field  {
    padding: 28px 20px;
  }

  .signup__content:after {
    display: none;
  }

  .our-team {
    padding: 80px 0;
  }

  .blog-control__tabs.our-team {
    padding: 10px 0;
  }

  .our-team__image-box:before {
    height: 353px;
  }

  .kurs--mirrored .trenings__wrapper {
    padding-left: 0;
  }

  .we-pro__image,
  .our-team__image-box img {
    width: 100%;
  }

  .we-pro__image-box:after {
    display: none;
  }

  .our-members__button .submit-button {
    font-size: 16px;
  }


}
