// File for scss-vars.
// For example: main colors, paddings and so on.
$darkBlack: #000;
$black: #333;
$lightBlack: #4F4F4F;
$green: #00BD84;
$white: #fff;
$lightBlue: #E7FBFF;
$lighterBlue: #EFFCFF;
$grey: #828282;
$greyLight: #F4F8FB;
$greyDark: #BDBDBD;
$red: #ED8F71;
