.footer {
  background: linear-gradient(0.13deg, #E7FBFF 11.03%, rgba(231, 251, 255, 0) 140.57%);
  padding: 28px 0;

  &__content {
    max-width: 1130px;
    margin: 0 auto;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    padding: 30px 32px 0;
  }

  &__icon-phone {
    padding: 0 14px 0 5px;
  }

  &__icon-viber {
    padding: 0 7px 0 0;
  }

  &__icon-mail {
    padding-right: 10px;
  }

  &__icon-pin {
    padding-right: 12px;
    padding-left: 3px;
  }

  &__social-icon {
    padding-right: 10px;
  }

  &__right {
    padding: 28px 0 0;
    width: 100%;
    max-width: 602px;
    margin-left: 30px;
  }

  &__submit {
    display: flex;
    position: relative;

    form {
      display: block;
      max-width: 383px;
      width: 100%;
    }
  }

  &__signup-text {
    font-size: 16px;
    padding-right: 18px;
    padding-top: 7px;
  }

  &__contact {
    font: 300 16px "Open Sans";
    margin-bottom: 14px;
  }

  &__menu-rows {
    display: flex;
    padding: 33px 0 0;

    ul {
      margin-right: 97px;
    }

    li {
      margin-bottom: 12px;
    }

    a {
      font-size: 16px;
      font-weight: 300;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__copy {
    padding: 11px 0 0 31px;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 14px;
      font-weight: 300;
      color: $grey;
      line-height: 20px;
      margin-bottom: 0;

      &:last-child {
        max-width: 612px;
        text-align: right;
      }
    }


  }
}

.simple-field {
  border-radius: 120px;
  border: none;
  font-size: 16px;
  font-family: "Open Sans";
  background: $white;
  padding: 12px 24px 13px;
  width: 100%;
  outline: none;
}

.submit-button.submit-button__round {
  position: absolute;
  right: 4px;
  top: 3px;
  padding: 11px 12px 11px 16px;
}

// Responsive
@media (max-width: 1400px) {
  .footer {
    padding: 0 20px;
  }
}
@media (max-width: 1024px) {
  .footer {
    padding: 30px 20px;
  }

  .footer__info {
    align-items: center;
  }

  .footer__menu-rows {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer__info {
    flex-direction: column;
  }

  .footer__logo {
    display: none;
  }

  .footer__submit {
    flex-direction: column;
    align-items: center;
  }

  .footer__submit form {
    position: relative;
  }

  .footer__copy p:last-child {
    display: none;
  }

  .footer__right {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .top-banner__logo {
    display: none;
  }
  .footer__contacts {
    padding: 30px 0 0;
  }
  .footer__menu-rows ul {
    margin-right: 30px;
  }
}
