<section class="footer">
  <div class="footer__content">
    <div class="footer__info">
      <div class="footer__left">
        <a class="footer__logo" href="#"><img src="%=static=%img/content/logo-footer.svg" alt="Logo"></a>
        <div class="footer__contacts">
          <a class="footer__contact vertical-align" href="tel:+380973344505"><img class="footer__icon-phone" src="%=static=%img/content/icon-phone-grey.svg" alt="phone">097 33 44 505</a>
          <p class="footer__contact vertical-align"><img class="footer__icon-viber" src="%=static=%img/content/icon-viber.svg" alt="viber">066 33 44 509</p>
          <a class="footer__contact hide-mobile vertical-align" href="mailto:info@zhivoeslovo.com">
            <img class="footer__icon-mail" src="%=static=%img/content/icon-mail-grey.svg" alt="mail">info@zhivoeslovo.com
          </a>
          <a class="footer__contact hide-mobile vertical-align" targe="_blank" href="https://www.google.com/maps/search/%D0%B3.%D0%94%D0%BD%D0%B5%D0%BF%D1%80,+%D1%83%D0%BB.%D0%92%D0%BE%D1%81%D0%BA%D1%80%D0%B5%D1%81%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+(%D1%83%D0%BB.%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0),+27%2F35/@48.4633626,35.0357084,17z/data=!3m1!4b1">
            <img class="footer__icon-pin" src="%=static=%img/content/icon-pin-grey.svg" alt="pin">г.Днепр, ул.Воскресенская (ул.Ленина), 27/35
          </a>
          <div class="footer__social hide-mobile">
            <a class="footer__social-icon" href="https://www.youtube.com/channel/UC4Vf14JEZbaZAQk2J8CQyWA" target="_blank">
              <img src="%=static=%img/content/icon-youtube.svg" alt="youtube" />
            </a>
            <a class="footer__social-icon" href="https://www.facebook.com/profile.php?id=100007331735732" target="_blank">
              <img src="%=static=%img/content/icon-facebook.svg" alt="facebook" />
            </a>
          </div>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__submit">
          <p class="footer__signup-text">Подписаться на рассылку</p>
          <form action="">
            <input type="email" class="simple-field" placeholder="Введите адрес эл.почты">
            <button type="submit" class="submit-button submit-button__round">
              <img src="%=static=%img/content/arrow-right-small.svg" alt="arrow" />
            </button>
          </form>
        </div>
        <div class="footer__menu">
          <div class="footer__menu-rows">
            <ul>
              <li><a href="#">Тренинги</a></li>
              <li><a href="#">Курсы</a></li>
              <li><a href="#">Консультации</a></li>
              <li><a href="#">Расписание</a></li>
              <li><a href="#">Отзывы</a></li>
            </ul>
            <ul>
              <li><a href="#">Акции</a></li>
              <li><a href="#">Для бизнеса</a></li>
              <li><a href="#">О нас</a></li>
              <li><a href="#">Блог</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__copy">
      <p>© 2004-2019 Живое Слово</p>
      <p>Использование материалов, размещённых на сайте, разрешается только при наличии активной ссылки на данный ресурс.</p>
    </div>
  </div>
</section>
