<header id="header" class="header">
  <div id="top-header" class="top-header content">
    <a class="logo" href="#"><img src="%=static=%img/content/logo.svg" alt="Logo"></a>
    <ul class="top-header__menu">
      <li><a href="about.html">О нас</a></li>
      <li><a href="blog.html">Блог</a></li>
      <li><a href="contacts.html">Контакты</a></li>
    </ul>
    <div class="top-header__info">
      <div class="top-header__contacts">
        <div class="top-header__contacts-item top-header__contacts-item--trigger">
          <p class="top-header__phones vertical-align"><img class="top-header__contacts-image" src="%=static=%img/content/icon-phone.svg" alt="phone">097 33 44 505</p>
          <div class="contacts-dropdown">
            <p>
              <a class="vertical-align" href="tel:+380973344505">
                <img class="contacts-dropdown__image" src="%=static=%img/content/icon-phone-call.svg" alt="phone call">097 33 44 505
              </a>
            </p>
            <p>
              <a class="vertical-align" href="tel:+380663344509">
                <img class="contacts-dropdown__image" src="%=static=%img/content/icon-phone-call.svg" alt="phone call">066 33 44 509
              </a>
            </p>
            <p class="contacts-dropdown__title">Почта:</p>
            <a class="vertical-align" href="mailto:info@zhivoeslovo.com">
              <img class="contacts-dropdown__image" src="%=static=%img/content/icon-mail.svg" alt="mail">info@zhivoeslovo.com
            </a>
            <p class="contacts-dropdown__title">Адрес:</p>
            <a class="vertical-align" targe="_blank" href="https://www.google.com/maps/search/%D0%B3.%D0%94%D0%BD%D0%B5%D0%BF%D1%80,+%D1%83%D0%BB.%D0%92%D0%BE%D1%81%D0%BA%D1%80%D0%B5%D1%81%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+(%D1%83%D0%BB.%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0),+27%2F35/@48.4633626,35.0357084,17z/data=!3m1!4b1">
              <img class="contacts-dropdown__image" src="%=static=%img/content/icon-pin.svg" alt="pin">г.Днепр, ул.Воскресенская (ул.Ленина), 27/35
            </a>
          </div>
        </div>
        <div class="top-header__contacts-item">
          <p class="vertical-align"><img class="top-header__contacts-image" src="%=static=%img/content/icon-viber.svg" alt="viber">066 33 44 509</p>
        </div>
      </div>
      <div class="top-header__social">
        <a class="top-header__social-item" href="https://www.youtube.com/channel/UC4Vf14JEZbaZAQk2J8CQyWA" target="_blank">
          <img src="%=static=%img/content/icon-youtube.svg" alt="youtube" />
        </a>
        <a class="top-header__social-item" href="https://www.facebook.com/profile.php?id=100007331735732" target="_blank">
          <img src="%=static=%img/content/icon-facebook.svg" alt="facebook" />
        </a>
      </div>
      <div class="top-header__profile vertical-align">
        <a class="top-header__profile-item login-trigger top-header__profile-item--logged" href="#">
          <!-- for logged out users -->
          <!-- <img class="top-header__profile-image top-header__profile-image--logged-out" src="%=static=%img/content/icon-profile.svg" alt="profile" />Мой кабинет -->
          <img class="top-header__profile-image" src="%=static=%img/content/user.png" alt="profile" />Мой кабинет
        </a>
        <!-- login popup -->
        <div class="login-popup login">
          <div class="login-popup__content">
            <h3 class="login-popup__title">Вход в личный кабинет</h3>
            <div class="login-popup__form">
              <form action="">
                <input class="login-popup__input" type="email" placeholder="Адрес эл. почты">
                <input class="login-popup__input login-popup__input--password" type="password" placeholder="Пароль">
                <div class="login-popup__footer">
                  <div class="login-popup__button">
                    <a href="#" class="login-popup__link">Забыли пароль?</a>
                    <button class="submit-button" type="submit">Войти</button>
                  </div>
                  <div class="login-popup__social">
                    <a href="#" class="login-popup__link register-trigger">Регистрация</a>
                    <div class="login-popup__social-login">
                      или
                      <a class="login-popup__spaced-btn" href="#"><img src="%=static=%img/content/icon-enter-facebook.svg" alt="facebook"></a>
                      <a href="#"><img src="%=static=%img/content/icon-enter-google.svg" alt="google"></a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- register popup -->
        <div class="login-popup register">
          <div class="login-popup__content">
            <h3 class="login-popup__title">Регистрация</h3>
            <div class="login-popup__form">
              <form action="">
                <input class="login-popup__input" type="email" placeholder="Адрес эл. почты">
                <input class="login-popup__input" type="password" placeholder="Пароль">
                <input class="login-popup__input login-popup__input--password" type="password" placeholder="Повторите Пароль">
                <div class="align-right">
                  <a href="#" class="login-popup__link login-popup__link--align-right">Уже зарегистрированы?</a>
                </div>
                <div class="login-popup__footer login-popup__footer--register">
                  <div class="login-popup__button">
                    <button class="submit-button" type="submit">Зарегистрироватся</button>
                  </div>
                  <div class="login-popup__social">
                    <p class="login-popup__text">или зарегистрироватся с помощью</p>
                    <div class="login-popup__social-login">
                      <a class="login-popup__spaced-btn" href="#"><img src="%=static=%img/content/icon-enter-facebook.svg" alt="facebook"></a>
                      <a href="#"><img src="%=static=%img/content/icon-enter-google.svg" alt="google"></a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom-header" class="bottom-header">
    <menu class="menu">
      <ul>
        <li class="trenings">
          <!-- for active page  -->
          <!-- <a class="active" href="#">Тренинги</a> -->
          <a href="#">Тренинги</a>
          <ul class="trenings__list">
            <div class="trenings__column">
              <h3 class="trenings__title">Риторика</h3>
              <ul>
                <li><a href="#">Ораторское искусство (базовый курс)</a></li>
                <li><a href="#">Ораторское искусство</a></li>
                <li><a href="#">Ораторское мастерство (углубленный курс)</a></li>
                <li><a href="#">Правила составления речи</a></li>
                <li><a href="#">Работа с голосом</a></li>
                <li><a href="#">Речевые манипуляции</a></li>
                <li><a href="#">Разрешение споров</a></li>
                <li><a href="#">Управления конфликтами</a></li>
              </ul>
              <h3 class="trenings__title">Игры</h3>
              <ul>
                <li><a href="#">Сатори</a></li>
              </ul>
            </div>
            <div class="trenings__column">
              <h3 class="trenings__title">Психологические тренинги</h3>
              <ul>
                <li><a href="#">Тренинг "Принятие себя = Принятие других"</a></li>
                <li><a href="#">Метафизика здоровья</a></li>
                <li><a href="#">Успех и счастье своими руками</a></li>
                <li><a href="#">Работа с родом</a></li>
                <li><a href="#">Идеальное целеполагание</a></li>
                <li><a href="#">Соционика</a></li>
                <li><a href="#">Физиогномика</a></li>
                <li><a href="#">Системные расстановки по Хеллингеру</a></li>
                <li><a href="#">Моделирование реальности</a></li>
                <li><a href="#">Тренинг Деньги</a></li>
                <li><a href="#">Как найти свое предназначение</a></li>
                <li><a href="#">Тренинг отношений</a></li>
                <li><a href="#">Тренинг Мужчина и Женщина</a></li>
                <li><a href="#">Женский тренинг</a></li>
                <li><a href="#">Сценарий судьбы</a></li>
                <li><a href="#">Тренинг Манипуляции</a></li>
                <li><a href="#">Исцеление внутреннего ребенка</a></li>
              </ul>
            </div>
            <div class="trenings__column trenings__column--left-space">
              <div class="trenings__wrapper">
                <img class="trenings__image" src="%=static=%img/content/trenings-feature.jpg" alt="trenings image">
                <div class="trenings__feature">
                  <h3 class="trenings__feature-title">Ораторское искусство</h3>
                  <h4 class="trenings__feature-subtitle">Продолжительность:</h4>
                  <p class="trenings__feature-text">10 месяцев</p>
                  <h4 class="trenings__feature-subtitle trenings__feature-subtitle--price">Стоимость:</h4>
                  <p class="trenings__feature-text">2500 грн</p>
                  <div class="trenings__button">
                    <button class="submit-button">Записаться</button>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </li>
        <li class="menu-dropdown">
          <a href="#">Школы</a>
          <ul class="menu-dropdown-content">
            <ul>
              <li><a href="#">Школа Духовный код личности</a></li>
              <li><a href="#">Школа развития личности</a></li>
              <li><a href="#">Школа осознанных отношений</a></li>
              <li><a href="#">Школа осознанных отношений + Родительство</a></li>
            </ul>
          </ul>
        </li>
        <li class="menu-dropdown">
          <a href="#">Консультации</a>
          <ul class="menu-dropdown-content">
            <ul>
              <li><a href="#">Астролог</a></li>
              <li><a href="#">Психолог</a></li>
              <li><a href="#">Биоэнерготерапия</a></li>
              <li><a href="#">Дизайн человека</a></li>
            </ul>
          </ul>
        </li>
        <li><a href="#">Расписание</a></li>
        <li><a href="#">Отзывы</a></li>
        <li><a href="#">Акции</a></li>
        <li class="menu-dropdown no-right-padding">
          <a href="#">Для бизнеса</a>
          <ul class="menu-dropdown-content last-item">
            <ul>
              <li><a href="#">Ораторское искусство</a></li>
              <li><a href="#">Бизнес-коммуникация</a></li>
            </ul>
          </ul>
        </li>
        <li class="show-mobile"><a href="about.html">О нас</a></li>
        <li class="show-mobile"><a href="blog.html">Блог</a></li>
        <li class="show-mobile"><a href="contacts.html">Контакты</a></li>
      </ul>
    </menu>
  </div>
</header>
<div id="close" class="close-btn">close</div> 
<div class="overlay"></div>
