.header {
  position: relative;
  z-index: 20;
  background: $white;
  transition: .2s;

  &--sticky {
    position: sticky;
    top: 0;
    transition: .2s;
    box-shadow: 0px 4px 30px rgba(179, 194, 198, 0.3);
  }

  &--sticky-bottom {
    position: sticky;
    top: -60px;
    transition: .2s;
    box-shadow: 0px 4px 30px rgba(179, 194, 198, 0.3);
  }
}
.top-header {
  display: flex;
  padding: 20px 0 18px;
  justify-content: space-between;
  position: relative;
  z-index: 20;

  &__menu {
    display: flex;

    li {
      padding: 0 30px;
    }

    a {
      font-size: 18px;
      transition: .2s;

      &.active {
        color: $green;
      }

      &:hover {
        color: $green;
      }
    }
  }

  &__info {
    display: flex;
    margin-top: -21px;
  }

  &__contacts {
    display: flex;
    padding-top: 18px;
  }

  &__phones {
    cursor: pointer;
  }

  &__contacts-item {
    display: flex;
    align-items: center;
    padding: 0 16px;

    &--trigger {
      position: relative;

      &:hover {
        .contacts-dropdown {
          display: block;
        }
      }
    }
  }

  &__contacts-image {
    padding-right: 15px;
  }

  &__social {
    display: flex;
    align-items: center;
    padding-left: 63px;
  }

  &__social-item {
    padding: 0 11px;
  }

  &__profile {
    padding-left: 40px;
  }

  &__profile-image {
    margin-right: 10px;
    width: 32px;
    height: 32px;

    &--logged-out {
      width: auto;
      height: auto;
    }
  }

  &__profile-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;

    &--logged {
      color: $green;
    }
  }
}

.logo {
  position: absolute;
  left: -2px;
  top: 62px;
  transition: .2s;
}

.contacts-dropdown {
  box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
  border-radius: 10px;
  background: $white;
  display: none;
  width: 322px;
  padding: 10px 23px 23px;
  position: absolute;
  top: -7px;
  left: 170px;
  z-index: 30;

  &__title {
    font-weight: 600;
    color: $darkBlack;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 2px;
  }

  a {
    transition: .2s;

    &:hover {
      color: $green;
    }
  }

  p {
    margin-bottom: 10px;
  }

  &__image {
    padding-right: 15px;
  }
}

.no-right-padding {
  padding-right: 0!important;
}

.bottom-header {
  display: flex;
  justify-content: flex-end;
  padding: 8px 0 20px;
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  z-index: 15;
}

.home {
  .logo {
    display: none;
  }

  .bottom-header {
    justify-content: flex-end;
    position: relative;
  }

  .header {
    &--sticky-bottom {
      top: -72px;
    }
  }
}

.menu {
  > ul {
    display: flex;

    > li {
      padding: 0 22px;

      > a {
        border-bottom: 2px solid transparent;
        font-size: 22px;
        padding: 0 2px 8px;
        transition: .2s;

        &.active, &:hover {
          border-bottom: 2px solid $green;
        }
      }
    }
  }
}

.trenings {
  &__list {
    background: $white;
    box-sizing: border-box;
    display: none;
    justify-content: space-between;
    box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 46px;
    padding: 48px 57px;
    z-index: 30;
    width: 100%;
    height: 90vh;
    overflow: auto;
  }

  &:hover {
    .trenings__list {
      display: flex;
    }
  }

  &__column {
    position: relative;
    margin-right: 70px;

    a {
      font-size: 20px;
      line-height: 200%;
      padding: 5px 0;
      transition: .2s;

      &:hover {
        color: $green;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &--left-space {
      margin-left: 160px;
    }

    ul {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 100;
    color: $green;
    border-bottom: solid 2px $green;
    padding-bottom: 11px;
    margin-bottom: 10px;
  }

  &__wrapper {
    padding: 47px 27px 0 0;

    &::before {
      content: "";
      display: block;
      background: $lightBlue;
      width: 418px;
      height: 490px;
      position: absolute;
      z-index: 0;
      top: -4px;
      right: 0;
    }

    &::after {
      content: "";
      display: block;
      background: url("%=static=%content/points.svg");
      position: absolute;
      width: 217px;
      height: 246px;
      left: -137px;
      top: 0;
    }
  }

  &__image {
    max-width: 415px;
    border-radius: 0px 40px 0px 0px;
    position: relative;
    z-index: 10;
  }

  &__feature {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(179, 194, 198, 0.3);
    border-radius: 20px 0px;
    padding: 32px 27px 12px;
    position: absolute;
    top: 229px;
    left: -230px;
    z-index: 10;
    max-width: 445px;
    width: 100%;
  }

  &__feature-title {
    font-size: 30px;
    margin-bottom: 35px;
    font-weight: 400;
  }

  &__feature-subtitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__feature-text {
    font-size: 22px;
    color: $grey;
    margin-top: 0;
    margin-bottom: 26px;
  }

  &__button {
    position: absolute;
    right: 40px;
    bottom: 29px;
  }
}

.menu-dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
  border-radius: 10px;
  background: $white;
  top: 37px;
  left: -19px;
  max-width: 454px;
  min-width: 320px;
  padding: 47px 47px 25px;

  &.last-item {
    right: 0;
    left: auto;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    font-size: 20px;
    transition: .2s;

    &:hover {
      color: $green;
    }
  }
}

.menu-dropdown {
  position: relative;

  &:hover {
    .menu-dropdown-content {
      display: block;
    }
  }
}

.popup {
  max-width: 860px;
  margin: 0 auto;
  background: url("%=static=%content/bg-popup.png") no-repeat;
  text-align: center;
  padding: 84px 53px 23px;
  background-position: center bottom;
  position: relative;
  overflow: hidden;

  &__subtitle {
    font-size: 24px;
  }

  &__form {
    max-width: 464px;
    margin: 0 auto;
    padding: 21px 0;
  }

  &__form-label {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    margin-bottom: 11px;
  }

  &__input {
    border: 1px solid $green;
    box-sizing: border-box;
    border-radius: 16px;
    width: 100%;
    height: 78px;
    padding: 30px;
    outline: none;
    font-size: 18px;
    color: $black;
    margin-bottom: 20px;
  }

  &__submit {
    padding: 22px 12px;

    .submit-button {
      width: 100%;
      text-align: center;
      padding: 27px;
      text-align: center;
      display: block;
      font-size: 22px;
      letter-spacing: 0.05em;
    }
  }

  &__footer-text {
    font-size: 24px;
    line-height: 29px;
  }

  &__top-dots {
    position: absolute;
    left: -79px;
    top: 260px;
    transform: rotate(90deg);
  }

  &__bottom-dots {
    position: absolute;
    right: -116px;
    bottom: 92px;
    transform: rotate(90deg);
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
  }

  // Custom
  .selectric {
    border: 1px solid $green;
    box-sizing: border-box;
    border-radius: 16px;
    width: 100%;
    height: 78px;
    padding: 17px;
    outline: none;
    font-size: 18px;
    color: $black;
    margin-bottom: 20px;
    background: $white;
    vertical-align: center;

    .label {
      color: $black;
      font-size: 18px;
      text-align: left;
    }

    .button {
      background: none;
      right: 12px;
      top: 20px;

      &:after {
        background: url("%=static=%content/icon-angle-down.svg") no-repeat;
        width: 25px;
        height: 15px;
        border: none;
      }
    }
  }

  .selectric-items {
    background: $white;
    border-radius: 18px;
    box-shadow: 0px 4px 30px rgba(179, 194, 198, 0.3);
    border: none;

    li {
      text-align: left;
      font-size: 18px;
      color: $black;
      padding: 29px;
      transition: .2s;

      &:hover {
        background: $greyLight;
      }

      &.selected {
        background: $lightBlue;
      }
    }
  }
}

.modal-dialog {
  max-width: 860px;
}

.login-popup {
  background: $white;
  box-shadow: 0px 3px 5px rgba(17, 18, 22, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.12), 0px 8px 20px rgba(22, 23, 28, 0.06);
  border-radius: 10px;
  max-width: 628px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 63px;
  z-index: 50;
  display: none;

  &__content {
    max-width: 444px;
    width: 100%;
    margin: 0 auto;
    padding: 51px 0 69px;
  }

  &__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 37px;
  }

  &__input {
    border: 1px solid #00BD84;
    border-radius: 40px;
    font-size: 22px;
    font-family: "Open Sans";
    padding: 16px 26px;
    width: 100%;
    margin-bottom: 24px;
    outline: none;

    &--password {
      margin-bottom: 7px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    &--register {
      flex-direction: column;
      justify-content: center;

      .login-popup__button {
        display: flex;
        justify-content: center;
      }

      .login-popup__social {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
      }

      .login-popup__social-login {
        display: flex;
        justify-content: center;
      }

      .login-popup__text {
        margin-bottom: 8px;
      }

      .submit-button {
        width: 294px!important;
        margin-bottom: 29px;
      }

      .login-popup__spaced-btn {
          margin: 0 36px 0 0;
      }
    }
  }

  &__link {
    font-size: 16px;
    border-bottom: dashed 1px $black;
    transition: .2s;
    margin: 0 10px 30px;
    display: inline-block;

    &--align-right {
      text-align: right;
    }

    &:hover {
      color: $green;
      border-bottom: dashed 1px $green;
    }
  }

  &__social {
    text-align: right;
  }

  &__social-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__spaced-btn {
    margin: 0 14px;
  }

  .submit-button {
    width: 195px;
    text-align: center;
    display: block;
  }
}

.align-right {
  text-align: right;
}

.overlay {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 19;
}

.slicknav_menu {
  display: none;
}

.show-mobile {
  display: none;
}

// Responsive
@media(max-width: 1400px) {
  .trenings__image {
    max-width: 250px;
  }

  .trenings__wrapper::before {
    width: 303px;
    height: 343px;
    top: 25px;
    right: 0;
  }

  .trenings__column--left-space {
    margin-left: 80px;
  }

  .trenings__feature {
    width: 400px;
    left: -135px;
  }

  .header {
    padding: 0 20px;
  }
}

@media (max-width: 1200px) {
  .menu > ul > li > a {
    font-size: 19px;
  }

  .top-header__menu a {
    font-size: 16px;
  }

  .top-header__menu li {
    padding: 0 20px;
  }

  .top-header__social {
    padding-left: 40px;
  }

  .trenings__column {
    margin-right: 25px;
  }

  .trenings__wrapper::after {
    left: -55px;
  }

  .play-btn {
    left: 65%;
  }

  .trenings__feature {
    width: 400px;
    left: -85px;
    top: 290px;
  }

  .trenings__column a {
    font-size: 18px;
  }
}

@media (max-width: 1025px) {
  .popup .selectric .label {
    font-size: 16px;
  }
  .popup__footer-text {
    font-size: 16px;
    line-height: 22px;
  }
  .popup__subtitle {
    font-size: 16px;
  }
  .popup__submit .submit-button {
    padding: 13px;
    font-size: 16px;
  }
  .popup__input,
  .popup .selectric {
    height: 50px;
    padding: 24px;
  }
  .popup .selectric {
    padding: 4px 17px;
  }
  .popup .selectric .button {
    background: none;
    right: 12px;
    top: 7px;
  }
  .popup {
    padding: 45px 20px 23px;
  }
  .popup__bottom-dots,
  .popup__top-dots {
    display: none;
  }
  .login-popup {
    right: -118px;
  }
  .top-header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -13px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    padding-top: 0;
  }

  .top-header__profile-image {
    margin-right: 12px;
  }

  .bottom-header {
    padding: 0;
  }

  .contacts-dropdown {
    top: 31px;
    right: 0;
    left: auto;

    a {
      font-size: 16px;
    }
  }

  .top-header__contacts-item--trigger {
    position: static;
  }

  .slicknav_menu {
    display: block;
    padding-top: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: $white;
    z-index: 15;
    box-shadow: 0px 4px 30px rgba(179, 194, 198, 0.3);
  }

  .header {
    margin-right: 50px;
    box-shadow: none;
    &--sticky-bottom {
      top: 0;
    }
  }

  .home .header--sticky-bottom {
    top: 0;
  }

  .menu {
    display: none;
  }

  .top-header__menu {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  .slicknav_menutxt {
    text-indent: -9999px;
    display: block;
    position: relative;
    display: block;
    padding-bottom: 16px;
  }

  .slicknav_icon-bar {
    height: 2px;
    background: $black;
    margin-bottom: 5px;
    display: block;
    width: 25px;
    margin-bottom: 7px;
  }

  .slicknav_open {
    .slicknav_icon-bar {
      transform: rotate(135deg);

      &:first-child {
        display: none;
      }

      &:last-child {
        transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
        margin-top: -9px;
      }
    }
  }

  .slicknav_icon {
    position: absolute;
    right: 16px;
    top: 13px;
    z-index: 101;
  }

  .top-header__social {
    display: none;
  }

  .top-header__contacts {
    &-item {
      display: none;
    }

    &-item--trigger {
      display: block;

      > p {
        display: none;
      }

      >p img {
        display: none;
      }
    }
  }

  .top-header__profile-item {
    font-size: 0;
    position: absolute;
    right: -62px;
    top: 1px;
  }

  .top-header__profile {
    position: absolute;
    width: 100%;
  }

  .top-header {
    padding: 0;
  }

  .top-header__profile-image--logged-out {
    width: 22px;
    height: 29px;
  }

  .header {
    padding: 10px 20px;
  }

  .slicknav_open {
    .slicknav_icon {
      top: 21px;
    }
  }

  .top-header__contacts {
    font-size: 0;
    background: url('%=static=%content/icon-phone-call-grey.svg') 8px 16px no-repeat;
    height: 42px;
    width: 36px;
  }
  .home .logo {
    // display: block;
  }
  .logo {
    position: absolute;
    top: -7px;
    left: -13px;
    width: 140px;

    img {
      width: 100%;
    }
  }
  .slicknav_nav {
    position: relative;
    z-index: 49;
    background: $white;
    top: -3px;
    padding: 20px;

    li {
      margin-bottom: 11px;
    }

    a {
      font-size: 20px;
    }
  }
  .slicknav_parent {


  }

  .menu-dropdown {
    .menu-dropdown-content {
      display: block;
      position: static;
      box-shadow: none;
      padding: 19px 17px;

      li {
        margin-bottom: 16px;
      }

      a {
        font-size: 14px;
        color: #4A4A4A;
      }
    }
  }

  .slicknav_arrow {
    background: url('%=static=%content/icon-chevron-right-black.svg') no-repeat;
    font-size: 0;
    width: 8px;
    height: 14px;
    display: block;
  }

  .slicknav_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .slicknav_open {
    .slicknav_arrow {
      transform: rotate(90deg);
    }
  }

  .trenings {
    &:hover {
      .trenings__list {
        display: block;
      }
    }
    .trenings__list {
      display: block;
      box-shadow: none;
      position: static;
      padding: 19px 17px;

      .trenings__column {
        a {
          font-size: 14px;
          color: #4A4A4A;
        }
      }
    }
  }

  .trenings__title {
    font-size: 16px;
    border: none;
    margin: 0 0 0 -15px;
  }

  .trenings__column--left-space {
    display: none;
  }

  .play-btn {
    width: 80px;
    height: 80px;
    left: 50%;

    img {
      width: 100%;
    }
  }

  .trenings__feature {
    position: static;
  }

  .trenings__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .contacts-dropdown {
    right: -20px;
  }
  .trenings__wrapper {
    padding: 47px 0px 0 0;
  }
  .trenings__feature {
    width: 100%;
    margin: 0;
  }

  .trenings__button {
    position: static;
  }

  .signup-course__item {
    width: 100%;
  }

  .login-popup__title {
    font-size: 20px;
  }

  .login-popup__content {
    padding: 51px 20px 69px;
  }

  .login-popup__input {
    font-size: 16px;
  }

  .login-popup__link {
    font-size: 12px;
  }

  .login-popup__footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .register-trigger {
    position: absolute;
    top: 4px;
    right: 0;
  }

  .login-popup__button {
    width: 100%;
  }

  .login-popup .submit-button {
    margin: 0 auto 20px;
  }
}
